html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  /*font-family: Arial, Helvetica, sans-serif;*/
}

body:lang(ja) {
  font-family: meiryo, Arial, Helvetica, sans-serif;
}

.boilerplate-view {
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.boilerplate-loading-indicator {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #fff;
}

.boilerplate--loading .boilerplate-loading-indicator {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/loading.gif);
}

.boilerplate--error .boilerplate-loading-indicator {
  display: block;
}

.boilerplate-loading-message {
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}

/* Calcite Maps */

.calcite-popup-content {
  color: #6e6e6e; 
  font-size: 13px;
  margin-left: 0px;
  margin-right: -7px;
}

.calcite-popup-filter {
  margin-left: -7px;
  margin-bottom: 2px;
  -webkit-user-select: none;
}

.esri-popup .esri-popup__size-container {
  z-index: 10;
}

.esri-popup__header-title {
  font-size: 15px;
}

.esri-popup .calcite-title-left-margin {
  margin-left: 15px;
}

.calcite-map .esri-popup .esri-popup-collapsed .esri-popup__header-title {
    padding: 9px 15px 5px;
}

.calcite-map .esri-popup .esri-popup-collapsed .esri-popup__header .esri-popup__button {
    padding: 11px 7px 10px;
}

.dropdown-toggle {
  background-color: transparent;
}

.dropdown-menu span.glyphicon {
  margin-right: 2px;
}

#panelLegend .panel-body {
  background-color: white;
}

.slide-map {
  display: block;
  position: static;
  height: 62px;
  width: 114px;
  margin: 0 auto;
}

#carouselSlides {
  margin-bottom: 25px;
}

#carouselSlides .carousel-indicators {
  bottom: -30px;
  margin-bottom: 0;
  width: 100%;
  margin-left: -50%;
}

#carouselSlides .carousel-indicators > li {
  background-color: #929292;
}

#carouselSlides .item {
  text-align: center;
  padding: 24px 0 0;
}

#carouselSlides .item img {
  margin: 0 auto;
  /*border: 5px solid transparent;*/
}

#carouselSlides .item {
  text-align: center;
}

#carouselSlides .carousel-caption {
  top: -23px;
  left: 0;
  right: 0;
  text-shadow: none;
  font-size: 12px;
  font-weight: 400;
}

.calcite-text-dark .carousel-caption {
  color: #777;
}

.calcite-text-light .carousel-caption {
  color: #dedede;
}

#carouselSlides .carousel-control {
  margin: 20px 20px 0;
  background-image: none;
}

#carouselSlides .carousel-control > span {
  font-size: 22px;
  color: #adadad;
}

.calcite-alert {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  margin: 0;
  padding: 7px 10px;
  border: none;
  z-index: 2000;
}

.calcite-alert .alert-left {
  order: 1;
  font-size: 17px;
}

.calcite-alert .alert-message{
  order: 2;
  flex-grow: 2;
  margin-right: -50px; /*hide scroll */
  padding: 2px 40px 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 12px;
}

.calcite-alert.alert-dismissible .close {
  top: auto;
  right: auto;
  font-size: 17px;
}

.calcite-alert .alert-right {
  order: 3;
  font-size: 12px;
}

.calcite-coords-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  max-height: 24px;
  min-width: 380px;
  margin: 0 auto;
  display: block;
  text-align: center;
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/
  color: #323232;
  background-color: rgba(255,255,255,0.9);
  font-size:  11px;
}

.calcite-coords {
  display: inline-block;
  padding: 3px 3px 1px;
}

.calcite-coords-share {
  float: right;
  padding: 5px 5px 4px;
}

.calcite-coords-share:focus,
.calcite-coords-share:hover {
  /*color: #f2f2f2;*/
  background-color: rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .calcite-coords-container {
    min-width: 245px;
  }
  .calcite-coords {
    padding: 2px 4px 0;
  }

}

/* Calcite Maps TODO */

@media (min-width: 767px) {

  .calcite-nav-top.calcite-layout-small-title.calcite-nav-hidden .calcite-panels.calcite-panels-left {
    top: 55px;
  }  

  .calcite-nav-top.calcite-nav-hidden .calcite-panels.calcite-panels-left {
    top: 65px;
  }

  .calcite-nav-top.calcite-layout-medium-title.calcite-nav-hidden .calcite-panels.calcite-panels-left {
    top: 75px;
  }  
}

.esri-ui-bottom-left, .esri-ui-bottom-right {
  flex-flow: column nowrap;
}

.esri-ui-bottom-left .esri-widget.esri-component, 
.esri-ui-bottom-right .esri-widget.esri-component {
  margin-top: 9px;
}

.esri-ui-top-left .esri-component, 
.esri-ui-top-right .esri-component {
  margin-bottom: 9px;
}
