html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  /*font-family: Arial, Helvetica, sans-serif;*/
}

body:lang(ja) {
  font-family: meiryo, Arial, Helvetica, sans-serif;
}

.boilerplate-view {
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.boilerplate-loading-indicator {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #fff;
}

.boilerplate--loading .boilerplate-loading-indicator {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/loading.gif);
}

.boilerplate--error .boilerplate-loading-indicator {
  display: block;
}

.boilerplate-loading-message {
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}

/* Calcite Maps */

/* Find Places */

.calcite-popup-content {
  color: #6e6e6e; 
  font-size: 13px;
  margin-left: 0px;
  margin-right: -7px;
}

.calcite-popup-filter {
  margin-left: -7px;
  margin-bottom: 2px;
  -webkit-user-select: none;
}

.esri-popup .calcite-title-left-margin {
  margin-left: 15px;
}

/* Legend */

#panelLegend .panel-body {
  background-color: white;
}

/* Navigation (3D) */
.esri-navigation-toggle__button--rotate {
  border-top: 0;
}

/* Slides/Bookmarks */

.slide-map {
  display: block;
  position: static;
  height: 62px;
  width: 114px;
  margin: 0 auto;
}

#carouselSlides {
  margin-bottom: 25px;
}

#carouselSlides .carousel-indicators {
  bottom: -30px;
  margin-bottom: 0;
  width: 100%;
  margin-left: -50%;
}

#carouselSlides .carousel-indicators > li {
  background-color: #929292;
}

#carouselSlides .item {
  /*text-align: center;*/
  padding: 24px 0 0;
}

#carouselSlides .item img {
  margin: 0 auto;
  /*border: 5px solid transparent;*/
}

#carouselSlides .item {
  /*text-align: center;*/
}

#carouselSlides .carousel-caption {
  top: -23px;
  left: 0;
  right: 0;
  text-shadow: none;
  font-size: 13px;
  font-weight: 400;
}

.calcite-text-dark .carousel-caption {
  color: #777;
}

.calcite-text-light .carousel-caption {
  color: #dedede;
}

#carouselSlides .carousel-control {
  margin: 20px 20px 0;
  background-image: none;
  z-index: 100;
}

#carouselSlides .carousel-control > span {
  font-size: 22px;
  color: #adadad;
}

/* Map coords */

.calcite-coords-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);;
  bottom: 0;
  margin: 0 auto;
  display: block;
  color: #6e6e6e;
  font-size: 11px;
}

.calcite-coords {
  order: 1;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 3px 3px 2px;
  margin: 0 10px;
}

.calcite-coords-textarea {
  order: 1;
  margin: 5px 0 5px 10px;
  width: 100%;
  word-break: break-all;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.calcite-coords-icon {
  order: 2;
  padding: 5px 5px 4px;
}

.calcite-coords-icon:focus,
.calcite-coords-icon:hover {
  color: #2e2e2e
}

.calcite-coords-icon.esri-icon-share:focus,
.calcite-coords-icon.esri-icon-share:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.coords-flip-container {
  perspective: 1000px;
  -webkit-perspective: 1000px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

/* Flip container */

.coords-flip-container.flip .flipper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.coords-flip-container, .front, .back {
  width: 320px;
  background: #fff;
  z-index: 100;
}

.flipper {
  transition: transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
/*  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;*/
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* front pane, placed above back */
.front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);;
  text-align: center;
  height: 21px;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);;
  height: 65px;
}

@media (max-width: 768px) {
  .coords-flip-container, .front, .back {
    width: 170px;
  }
}

/* Alert */

.calcite-alert {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  margin: 0;
  padding: 7px 10px;
  border: none;
  z-index: 2000;
}

.calcite-alert .alert-left {
  order: 1;
  font-size: 17px;
}

.calcite-alert .alert-message{
  order: 2;
  flex-grow: 2;
  margin-right: -50px; /*hide scroll */
  padding: 2px 40px 0 10px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 12px;
}

.calcite-alert.alert-dismissible .close {
  top: auto;
  right: auto;
  font-size: 17px;
}

.calcite-alert .alert-right {
  order: 3;
  font-size: 12px;
}