html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
#bc {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.container {
  background-color: #f2f2f2;
}
.claro .dijitContentPane {
  padding: 0;
}
.panel_desc {
  padding: 4px;
}
.panel_title {
  display: none;
  padding-top: 2px;
  font-weight: bold;
  font-size: 1.2em;
}
.header_info {
  padding: 15px 2px 10px 6px;
}
#expandoPane {
  background-color: #fff;
  width: 250px;
  padding: 0px;
}
#detailPanel {
  background-color: inherit;
  padding: 4px;
  border: none;
}
.esriSimpleSlider {
  top: 10px;
  left: 5px;
}
.HomeButton {
  border-bottom: 1px solid #57585a;
  width: 30px;
  height: 30px;
}
.HomeButton .home {
  background: url("http://cdn.arcgis.com/cdn/5177/js/arcgisonline/map/css/images/home_locate.png") no-repeat 0 0;
  width: 30px;
  height: 30px;
}
.HomeButton .home:hover {
  background-color: #eee;
  width: 30px;
  height: 30px;
  padding: 0px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.loading-indicator {
/* Loading status */
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
}
.app-loading .loading-indicator,
.app-error .loading-indicator {
/* Show this class when loading or error */
  display: block;
}
.app-loading .loading-indicator {
/* Loading image */
  background-position: center center;
  background-image: url("../images/ajax-loader.gif");
  background-repeat: no-repeat;
}
.app-error .loading-message {
/* Error status */
  background-position: top center;
  background-image: url("../images/error.png");
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-giz6jb");
  src: url("../fonts/icomoon.eot?#iefix-giz6jb") format('embedded-opentype'), url("../fonts/icomoon.woff?-giz6jb") format('woff'), url("../fonts/icomoon.ttf?-giz6jb") format('truetype'), url("../fonts/icomoon.svg?-giz6jb#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-selected {
  color: #0a0a0a !important;
}
.icon-sync-container {
  position: relative;
  top: 110px;
  left: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #57585a;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.icon-sync {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  z-index: 40;
  color: #a4a4a4;
  text-shadow: 0px 0px 10px #fff;
  font-size: 1.2em;
}
.icon-sync:hover {
  background-color: rgba(164,154,154,0.14);
}
.icon-sync:active {
  background-color: rgba(113,103,103,0.14);
}
.icon-info:before {
  content: "\e600";
}
.icon-menu:before {
  content: "\e602";
}
.icon-sync:before {
  content: "\e601";
}
.icon-up:before {
  content: "\e604";
}
.icon-down:before {
  content: "\e603";
}
/*Expando Pane*/
:focus {
  outline: none;
}
.claro .dojoxExpandoClosed .dojoxExpandoTitleNode {
  display: block;
  padding-top: 40px;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 50% 84%;
  -moz-transform-origin: 50% 84%;
  -o-transform-origin: 50% 84%;
  -ms-transform-origin: 50% 84%;
  transform-origin: 50% 84%;
}
.claro .dojoxExpandoIcon {
  cursor: pointer;
  font-family: 'icomoon';
  speak: none;
  font-size: 1.2em;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  background-image: none;
}
.claro .dojoxExpandoIcon:hover {
  cursor: pointer;
  color: #a9a9a9;
}
.claro .dojoxExpandoIcon:before {
  content: "\e602";
}
.dojoxExpandoPane {
  overflow: hidden;
  z-index: 440 !important;
}
.dojoxExpandoPane .dojoxExpandoWrapper {
  width: 250px;
  overflow: hidden;
}
.dojoxExpandoClosed .dojoxExpandoTitleNode {
  display: none;
}
.dojoxExpandoClosed .dojoxExpandoWrapper * {
  overflow: hidden !important;
}
.dojoxExpandoTitleNode {
  padding-top: none;
  white-space: normal;
  padding-right: 6px;
  padding-left: 2px;
}
.dojoxExpandoIcon .a11yNode {
  display: none;
  visibility: hidden;
}
.dojoxExpandoBottom .dojoxExpandoIcon,
.dojoxExpandoTop .dojoxExpandoIcon,
.dojoxExpandoLeft .dojoxExpandoIcon {
  float: right;
  margin-right: 2px;
}
.dojoxExpandoRight .dojoxExpandoIcon {
  float: left;
  margin-left: 2px;
}
.dojoxExpandoIcon {
  width: 28px;
  cursor: pointer;
  height: 28px;
}
.dojoxExpandoClosed .dojoxExpandoIcon {
  margin: 0 auto;
}
.dijitBorderContainer-dijitExpandoPane {
  border: none !important;
}
.claro .dojoxExpandoTitle {
  color: #575757;
  font-size: 1.2em;
  padding: 5px 5px 5px 5px;
  min-height: 18px;
  font-weight: 600;
  background-color: #bcb5b5;
  background-color: rgba(188,181,181,0.14);
}
.claro .dojoxExpandoClosed .dojoxExpandoTitle {
  background: none;
  border: none;
  padding: 3px;
  height: 100%;
  background-color: #bcb5b5;
  background-color: rgba(188,181,181,0.14);
}
.dojoxExpandoClosed .dojoxExpandoIconRight {
  margin-left: 4px;
}
/*Grid css*/
/* Responsive grid css from http://www.responsivegridsystem.com/calculator/ */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 0;
}
.col:first-child {
  margin-left: 0;
}
/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
/* For IE 6/7 */
}
/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 50%;
}
/*Grid of three*/
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66.66%;
}
.span_1_of_3 {
  width: 33.33%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2 {
    width: 100%;
  }
  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .span_1_of_3 {
    width: 100%;
  }
}
@media only screen and (max-width: 820px) {
  .esriAttribution {
    display: none;
  }
}
@media only screen and (max-width: 820px) {
  .esriAttribution {
    display: none;
  }
}
/*accordion container styles */
.truncate {
  padding-left: 2px;
  display: inline-block;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ac-container {
  width: 250px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.ac-container label {
  width: 100%;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 2px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #575757;
  line-height: 33px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #bcb5b5;
  background-color: rgba(188,181,181,0.14);
  zoom: 1;
}
.ac-container label:hover {
  background-color: #8c7f7f;
  background-color: rgba(140,127,127,0.14);
  zoom: 1;
}
.ac-container .arrow:after,
.ac-container input:checked + .arrow:after {
  font-family: "icomoon";
  font-style: normal;
  font-weight: bold;
  content: '\e603';
/*down arrow*/
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.ac-container input:checked + .arrow:after {
  content: '\e604';
/*up arrow*/
  cursor: pointer;
}
.ac-container input {
  display: none;
}
.ac-container .article {
  background-color: transparent;
  background-color: rgba(255,255,255,0.5);
  zoom: 1;
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition: box-shadow 0.6s linear;
  -moz-transition: box-shadow 0.6s linear;
  -o-transition: box-shadow 0.6s linear;
  -ms-transition: box-shadow 0.6s linear;
  transition: box-shadow 0.6s linear;
}
.ac-container input:checked ~ div.ac-medium,
.ac-container input:checked ~ div.ac-large {
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -ms-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  -webkit-transition: box-shadow 0.1s linear;
  -moz-transition: box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  -ms-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
}
.ac-container input:checked ~ div.ac-medium {
  height: 20%;
}
.ac-container input:checked ~ div.ac-large {
  height: 80%;
}
.hidden {
  display: none;
}
