.template-builder {
    width: 100%;
    padding: 0;
    background: #eee;
    border-bottom: 1px solid #e0e0e0;
}
.template-builder-container {
    padding: 20px;
    float: left;
}
.builder-mode .content-pane-left:before {
    top: 75px;
}
.esriButton {
    background-color: #007ac2;
    padding: 5px 15px;
    color: White;
    border: 0px;
    cursor: pointer;
}
.esriPreviousButton {
    margin-right: 10px;
}
.esriButtonContainer {
    padding: 15px;
    float: left;
}
.esriSaveButtonContainer {
    float: right;
    padding: 15px 0px 0px 0px;
    display: none;
}
.esriUnsavedChanges {
    clear: both;
    text-align: center;
    color: red;
    font-size: 11px;
    font-weight: bolder;
    margin-right: 15px;
}
.esriSaveButton {
    float: right;
    margin-right: 15px;
}
.esriSettingsLabel {
    float: left;
    width: 60px;
    font-size: 16px;
    padding-top: 1px;
}
.selectMapMessage {
    float: left;
}
.esriConfigurationPanel .dijitTextBox {
    float: left;
    margin-bottom: 10px;
    width: 250px !important;
}
.esriButtonConfig {
    float: left;
    margin: 20px 0px 0px 0px;
    width: 100%;
}
.esriButtonInnerConfig {
    margin: 10px auto;
    float: right;
}
.esriButtonColorEnable {
    background-color: rgb(243, 111, 32);
}
.esriFieldsetContainer {
    float: left;
    margin: 0px;
    width: 100%;
}
.esriLegendLabelDiv {
    margin-left: 10px;
    margin-bottom: 10px;
}
.esriLegendLabel {
    background: #fff;
    padding: 0 10px;
    font-weight: bold;
    font-size: 14px;
}
.esriSelect {
    width: 260px !important;
    height: 23px !important;
    font-size: 16px !important;
    margin-bottom: 10px !important;
}
.esriBaseMapSelect {
    width: 200px !important;
    margin-bottom: 10px !important;
}
.esriLayerHelpText {
    width: auto;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    background-color: #FAF6D0;
    margin-top: 10px;
    padding: 5px;
}
.esriEditTitleIcon {
    background-image: url('../images/edit_pencil.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: left;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 12px;
    background-size: 75%;
}
.esriEditBasemapIcon {
    background-image: url('../images/edit_pencil.png');
    background-position: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 75%;
}
.editAreaDescriptionIcon {
    background-image: url('../images/edit_pencil.png');
    height: 20px;
    float: right;
    background-repeat: no-repeat;
    width: 20px;
    cursor: pointer;
    background-size: 75%;
    margin-right: 15px;
}
.editAreaDescriptionButtonContainer {
    display: none;
    float: right;
    width: 100px;
}
.editAreaDescriptionButton {
    float: right;
    margin-right: 14px;
}
.esriToolbarEditIcon {
    background-image: url('../images/edit_pencil.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    float: right;
    padding: 2px 2px 2px 0px;
    cursor: pointer;
    margin: 4px 2px;
    background-color: #fde79c;
    border: 1px solid #c4b894;
}
.esriIconContainer {
    text-align: right;
    margin-right: 14px;
}
.esriEditLayerIcon {
    background-image: url('../images/edit_pencil.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
    padding: 2px;
}
.esriSortNameDown {
    background-image: url('../images/sortDown.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
    padding: 2px;
}
.esriSortNameUp {
    background-image: url('../images/sortUp.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
    padding: 2px;
}
.esriCheckIcon {
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
    cursor: pointer;
    vertical-align: middle;
}
.esriUncheckIcon {
    background-image: url('../images/uncheck.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
    cursor: pointer;
    vertical-align: middle;
}
.esriSelectIcon {
    background-image: url('../images/select.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 18px;
    width: 18px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.esriDeselectIcon {
    background-image: url('../images/deselect.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 18px;
    width: 18px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.esriEditTitleInput {
    width: 96%;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    line-height: 16px;
    padding: 0px;
    font-size: 15px;
    padding: 2px;
}
.esriDataContainer {
    position: absolute;
    z-index: 3;
    left: 50%;
    width: 520px;
    height: 385px;
    margin-left: -263px;
    background-color: rgba(255, 255, 255, 1);
    bottom: 144px;
    border: 1px solid #CECBCB;
}
.esriVariableContentContainer {
    height: 100%;
    width: 100%;
}
.esriDownArrow {
    background-image: url('../images/selected-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 9px;
    width: 18px;
    margin-left: 15%;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Safari and Chrome */
}
.esriVariableContainer {
    clear: both;
    float: left;
    width: 95%;
    padding: 5px 10px;
    color: #777 !important;
}
.esriVariableContent {
    float: left;
    width: 48%;
    margin-right: 2%;
}
.esrisubVariableContent {
    float: left;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #dcdcdc;
}
.esriSpaceLeft {
    padding: 0px 0px 0px 5px;
}
.esriSpaceRight {
    padding: 0px 0px 0px 25px;
    float: left;
}
.esriVariableContent select {
    width: 100%;
    border: 1px solid #dcdcdc;
    height: 24px !important;
}
.esriVariableContent input {
    width: 100% !important;
    border: 1px solid #dcdcdc;
    height: 22px !important;
}
.esriVarPanelCloseButton {
    float: right;
    cursor: pointer;
    font-size: 18px;
}
.esriSubVariableContainer {
    width: 100%;
    clear: both;
    overflow: hidden;
}
.esriSubVariable {
    line-height: 30px;
    float: left;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}
.esriSubVariable label,
.esriSubVariable input {
    margin-left: 3px;
    padding-left: 2px;
}
.esriFirstColumn {
    width: 9%;
    text-align: center;
}
.esriCheckBoxIcon {
    padding-top: 2px;
}
.esriSecondColumn {
    width: 40%;
}
.esriThirdColumn {
    width: 50%;
}
.esriThirdColumn input {
    width: 230px !important;
    border: 1px solid #dcdcdc;
    height: 22px !important;
}
.esriSourceLink input {
    width: 98% !important;
    height: 20px !important;
    border: 1px solid #dcdcdc;
}
.esriRowEvenColor {
    background: #eee;
}
.esriButtonEnabled0,
.esriButtonEnabled1,
.esriButtonEnabled2,
.esriButtonEnabled3 {
    background-color: #007ac2;
    color: #fff;
}
.esriButtonDisabled {
    background-color: #999;
    cursor:auto;
}
.esriDijitDialog .dijitDialogPaneContent {
    background-color: #f8f8f8 !important;
}
.esriSubVariableButtonContainer {
    padding: 5px 10px;
    width: 96%;
}
.esriNextPreviousButton {
    margin-right: 10px;
    float: right;
}
.esriSimpleTextArea {
    width: 95%;
    height: 90px;
}
.esriClearButton {
    float: left;
    line-height: 2;
    height: 20px;
    cursor: pointer;
    text-decoration: underline;
    color: #007ac2;
    margin-right: 10px;
}
.esriSignInDialog {
    border: 1px solid #759dc0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    z-index: 10090 !important;
}
.claro .dijitEditor {
    border: 1px solid #b5bcc7;
    width: 90%;
    margin-left: 0px;
}
.claro .dijitEditorIFrame {
    background-color: #ffffff;
    height: 80px !important;
}
.claro #dijitEditorBody {
    font-family: Lato Sans-Serif !important;
}
.claro .dijitToolbar,
.esriDijitDialog .dijitToolbar {
    padding: 0px !important;
}
.panel-summary .dijitEditor {
    width: 98%;
}
/* Styles for new Design*/

.esriClear {
    margin-bottom: 5px;
    clear: both;
}
.esriSettingsLeftContent {
    float: left;
    width: 45%;
}
.esriSettingsRightContent {
    float: right;
    width: 55%;
}
.esriParentContainerStyle {
    float: left;
    margin-left: 10px;
}
.esriParentContainerStyleClm1 {
    float: left;
    width: 30%;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding: 7px 5px;
}
.esriParentContainerStyleClm2 {
    float: left;
    width: 30%;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    height: 25px;
    padding: 7px 5px;
    text-align: center;
}
.esriParentContainerStyleClm3 {
    float: left;
    width: 30%;
    border-bottom: 1px solid #efefef;
    height: 25px;
    padding: 7px 5px;
    text-align: center;
}
.esriParentContainerStyleClmBrdNone {
    border-bottom: none;
}
.esriParentinner {
    float: right;
}
.esriThumbButton {
    float: left;
    height: 20px;
    width: 15px;
    background-color: #555555;
    position: absolute;
    margin-left: 0px;
}
.esriBasmapSelection {
    padding: 10px 0;
}
.esriBasemapSwitchDivLeft {
    float: left;
    border: 1px solid #ccc;
    padding: 1px;
    margin-right: 10px;
}
.esriBasemapSwitchDivRight {
    float: left;
    margin-top: -3px;
}
.esriOffButton {
    background-image: url('../images/off-btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 60px;
}
.esriOnButton {
    background-image: url('../images/on-btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 60px;
}
.esriAppSettingButton {
    margin: 10px 10px 0 0;
    border: none;
    background-color: rgb(243, 111, 32);
    float: right;
}
.esriOnOffButtonLabel {
    float: left;
    margin-right: 5px;
}
.esriOnOffButtonDiv {
    float: right;
    margin-right: 5px;
}
.esriBasemapSelection {
    float: left;
    width: 100%;
}
.esriBasemapSwitchDiv {
    height: 60px;
    width: 60px;
    background-color: #ddd;
}
/*Classes for Basemap Images */

.esriBasicBasemapStyle {
    background-repeat: no-repeat;
    background-position: center center;
}

.esriBasemapSwitchDivText {
    text-align: center;
    height: 20px;
    background-color: white;
    width: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.esriAppSettingBottomContainer {
    clear: both;
    height: 45px;
    border-top: 1px solid #eee;
    width: 106%;
    margin-left: -20px;
    margin-bottom: -20px;
    background-color: #fff;
    position: relative;
}
.esriLargeTooltipDialog {
    height: 15px;
    width: 150px;
}
.esriTooltipDialog {
    height: 20px;
}
.esriFloatLeftStyle {
    float: left;
}
.esriFloatLeftlabel {
    float: left;
}
.esriToggleButtonClass {
    width: 20px;
    margin-top: 2px;
}
.editModeButton {
    position: absolute;
    top: 55px;
    right: 90px;
    z-index: 35;
}
.esriSpaceStyle {
    margin-right: 10px;
}
.esriDataContainer input,
select,
label,
.esriAppSettingPanelContainer input,
select,
label,
.esriConfigurationPanel input,
select,
label {
    font-family: 'Lato', sans-serif !important;
    color: #777 !important;
    font-size: 16px !important;
}
.dgrid {
    height: 22em !important;
}
.esriVisible {
    visibility: visible;
}
.esriHidden {
    visibility: hidden;
}
.claro .dijitDialogPaneActionBar {
    background-color: transparent !important;
}
.calcite .dialog-content .layer-settings-submit,
.calcite .dijitButtonNode {
    margin: 0px !important;
}
.claro .dijitSelect .dijitArrowButtonInner,
.claro .dijitComboBox .dijitArrowButtonInner {
    margin: 4px !important;
}
.claro .dijitTextArea,
.claro .dijitInputField .dijitPlaceHolder {
    padding: 4px 2px !important;
}
.claro .dijitSelect,
.claro .dijitTextBox {
    border: 1px solid #b5bcc7 !important;
}
.defaultBaseMapLeftContent {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
.esriZoomSelect,
.themeSelect {
    width: 92%;
    height: 23px;
    text-align: left;
}
.configurationPanelToggleContainer
{
    width: 100%;
    margin-top: 20px;
    display: none;
}
.existingValueLabel, .enrichLayerLabel, .currentMapExtentLabel
{
    display: inline-block;
    margin-left: 5px;
}
.configurationPanelToggleContent
{
    padding-bottom: 5px;
}
.enrichLayerImage
{
    background-image: url('../images/enrich-layer.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50%;
    cursor: pointer;
    margin-top: 10px;
    background-size: 60%; 
    float: left;
}

.enrichLayerImageContainer
{
    display: none;
}
.enrichLayerLink
{
    margin-left: 33px;
    text-decoration: underline;
    color: #007AC2;
    cursor: pointer;
    float: left;
}
