html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

/* Fonts */

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/helveticaneue.eot');
	src: url('../fonts/helveticaneue.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue.woff') format('woff'), url('../fonts/helveticaneue.ttf') format('truetype'), url('../fonts/helveticaneue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueUltraLight';
	src: url('../fonts/helveticaneueultralight.eot');
	src: url('../fonts/helveticaneueultralight.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueultralight.woff') format('woff'), url('../fonts/helveticaneueultralight.ttf') format('truetype'), url('../fonts/helveticaneueultralight.svg#HelveticaNeueUltraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Steelfish';
	src: url('../fonts/steelfish-webfont.eot');
	src: url('../fonts/steelfish-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/steelfish-webfont.woff') format('woff'), url('../fonts/steelfish-webfont.ttf') format('truetype'), url('../fonts/steelfish-webfont.svg#steelfish_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#mapDiv {
	position: fixed;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.esriRTL label {
	/*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}

.loading-indicator {
	/* Loading status */
	display: none;
	height: 100%;
	width: 100%;
	z-index: 500;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: #fff;
}

.app-loading .loading-indicator, .app-error .loading-indicator {
	/* Show this class when loading or error */
	display: block;
}

.app-loading .loading-indicator {
	/* Loading image */
	background-position: center center;
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
}

.app-error .loading-message {
	/* Error status */
	background-position: top center;
	background-image: url(../images/error.png);
	background-repeat: no-repeat;
	padding-top: 60px;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 40%;
	left: 0;
	text-align: center;
}

/* Esri Jvascript API*/

.esriSimpleSlider {
	text-align: center;
	color: #ffffff;
	background-color: rgb(255,255,255);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	filter: alpha(opacity=90);
	cursor: pointer;
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
}

.esriSimpleSlider div {
	width: 24px;
	height: 24px;
	font-size: 20px;
	font-family: verdana, helvetica;
	font-weight: bold;
	line-height: 24px;
	-webkit-user-select: none;
}

.esriSimpleSliderTL {
	top: 5px;
	left: 5px;
	border: none;
}

.esriSimpleSliderDecrementButton:hover, .esriSimpleSliderIncrementButton:hover {
	background-color: rgba(0,0,0,0.3);
}

.esriSimpleSliderIncrementButton {
	border-bottom: solid 1px #ffffff !important;
}

.arcgisGeocoder .esriGeocoderLoading .esriGeocoderReset {
    background: url("../images/loading.gif") no-repeat scroll center center transparent;
}

.simpleGeocoder .esriGeocoderLoading .esriGeocoderReset {
	background: url("../images/loading.gif") no-repeat scroll center center transparent;
}

.simpleGeocoder .esriGeocoder {
	display: block;
	width: 100%;
	margin: 0;
	/*border: 1px solid #57585A;*/
	border: transparent;
	background-color: rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.simpleGeocoder .esriGeocoder input {
	color: #FFF;
}

.simpleGeocoder .esriGeocoder input:focus {
	color: #FFF;
}

.esriControlsBR {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.logo-med {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.logo-sm {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.esriAttribution {
	position: absolute;
	left: 65px;
	bottom: 5px;
}

.HomeButton .home {
	top: 0px;
	padding: 0px;
	width: 26px;
	height: 26px;
	background-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
	background-size: 14px 14px;
}

.LocateButton .zoomLocateButton {
	padding: 0px;
	width: 26px;
	height: 26px;
	background-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
	background-size: 14px 14px;
}

.sizer .titlePane{
	height: 30px;
}

.esriPopup .titlePane {
	border: none !important;
}

.esriPopup .contentPane {
	background-color: #FFFFFF;
}

.esriPopup .actionsPane {
	background-color: #FFFFFF;
}

.esriPopup {
	font-size: 9px !important;
}

.esriPopup .pointer{
	display: none !important;
}

.esriPopup .outerPointer {
	display: none !important;
}

.esriPopup .titleButton.maximize {
	display: none !important;
}

.dijitSliderBumper {
	display: none;
}

.dijitSliderImageHandleH {
	border: 0;
	width: 18px;
	height: 16px;
	background-image: url("../images/sliderThumbs.png") !important;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.dijitSliderBar .dijitSliderRemainingBar, .dijitSlider .dijitSliderRemainingBarH, .dijitSlider .dijitSliderRightBumper,  .dijitSliderFocused .dijitSliderRemainingBarH,  .dijitSliderFocused .dijitSliderRightBumper {
	background-color: rgba(0,0,0,0.2) !important;
	border: 0px solid transparent !important;
	height: 2px !important;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.dijitSlider .dijitSliderProgressBarH, .claro .dijitSlider .dijitSliderLeftBumper
.dijitSliderFocused .dijitSliderProgressBarH, .claro .dijitSliderFocused .dijitSliderLeftBumper {
	background-color: #ffffff;
	border: 0px solid #ffffff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	height: 2px;
}

.esriStopsContainer {
	display: none;
}

.esriResultsButtonsContainer {
	display: none;
}

/* Template */

.bg {
	display: block;
	background-color: rgb(255,255,255);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.rounded {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.roundedTop {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.shadow {
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000');*/
}

#panelDirections {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 0px;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.5);
}

#panelContent {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 0px;
	height: 100%;
	display: block;
	background-color: rgba(0,0,0,0.5);
}

#panelPages {
	width: 100%;
	height: 100%;
	overflow: visible;
}

.pageblank {
	width: 0px;
	height: 100%;
}

.pageMenu {
	position: relative;
	width: 30px;
	height: 30px;
	margin-left: -60px;
	top: 5px;
	text-align: center;
	padding: 10px;
	cursor: pointer;
}

.page {
	position: relative;
	width: 220px;
	margin-left: -220px;
	height: 100%;
	display: block;
	background-color: rgba(0,0,0,0.15);
}

.pageContent {
	position:absolute;
	left: 10px;
	right: 10px;
	top: 5px;
	bottom: 5px;
	overflow: hidden;
	display: block;
	background-color: rgba(255,255,255,1);
}

.pageHeader {
	position: relative;
	width: 100%;
	height: 240px;
	text-align: center;
	display: block;
}

.pageTitle {
	position: relative;
	left: 0px;
	top: 5px;
	width : 100%;
	height: 20px;
	font-size: 11px;
	color: #ffffff;
	line-height: 20px;
	text-align: center;
}

.pageCounter {
	position: absolute;
	left: 50%;
	margin-left: -80px;
	top: 35px;
	width: 140px;
	font-size: 90px;
	height: 140px;
	line-height: 140px;
	font-family: Steelfish;
	border: 10px solid rgba(0,0,0,1);
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
	opacity:0.3;
	filter:alpha(opacity=30);
}

.pageIcon {
	position: absolute;
	left: 25px;
	top: 25px;
	width: 90px;
	height: 90px;
}

.pageReverseDir {
	position: absolute;
	left: 50%;
	bottom: 5px;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	cursor: pointer;
	background: url(../images/reverse.png) no-repeat;
}

.pageSlider {
	position: absolute;
	left: 50%;
	margin-left: -90px;
	bottom: 5px;
	width: 180px;
	height: 20px;
	z-index: 200;
	display: block;
	background: url(../images/slider.png) no-repeat;
}

.pageClose {
	position: absolute;
	right: 5px;
	top: 5px;
	background: url(../images/close.png) no-repeat;
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: block;
}

.pageUp {
	position: absolute;
	top: 27px;
	right: 5px;
	background: url(../images/up.png) no-repeat;
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: block;
}

.pageDown {
	position: absolute;
	top: 49px;
	right: 5px;
	background: url(../images/down.png) no-repeat;
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: block;
}

.pageBody {
	position: absolute;
	top: 240px;
	bottom: 0px;
	width: 100%;
	display: block;
	color: #000000;
	font-size: 10px;
	text-align: center;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

.pageClear {
	position: absolute;
	bottom: -10px;
	height: 10px;
	width: 100%;
	display:block;
	background-color: rgba(0,0,0,0.15);
}

.resultsContent {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

.recDemographics {
	width: 100%;
	height: 65px;
	display: block;
	border-bottom: 1px solid #dcdcdc;
	text-align: center;
	font-size: 11px;
	line-height: 20px;
	color: #6e6e6e;
}

.recLifestyle {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 11px;
	line-height: 14px;
	color: #6e6e6e;
}

.recWeather {
	width: 100%;
	height: 65px;
	display: block;
	border-bottom: 1px solid #dcdcdc;
	text-align: center;
	font-size: 11px;
	line-height: 20px;
	color: #6e6e6e;
}

.recLeft {
	float: left;
	width: 50%;
	height: 100%;
}

.recRight {
	float: left;
	width: 50%;
	height: 100%;
}

.imgWeather {
	height: 80%;
	margin: 10%;
}

.recProximity {
	position: relative;
	width: 100%;
	height: 65px;
	display: block;
	border-bottom: 1px solid #dcdcdc;
	text-align: center;
	font-size: 11px;
	line-height: 20px;
	color: #6e6e6e;
}

.recLeftNum {
	position: absolute;
	width: 40px;
	height: 100%;
	display: block
	background-color: #ff0000;
}

.recNum {
	margin-left: 5px;
	margin-top: 18px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	color: #ffffff;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	cursor: pointer;
}

.recInfo {
	position: absolute;
	text-align: left;
	left: 40px;
	right: 0px;
	top: 3px;
	/*width: 80%;*/
	height: 62px;
	display: block;
	font-size: 10px;
	line-height: 12px;
	overflow: hidden;
}

.recDistance {
	color: #bbbbbb;
	cursor: pointer;
}

.num {
	font-size: 30px;
	font-family: Steelfish;
	line-height: 40px;
}

#panelTop {
	position: fixed;
	left: 35px;
	top: 5px;
	color: #ffffff;
	font-family: HelveticaNeueUltraLight;
	font-size: 20px;
	font-weight: normal;
	padding: 0px;
	display: block;
	overflow: visible;
	height: auto;
}

#panelTitle {
	max-width: 500px;
	height: 50px;
	float: left;
	color: #ffffff;
	padding: 0 5px 0 0;
	display: block;
}

#panelLogo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	float: left;
	line-height: 50px;
	margin-left: 5px;
}

#panelText {
	float: left;
	margin-left: 5px;
	height: 50px;
	line-height: 50px;
}

#panelSearch {
	float: left;
	margin: 10px 0 10px 5px;
	width: 227px;
	height: 30px;
	overflow: hidden;
}

#panelMenu {
	float: left;
	margin-top: 10px;
	width: 20px;
	height: 30px;
	cursor: pointer;
	background: url(../images/menu.png) no-repeat;
	display: none;
}

#panelTools {
	position: relative;
	left: 0px;
	top: 0px;
	min-height: 30px;
	width: 100%;
	display: block;
	clear: both;
}

.panelTool {
	float: left;
	width: 26px;
	height: 26px;
	margin-top: 2px;
	text-align: center;
	line-height: 26px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
}

.panelToolActive {
	background-color: rgba(0,0,0,0.3);
}

.tool {
	margin: 1px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#panelHome {
	float: left;
	width: 26px;
	height: 26px;
	margin-left: 2px;
	margin-top: 3px;
}

#panelLocate {
	float: left;
	width: 26px;
	height: 26px;
	margin-left: 0px;
	margin-top: 3px;
}


/* MEDIA SPECIFIC: SMALL TABLETS */

@media only screen and (max-width: 700px) {
	
	.esriSimpleSlider {
		display: none;
	}
	
	#panelTop {
		left: 5px;
	}
	
	#panelText {
		display: none;
	}
	 
}

/* MEDIA SPECIFIC: SMALL TABLETS */

@media only screen and (max-width: 500px) {
	
	.esriSimpleSlider {
		display: none;
	}
	
	#panelTop {
		left: 5px;
	}
	
	#panelLogo {
		display: none;
	}
	
	#panelText {
		display: none;
	}
	 
}


/* MEDIA SPECIFIC: PHONES */

@media only screen and (max-width: 470px) {
	
	.esriSimpleSlider {
		display: none;
	}
	
	#panelTop {
		left: 5px;
	}
	
	#panelLogo {
		display: none;
	}
	
	#panelText {
		display: none;
	}
	
	#panelContent {
		position: absolute;
		right: -100%;
		top: 0px;
		width: 100%;
		height: 100%;
		display: block;
		background-color: rgba(0,0,0,0.5);
	}
	
	.page {
		position: relative;
		width: 100%;
		margin-left: -100%;
		height: 100%;
		display: block;
		background-color: rgba(0,0,0,0.15);
	}

	.pageContent {
		top: 60px;
	}
	
	.pageHeader {
		position: relative;
		width: 100%;
		height: 110px;
		text-align: center;
		display: block;
	}
	
	.pageTitle {
		position: absolute;
		left: 80px;
		right: 30px;
		width: auto;
		top: 30px;
		height: 20px;
		font-size: 11px;
		color: #ffffff;
		line-height: 20px;
		overflow: hidden;
		text-align: left;
	}
		
	.pageCounter {
		position: absolute;
		left: 5px;
		margin-left: 0px;
		top: 5px;
		width: 60px;
		font-size: 40px;
		height: 60px;
		line-height: 60px;
		font-family: Steelfish;
		border: 5px solid rgba(0,0,0,1);
		-moz-border-radius: 35px;
		-webkit-border-radius: 35px;
		border-radius: 35px;
		opacity:0.3;
		filter:alpha(opacity=30);
	}
	
	.pageIcon {
		position: absolute;
		left: 10px;
		top: 10px;
		width: 40px;
		height: 40px;
	}
	
	.pageBody {
		position: absolute;
		top: 110px;
		bottom: 0px;
		width: 100%;
		display: block;
		color: #000000;
		font-size: 10px;
		text-align: center;
		padding: 0px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	
}
	


