<div data-dojo-attach-point="mapViewerOuterContainer" class="esriCTFullHeightWidth">
    <div class="esriCTMapViewerBody">
        <div id="mapDiv" data-dojo-attach-point="mapDiv" dir="ltr">
        </div>
        <div id="detailsDiv" data-dojo-attach-point="detailsDiv" class="esriCTDetailsTab esriCTHidden">
            <div class="esriCTLocationButton esriCTBGColor esriCTPointerCursor" data-dojo-attach-point="locationButton">
            </div>
            <div id="detailsContentDiv" class="esriCTDetailsContent">
            </div>
        </div>
    </div>
</div>
