<div>
    <div data-dojo-attach-point="addCommentsBtnWrapperContainer" class="esriCTAddCommentsBtnWrapperContainer">
        <div class="esriCTAddCommentsIcon esriCTPointerCursor">
            &#43;
        </div>
        <div data-dojo-attach-point="addComments" class="esriCTAddCommentButton esriCTEllipsis esriCTPointerCursor">
            ${i18n.comment.addRecordText}
        </div>
    </div>
    <div class="esriCTCommentsContainer" data-dojo-attach-point="commentsContainer">
    </div>
    <div class="esriCTItemComments esriCTHidden" data-dojo-attach-point="commentDetailsContainer">
        <div class="esriCTItemComments esriCTHidden" data-dojo-attach-point="commentDetails">
        </div>
        <div class="esriCTItemDetailHeader esriCTLargeText esriCTEllipsis" data-dojo-attach-point="commentsHeading">
        </div>
        <div class="esriCTSmallText esriCTDetailsNoResult esriCTHidden" data-dojo-attach-point="noCommentsDiv">
        </div>
        <div class="esriCTSmallText esriCTCommentsList" data-dojo-attach-point="commentsList">
        </div>
    </div>
    <div id="commentformContainer" class="esriCTCommentformContainer esriCTHidden">
    </div>
</div>