<div class="esriCTFullHeightWidth">
    <div class="esriCTMediaContainer" data-dojo-attach-point="mediaContainer">
        <div class="esriCTAttachmentsContainer">
            <div class="esriCTDetailsFieldValue row">
                <div id="carousel-widget" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                    </div>
                    <!-- Controls -->
                    <div data-dojo-attach-point="slidePrev">
                        <div class="mediaLeft carousel-control" href="#carousel-widget" data-slide="prev">
                        </div>
                    </div>
                    <div data-dojo-attach-point="slideNext">
                        <div class="mediaRight carousel-control" href="#carousel-widget" data-slide="next">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="noMediaInfoContainer" class="esriCTHidden esriCTNoFeature">
    </div>
</div>
