<div>
    <div class="esriCTPopupInfoParentContainer" data-dojo-attach-point="popupInfoParentContainer">
        <div data-dojo-attach-point="popupDetailsContainer">
            <div data-dojo-attach-point="popupContainer" class="esriCTPopupInfoContainer">
            </div>
        </div>
        <div class="esriCTSmallText esriCTNoPopupConfigured esriCTHidden" data-dojo-attach-point="noPoupInfoDiv">
        </div>
    </div>
    <div data-dojo-attach-point="popupFormContainer" class="esriCTPopupFormContainer esriCTHidden">
    </div>
</div>
