.claro .dijitDialog {
    max-width: 600px;
}

.claro .dijitDialog,
.claro .dijitDialogTitle {
    color: #777;
}

.claro .dijitDialog {
    box-shadow: -2px 2px 20px #333F47;
    -webkit-text-size-adjust: none;
    border: none;
}

.claro .dijitDialogTitleBar {
    border: 0;
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 10px 20px;
    margin: 0;
}

.claro .dijitDialogCloseIcon {
    font-size: 18px;
    line-height: 18px;
    background-image: none;
    border: 0;
    height: auto;
    width: auto;
    top: 0;
    right: 0;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    margin: 0;
    z-index: 20;
    position: absolute;
    color: #999;
}

.claro .dijitDialogCloseIcon:focus {
    outline: none;
}
}

.esriRTL .claro .dijitDialogCloseIcon {
    right: auto;
    left: 0;
}

.claro .dijitDialogCloseIcon:hover {
    color: #555;
}

.claro .dijitDialogCloseIcon:active {
    color: #007ac2;
}

.claro .dijitDialogPaneContent {
    max-height: 550px;
    max-width: 660px;
    overflow: auto;
    border: none;
    padding: 20px;
    margin: 0;
    background: #fff;
    word-wrap: break-word;
}

.claro .dialog-content {
    width: 510px;
    /*height: 400px;*/
}

.claro .dijitDialogTitle {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0px 10px 0px 0px;
}

.claro .dijitDialogUnderlayWrapper,
.claro .dijitDialogUnderlay {
    background-color: #000;
    opacity: .4;
}

.claro .dialog-content .layer-settings-header {
    font-size: 19px;
    margin: 0 0 5px 0;
}

.claro .dialog-content .layer-settings-description {
    margin-bottom: 20px;
}

.claro .dialog-content .layer-settings-more-info {
    text-decoration: none;
}

.claro .dialog-content .layer-settings-input {
    width: 50%;
    min-width: 30%;
    max-width: 90%;
    height: 25px;
    font-size: 14px;
    color: #777;
    border: 1px solid #dcdcdc;
    margin: 0 5px 5px 0;
}

.esriRTL .claro .dialog-content .layer-settings-input {
    margin: 0 0 5px 5px;
}

.claro .dialog-content .layer-settings-submit,
.claro .dijitButtonNode {
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    background: #007ac2;
    border: 1px solid transparent;
    padding: 5px 12px;
    vertical-align: middle;
    text-decoration: none;
    margin: 0 0 5px 0;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
}

.claro .esriIdCancel .dijitButtonNode {
    background: none;
    color: #999;
}

.claro .dialog-content .layer-settings-submit:hover {
    background: #5fa8d4;
    text-decoration: none;
}

.claro .dialog-content .layer-settings-submit:active {
    color: #ccc;
}

.claro .dialog-content .twitter-auth-status {
    margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
    .drawer-open .claro .dialog-content {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .claro .dialog-content {
        width: auto;
        height: auto;
    }
}