<div>
  <div class="esriCTSelectionsOptionsWrapperContainer esriCTBorder esriCTPointerCursor esriCTApplicationColor esriCTHidden"
    data-dojo-attach-point="selectionsOptionsWrapperContainer">
    <div class="esriCTSelectionOptionItems esriCTShowAllOption esriCTHidden" data-dojo-attach-point="showAllOption">
      ${i18n.selectionOptions.showAllOptionText}
    </div>
    <div class="esriCTSelectionOptionItems esriCTShowSelectedOption esriCTVisible " data-dojo-attach-point="showSelectedOption">
      ${i18n.selectionOptions.showSelectedOptionText}
    </div>
  </div>
</div>