html,body {
height:99%;
width:99%;
padding:0;
}

body {
margin:1% 1%;
background-color:#FFF;
color:#333;
font-size:14px;
overflow:hidden;
font-family:Arial, Helvetica, sans-serif;
}

a {
color:#369;
}

#header {
height:80px;
background:#3e3e3e;
-webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
margin:0;
z-index:101;
}

#title {
color:#fff;
font-size:30px;
font-family:Georgia, "Times New Roman", Times, serif;
text-align:left;
font-weight:500;
padding-top:10px;
padding-left:15px;
}

#subtitle {
font-size:14px;
color:#f1f1f1;
padding-left:15px;
}

div.social{
display:inline;
font-size:12px;
color:#fff;
font-family:Arial, Helvetica, sans-serif;
float:right;
padding-right:12px;
margin-top:-28px;
}

.msLink{
font-size:12px;
}
	
a.msLink:link{
color:#fff;
text-decoration:none;
}
	
a.msLink:hover{
color:#fff;
text-decoration:underline;
}
	
a.msLink:visited{
color:#fff;
}

#rightPane {
background-color:#FFF;
color:#3f3f3f;
width:20%;
}

#leftPane {
background-color:#e3e9ee;;
width:20%;
margin:0;
padding:0;
}


#leftPaneContent {
background-color:#dadada;
height:100%;
width:100%;
margin:0;
padding:0;
}

#description{
padding:10px;
padding-top:0px;
max-height:350px;
overflow:auto;
}

#leftPaneBody {
margin:0;
}

#leftPaneBody .panel_content {
padding:10px;
}

#tabLink {
text-decoration:none;
color:#3f3f3f;
}

#legendCon{
position:absolute;
top:-1px;
left:70px;
z-index:100;	
}

#topMapTitle{
background-color:#848484;
width:340px;
height:28px;
overflow:none;
white-space:nowrap;
color:#fff;
font-weight:bold;
font-size:16px;
padding:5px;
padding-bottom:0;
margin-bottom:0;
}

#legendDiv{
display:none;
background-color:#848484;
width:340px;
max-height:550px;
padding:5px;
overflow:auto;
}

#legendToggle{
background-color:#848484;
width:120px;
height:25px;
padding-left:5px;
cursor:pointer;
}

#legendCon2{
position:absolute;
top:-1px;
right:70px;
z-index:100;	
}

#bottomMapTitle{
background-color:#848484;
width:340px;
height:28px;
overflow:none;
white-space:nowrap;
color:#fff;
font-weight:bold;
font-size:16px;
padding:5px;
padding-bottom:0;
margin-bottom:0;
}

#legendDiv2{
display:none;
background-color:#848484;
width:340px;
max-height:550px;
padding:5px;
overflow:auto;
}

#legendToggle2{
background-color:#848484;
width:120px;
height:25px;
padding-left:5px;
cursor:pointer;
}

#maps {
background-color:#d0cfd4;
position:absolute;
width:100%;
overflow:hidden;
}

#map1{
position:absolute;
top:0;
width:100%;
height:100%;
}

#resizeWrapper{
position:absolute;
overflow:hidden;
top:0;
width:100%;
height:100%;
z-index:50;
}

#map2{
background:#d0cfd4;
width:100%;
height:100%;
}

#footer {
font-size:12px;
color:#fff;
background:#848484;
-webkit-border-bottom-left-radius:4px;
-webkit-border-bottom-right-radius:4px;
-moz-border-radius-bottomleft:4px;
-moz-border-radius-bottomright:4px;
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
text-align:right;
height:18px;
margin:0;
padding:10px 15px 5px;
}

#msLink{
	float:left;
}

.esriScalebar{
padding-left:15px;
}

.map .bingLogo-lg{
left:18px !important;
}

#loadingCon{
position:absolute;
z-index:101;
width:100%;
top:40%;
text-align:center;
}
	
#loadingDialog{
margin:auto;
background-color:#dadada;
width:300px	
}
	
#loadingHeader{
background-color:#848484;
color:#fff;
padding-top:10px;
padding-bottom:10px;
width:300px;
}
	
#loading{
padding-top:10px;
}
	
#loadingImg{
margin-top:5px;
padding-bottom:10px;
}
	
g{
cursor:pointer;
}

.ui-resizable-e{
background-color:red;
border-left: solid 1px red;
}

.ui-resizable-e:hover{
border-left: solid 3px red;
}