.ac-container input:checked+label:after,open*/ .ac-container input:checked+label:after{background:0 0}.ac-container label{cursor:default} cursor: default
}

cursor: default
}

cursor: default
}

cursor: default
}

cursor: default
}

cursor: default
}

cursor: default
}

cursor: default
}

cursor: default
}

cursor: default
}