<div data-dojo-attach-point="commentsContainer" class="esriCTCommentsPanel esriCTHidden">
    <div class="esriCTCommentsContainer">
        <div class="esriCTCommentHeader">
            <div data-dojo-attach-point="commentTitleDiv" class="esriCTCommentHeaderText">
                <div data-dojo-attach-point="commentTitleDivHeader" class="esricommentTitleDivHeader">
                </div>
                <div class="esriCTCloseButtonComment esriCTBGColor esriCTPointerCursor" data-dojo-attach-point="commentCloseButton">
                </div>
            </div>
        </div>
        <div data-dojo-attach-point="commentsContent" class="esriCTCommentsContent esriCTBorderTop">
        </div>
    </div>
    <div data-dojo-attach-point="textAreaContainer" class="esriCTTextAreaContainer esriCTBorderTop">
        <div data-dojo-attach-point="commentIcon" class="esriCTIssueListIcons esriCTCommentIcon esriCTBGColor">
        </div>
        <div data-dojo-attach-point="enterCommentContainer" class="esriCTEnterComment">
        </div>
        <div data-dojo-attach-point="postCommentButton" class="esriCTIssueListIcons esriCTPostCommentButton esriCTPointerCursor esriCTBGColor">
        </div>
    </div>
</div>
