<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        mustMatch="true" - to only proxy to sites listed, false to proxy to any site.
        logFile="<file with local path>" - if specified, events will be written to the log file.
-->
<ProxyConfig mustMatch="true" allowedReferers="*">
  <serverUrls>
    <!-- serverUrl options:
            url="<location>" of the ArcGIS Server, either specific URL or stem.

            matchAll="true" - to forward any request beginning with the url.

            username="<...>" password="<...>" - token will be requested as needed by the proxy automatically.

            oauth2Endpoint="<...>" - Portal-specific OAuth 2.0 authentication endpoint. Default "https://www.arcgis.com/sharing/oauth2/".
            clientId="<...>" clientSecret="<...>" - portal access token and then server-specific token will be obtained as needed by the proxy automatically and attached to all the matching requests.
            Optionally: client apps can pass clientId parameter which will be used by the proxy to distinguish between entries with same url values but different client ids stored in configuration.
            accessToken="<...>" - OAuth2 access token in lieu of on-demand access-token generation using clientId & clientSecret
            rateLimit="<number>" - max number of requests with particular referer over the rateLimitPeriod.
            rateLimitPeriod="<# of minutes>" - period within which # of requests sent with particular referer will be tracked. 60 is default.
-->
      <serverUrl url="http://arcgis4localgov2.maps.arcgis.com/"
            oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
            clientId="BFVtIUjyciw6pIlC"
            clientSecret="5a16775f11254720851fad6db5e8e956"
            matchAll="true">
      </serverUrl>

  </serverUrls>

</ProxyConfig>
