
body{
background: #000 url(../images/pavement_bg.jpg) top left repeat;
background-size: cover;
-moz-background-size: cover;
font-weight: 400;
color: #fff;
font-size:13px;
}
a{
color:#3E87DC;
}
#mapDiv{
-webkit-box-shadow: 2px 2px 5px #000;
-moz-box-shadow: 2px 2px 5px #000;
box-shadow: 2px 2px 5px #000;
}

#legendPane, #descriptionPane{
background: #1f1f1f;
}
.panel_content{
background-color: #303030;
-webkit-box-shadow: 1px 4px 5px #000;
-moz-box-shadow: 1px 4px 5px #000;
box-shadow: 1px 4px 5px #000;

}
#title{
color: #cf9325;
font-weight: 400;
}

#subtitle{
color:#fff;
}


#footer{
color: #fff;
}

.esriPopup.pavement .titleButton {
top: 4px;
}


.esriPopup.pavement .titlePane,
.dj_ie7 .esriPopup.pavement .titlePane .title {
background-color: #cf9325;
color: #333333;
font-weight: bold;
}

.esriPopup.pavement .titlePane {
border-bottom: 1px solid #ffffff;
}
.esriPopup.pavement a {
color: #4ca0f5;
}

.esriPopup.pavement .titleButton.close{
background: url('../images/popup_sprite_pavement.png') no-repeat 0 -174px;
width: 11px;
height: 11px;   
}

.esriPopup.pavement .pointer.top{
background: url('../images/popup_sprite_pavement.png') no-repeat -1px -616px;
width: 22px;
height: 14px;
}

.esriPopup.pavement .pointer.topRight{
background: url('../images/popup_sprite_pavement.png') no-repeat -1px -616px;
width: 22px;
height: 14px;
}
.esriPopup.pavement .pointer.topLeft{
background: url('../images/popup_sprite_pavement.png') no-repeat -1px -616px;
width: 22px;
height: 14px;
}
}
.esriPopup.pavement .titleButton.prev{
background: url('../images/popup_sprite_pavement.png') no-repeat 0 -227px;
width: 8px;
height: 10px;
}
.esriPopup.pavement .titleButton.next{
background: url('../images/popup_sprite_pavement.png') no-repeat -1px -446px;
width: 8px;
height: 10px;
}
.esriPopup.pavement .titleButton.maximize{
background: url('../images/popup_sprite_pavement.png') no-repeat 0 -251px;
width: 11px;
height: 10px;

}
.esriPopup.pavement .titleButton.restore{
background: url('../images/popup_sprite_pavement.png') no-repeat -2px -393px;
width: 11px;
height: 13px;
}