.template-builder {
    height: 75px;
    width: 100%;
    padding: 0;
    background: #eee;
    border-bottom: 1px solid #e0e0e0;
}
.template-builder-container {
    padding: 20px;
}
.builder-mode .content-pane-left:before {
    top: 75px;
}