    html,body {
      height:98%;
      width:99%;
      padding:0;
    }

    body {
      margin:1% 1%;
      background-color:#FFF;
      color:#333;
      font-size:14px;
      overflow:hidden;
      font-family:"Tahoma", Tahoma, "Trebuchet MS", Arial, sans-serif;
    }

    a {
      r:#369;
    }

    #header {
      border:solid 1px #999;
      height:80px;
      background:url(../images/chrome_headerbg.png) #969696 repeat-x;
      -webkit-border-top-left-radius:4px;
      -webkit-border-top-right-radius:4px;
      -moz-border-radius-topleft:4px;
      -moz-border-radius-topright:4px;
      border-top-left-radius:4px;
      border-top-right-radius:4px;
      margin:0;
    }

    #title {
      color:#334453;
      font-size:30px;
      text-align:left;
      font-weight:bolder;
      text-shadow:0 1px 0 #EEE;
      padding-top:10px;
      padding-left:15px;
      white-space: nowrap;  
      overflow: hidden;  
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
    }
    .esriRtl #title {
      text-align:right;
      padding-right:15px;

    }

    #subtitle {
      font-size:14px;
      color:#444;
      padding-left:15px;
      white-space: nowrap;  
      overflow: hidden;  
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
    }

    .esriRtl #subtitle{
        padding-right:15px;
    }

    #leftPane {
      background-color:#e3e9ee;
      border-left:solid 1px #999;
      width:20%;
      margin:0;
      padding:0;
    }


    #leftPaneContent {
      background-color:#e3e9ee;
      height:100%;
      width:100%;
      margin:0;
      padding:0;
    }

    #leftPaneHeader {
      background:url(../images/chrome_leftheaderbg.png) repeat-x;
      border-bottom:solid 1px #999;
      color:#FFF;
      height:24px;
      font-size:18px;
      line-height:22px;
      overflow:hidden;
      margin:0;
      padding:10px 10px 10px 15px;
    }


    #leftPaneBody {
      margin:0;
    }

    #leftPaneBody .panel_content {
      padding:10px;
    }

    #tabLink {
      text-decoration:none;
      color:#3f3f3f;
    }

    #map {
      border-left:solid 1px #999;
      border-right:solid 1px #999;
      margin:0;
    }

    #footer {
      font-size:12px;
      border:solid 1px #999;
      background:url(../images/chrome_headerbg.png) #9b9b9b repeat-x;
      -webkit-border-bottom-left-radius:4px;
      -webkit-border-bottom-right-radius:4px;
      -moz-border-radius-bottomleft:4px;
      -moz-border-radius-bottomright:4px;
      border-bottom-left-radius:4px;
      border-bottom-right-radius:4px;
      text-align:center;
      height:60px;
      margin:0;
      padding:10px 15px 5px;
    }
    .esriScalebar{
      padding-left:15px;
    }
    .map .bingLogo-lg{
      left:18px !important;
    }
    .esriTimeSlider{
      direction: ltr !important;
    }