<div class="esriCTGeoFormContainer">
    <div class="esriCTListHeader esriCTBGColor">
        <div class="esriCTBackButton esriCTPointerCursor" data-dojo-attach-point="closeButton">
        </div>
        <div class="esriCTHeaderText esriCTGeoFormHeaderText esriCTEllipsis" data-dojo-attach-point="layerTitleDiv">
        </div>
    </div>
    <div class="esriCTGeoFormBody" id="geoFormBody">
        <div data-dojo-attach-point="headerMessageDiv" class="esriCTHeaderMessageDiv esriCTHidden">
            <div data-dojo-attach-point="headerMessageType" class="esriCTSuccessMsg alert alert-success">
                <span class="close" data-dojo-attach-point="headerMessageButton">&times;</span>
                <span data-dojo-attach-point="headerMessageContent"></span>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 esriCTFullWidth">
                    <div class="esriCTGeoFormTitles" data-dojo-attach-point="enter_Information">
                    </div>
                    <form role="form" data-dojo-attach-point="userForm">
                    </form>
                    <div class="esriCTGeoFormTitles" data-dojo-attach-point="select_location">
                    </div>
                    <div data-dojo-attach-point="location_panel_body">
                        <div data-dojo-attach-point="geoLocationButton" class="esriCTGeoFormGeoLocation esriCTPointerCursor">
                        </div>
                        <div data-dojo-attach-point="geoformLocator" class="esriCTlocationPanel">
                        </div>
                    </div>
                    <div class="gf-map panel panel-default esriCTmapParentContainer" data-dojo-attach-point="map_container">
                        <div id="gf-mapDiv" class="map-div esriCTGeoFormMapContainer">
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="form-group">
                        <div class="submit-area">
                            <div data-dojo-attach-point="submitButton" class="esriCTGeoFormButton esriCTGeoFormSubmitButton esriCTEllipsis esriCTBGColor btn btn-default esriCTSubmitButton">
                            </div>
                            <div data-dojo-attach-point="cancelButton" class="esriCTGeoFormButton esriCTGeoFormCancelButton esriCTEllipsis esriCTApplicationColor btn btn-default">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="geoFormLoader" class="esriCTGeoFormLoader">
    </div>
</div>
