<div data-dojo-attach-point="applicationHeaderParentContainer">
    <div class="esriCTMenuTab">
        <div class="esriCTMenuTabLeft displayBlock">
            <div class="esriCTHomeIcon">
                <img data-dojo-attach-point="applicationHeaderIcon" class="esriCTApplicationIcon"
                    alt="${nls.appHeaderTitle}" /></div>
            <div data-dojo-attach-point="applicationHeaderName" class="esriCTGalleryName">
            </div>
        </div>
        <div class="esriCTMenuTabRight">
            <div data-dojo-attach-point="applicationHeaderWidgetsContainer" class="esriCTMenuTabTable">
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="divLoadingIndicator" class="esriCTLoadingIndicator displayNoneAll">
        <div class="esriCTFullContainer">
            <div align="center">
                <div>
                    <div class="esriCTMainLoader">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
