@CHARSET "UTF-8";

.counter_character {
	display: inline;
	float: left;
	position: relative;
	/*top: -35px;*/
	margin-left: 0px;
	margin-right: 0px;
	
}

.counter_character_left {
	margin-left: 0px;
	margin-right: 0px;
}

.counter_character_inner {
	margin-left: 0px;
	margin-right: 0px;
}

.counter_character_right {
	margin-left: 0px;
	margin-right: 0px;
}

.counter_marker {
	position: relative;
	z-index: 10;
}