html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	/*min-width: 980px;*/
	font-family: HelveticaNeue;
}

/* Fonts */

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/helveticaneue.eot');
	src: url('../fonts/helveticaneue.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue.woff') format('woff'), url('../fonts/helveticaneue.ttf') format('truetype'), url('../fonts/helveticaneue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueUltraLight';
	src: url('../fonts/helveticaneueultralight.eot');
	src: url('../fonts/helveticaneueultralight.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueultralight.woff') format('woff'), url('../fonts/helveticaneueultralight.ttf') format('truetype'), url('../fonts/helveticaneueultralight.svg#HelveticaNeueUltraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Esri */

.esriSimpleSlider {
	text-align: center;
	color: #ffffff;
	background-color: #ffffff;
	cursor: pointer;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
}

.esriSimpleSlider div {
	width: 24px;
	height: 24px;
	font-size: 16px;
	font-family: verdana, helvetica;
	font-weight: bold;
	line-height: 24px;
	-webkit-user-select: none;
}

.esriSimpleSliderTL {
	top: 10px;
	left: 10px;
	border: none;
}

.esriSimpleSliderDecrementButton:hover, .esriSimpleSliderIncrementButton:hover {
	background-color: #000000;
	filter: alpha(opacity=30);
	-moz-opacity: 0.30;
	-khtml-opacity: 0.30;
	opacity: 0.30;
}

.esriSimpleSliderIncrementButton {
	border-bottom: solid 1px #ffffff !important;
}

.logo-med {
	position: absolute;
	right: 0px;
	bottom: 120px;
}

.logo-sm {
	position: absolute;
	right: 0px;
	bottom: 120px;
}


/* Navigation */

.navigation {
	list-style-type: none;
	text-align: center;
	width: 60px;
	height: 20px;
	margin: auto;
	padding: 0px;
}

.navigation li {
	width: 20px;
	height: 20px;
	float: left;
	background: url(../images/dot.png);
}

.navigation li:hover {
	background: url(../images/doton.png);
}

.navigation li.active {
	background: url(../images/doton.png);
}

/* Classes */

.bg {
	display: block;
	background-color: #ffffff;
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}

.rounded {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.shadow {
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000');*/
}

.panelTitle {
	position: absolute;
	width: 500px;
	max-width: 500px;
	height: 50px;
	left: 40px;
	top: 10px;
	color: #ffffff;
	font-family: HelveticaNeueUltraLight;
	font-size: 28px;
	font-weight: normal;
	line-height: 50px;
	padding: 0px;
}

#panelLogo {
	width: 50px;
	height: 50px;
	overflow: hidden;
	float: left;
	line-height: 50px;
	margin-left: 10px;
	margin-right: 5px;
}

#panelMain {
	width: 425px;
	height: 50px;
	overflow: hidden;
	line-height: 50px;
}

#panelFilter {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 200px;
	height: 30px;
	overflow: hidden;
	background: url(../images/select.png) no-repeat;
	display: none;
	z-index: 200;
}

#panelFilter select {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	outline: transparent;
	background: transparent;
	width: 225px;
   	padding: 0px 0px 0px 5px;
   	color: #ffffff;
   	font-size: 14px;
   	line-height: 1;
   	border: none;
   	border-radius: 0;
   	height: 30px;
   	font-family: Arial;
   -webkit-appearance: none;
}

option:checked {
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	font-family: Arial;
}

option {
	color: #000000;
	font-family: Arial;
}

.panelBottom {
	position: absolute;
	width: 100%;
	height: 110px;
	left: 0px;
	bottom: 10px;
	text-align: center;
	color: #ffffff;
	padding: 0px;
}

.panelBottomNav {
	position: absolute;
	width: 100%;
	height: 20px;
	left: 0px;
	bottom: 10px;
	text-align: center;
	color: #ffffff;
	padding: 0px;
}

#panelContainer {
	margin: auto;
	width: 880px;
	height: 90px;
	overflow: hidden;
	display: none;
}

.col {
	position: relative;
	width: 219px;
	height: 80px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	display: none;
	text-align: center;
	float: left;
}

.line {
	border-left: 1px solid #fff;
}

/*.line {
	background: url(../images/break.png) no-repeat;
	background-position: right;
}*/

.titleCounter {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 219px;
	height: 15px;
	font-size: 14px;
	font-family: HelveticaNeueUltraLight;
	font-weight: normal;
	line-height: 15px;
	letter-spacing: 1px;
	text-align: center;
	display: block;
	overflow: hidden;
}

.counter {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 204px;
	height: 40px;
	display: block;
}

.units {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 219px;
	height: 15px;
	font-size: 11px;
	font-family: HelveticaNeueUltraLight;
	font-weight: normal;
	line-height: 15px;
	letter-spacing: 1px;
	text-align: center;
	display: block;
}


/* MESSAGES */

#panelMessage {
	position: absolute;
	left: 50%;
	bottom: 40px;
	width: 800px;
	height: 100px;
	margin-left: -400px;
	overflow: hidden;
	font-family: HelveticaNeue;
	color: #ffffff;
	font-size: 20px;
	line-height: 24px;
	display: none;
}

#msgText {
	position: absolute;
	left: 0px;
	top: 38px;
	width: 770px;
	text-align: center;
}

#msgClose {
	position: absolute;
	right: 0px;
	top: 38px;
	cursor: pointer;
}

#mapDiv {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.esriRTL label {
	/*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}


/* BASEMAPS */

.panelBasemaps {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 140px;
	height: 50px;
	font-family: HelveticaNeueUltraLight;
	color: #ffffff;
	font-size: 14px;
	padding: 0px;
	overflow: hidden;
}

.panelBasemapsOn {
	height: 400px;
}

#basemapTitle {
	display: block;
	width: 140px;
	height: 50px;
	font-family: HelveticaNeue;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	padding: 0px;
}

#basemapContent {
	display: block;
	width: 140px;
	height: 350px;
	font-family: HelveticaNeue;
	text-align: center;
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px;
}



/* COUNTER */

.counter_character {
	display: inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	
}

.counter_character_left {
	margin-left: 0px;
	margin-right: 0px;
}

.counter_character_inner {
	margin-left: 0px;
	margin-right: 0px;
}

.counter_character_right {
	margin-left: 0px;
	margin-right: 0px;
}

.counter_marker {
	position: relative;
	z-index: 10;
}


/* MEDIA SPECIFIC */

@media only screen and (max-width: 880px) {
	
	#panelContainer {
		width: 660px;
	}
	
}

@media only screen and (max-width: 700px) {
	
	.panelTitle {
		width: 280px;
	}
	   
	#panelMain{
		display: none;
	}
	
	#panelContainer {
		width: 440px;
	}
	
}

@media only screen and (max-width: 500px) {
	
	.panelTitle {
		width: 280px;
	}
	   
	#panelMain{
		display: none;
	}
	   
	.panelBasemaps {
		display: none;
	}
	
	#panelContainer {
		width: 440px;
	}
	
}

@media only screen and (max-width: 400px) {
	
	.panelTitle {
		width: 280px;
	}
	  
	#panelMain{
		display: none;
	}
	   
	.panelBasemaps {
		display: none;
	}
	
	#panelContainer {
		width: 220px;
	}
	
}

