html,body {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	font-family:Arial,Helvetica,sans-serif;
}

#map {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}
#legendDiv{
	color:#333;
}
#footer{
	color:#333;
}

.mblFixedSplitter {
    width: 100%;
    height: 100%;
}
.mblFixedSplitter > * {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}
.mblFixedSplitterH > * {
    height: 100%;
    top: 0px;
}
.mblFixedSplitterV > * {
    width: 100%;
    left: 0px;
}
