
#modal-container-create-story {
	background: rgba(0,0,0,0.5);
	z-index: 200;
}

.modal.create-story-modal {
	background: white;
	overflow-y: auto;
}


.modal.create-story-modal * {
	box-sizing: border-box;
}

.modal.create-story-modal .btn:not(.disabled):focus {
	outline: none;
}

.create-story-disabled {
	cursor: default;
	pointer-events: none;
}

.modal.create-story-modal {
	color: $story-dark-blue;
	height: 650px;	
	margin-left: -400px;
	max-height: 85%;
	max-width: 90%;
	width: 800px;	
}

.create-story-modal .dialog-header {
	padding: 12px 0;
}

.toggle.toggle-button {
	cursor: pointer;
	border: 2px solid $story-dark-blue;
	font-size: 1.1rem;
	padding: 5px 16px;
}

.toggle.toggle-button:first-child {
	border-radius: 5px 0 0 5px;
	border-right: none;
}

.toggle.toggle-button:last-child {
	border-radius: 0 5px 5px 0;
	border-left: none;
}

.toggle-view {
	display: none;
}

.toggle-view.selected {
	display: block;
}


.create-story-modal .dialog-body {
	overflow-x: hidden;
}


/***********************  "CREATE AN APP" STYLINGS  ******************************/

.create-app-list {
	margin-top: 36px;
	margin-bottom: 3px;
	text-align: center;
}

.create-app-list li {
	display: inline-block;
	width: 29%;
	margin-right: 6%;
	text-align: center;
}

.create-app-list li:nth-child(n+4) {
	margin-top: 26px;
}

.create-app-list li:nth-child(3n), .create-app-list li:last-child {
	margin-right: 0;
}

.create-app-image-container {
	display: inline-block;
	line-height: 0;
	margin-bottom: 12px;
	position: relative;
}

.create-app-image-container .image-hover-text {
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
	cursor: pointer;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	vertical-align: middle;
	width: 100%;
	z-index: 1;
}

.create-app-image-container .image-hover-text:before {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.create-app-image-container .image-hover-text.hovered {
	display: block;
}

.create-app-image-container .image-hover-text span {
	color: white;
	cursor: pointer;    
    display: inline-block;
    font-size: 0.95rem;
    line-height: 1.3;
    margin-bottom: 0;
    padding: 10px 5px;
    vertical-align: middle;
    width: 95%;
}

.create-app-list .app-item img {
	height: auto;
	width: 100%;	
}

.create-app-list .app-item a.btn, #ask-pros .app-item a.btn {
	border-radius: 15px;
}




/***********************  "ASK THE PROS" STYLINGS  *************************/

.ask-pros-title {
	font-weight: bold;
	margin: 72px 0 24px;
}

.ask-pros-title.question {
	display: inline-block;	
	margin: 36px 0 0;
	width: 75%;
}

#ask-pros .square {
	border: 2px solid #F4F4F4;
	display: inline-block;
	height: 300px;
	margin-top: 24px;
	max-width: 100%;
	width: 550px;	
}

#ask-pros .square-quarter {
	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
	height: 50%;
	padding: 12px;
	vertical-align: middle;
	width: 50%;
}

#ask-pros .square-quarter:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#ask-pros .square-quarter.shaded {
	background-color: #F4F4F4;
}

#ask-pros .square-quarter:hover {
	background: $story-dark-blue;
	color: white;
}

#ask-pros .square-quarter span {
	display: inline-block;
	line-height: 1.3;
	vertical-align: middle;
}

#ask-pros .question-list {
	display: inline-block;
    width: 50%;
    border: 2px solid #F4F4F4;
    border-radius: 20px;
}

#ask-pros .question-list li {	
	background: transparent;
	cursor: pointer;
	padding: 30px;
    font-size: 1.2rem;
}

#ask-pros .question-list li:first-child {		
	border-radius: 15px 15px 0 0;
}

#ask-pros .question-list li:nth-child(2n+1) {
	background: #F4F4F4;
}

#ask-pros .question-list li:last-child {
	border-radius: 0 0 15px 15px;
}

#ask-pros .question-list li:hover {
	background: $story-dark-blue;
	color: white;
}


.toggle.toggle-button.two-button {
	padding: 15px 45px;
}

.toggle.toggle-button.two-button:first-child {
	border-radius: 10px 0 0 10px;
}


.toggle.toggle-button.two-button:last-child {
	border-radius: 0 10px 10px 0;
	border-left: 2px solid $story-dark-blue;
}

.toggle.toggle-button.two-button:hover {
	background-color: $story-dark-blue;
	color: white;
}



/***********************  SUGGESTION SCREEN STYLINGS  **************************/

.app-item.final .ask-pros-title {
	font-size: 1.75rem;
	margin-top: 24px;
}

#ask-pros .final .version {	
	display: inline-block;
	width: 100%;
}

#ask-pros .final .version.multiple {
	width: 50%;
}

.create-app-image-container.final {
	display: block;
	margin-bottom: 24px;
}

.create-app-image-container.final img {
	cursor: pointer;
	width: 35%;
}

.create-app-image-container.final .image-wrapper {
	cursor: pointer;
	display: inline-block;
	width: 35%;
}

.create-app-image-container.final .image-wrapper img {
	width: 100%;
}

.final .version.multiple .create-app-image-container.final img {
	width: 70%;
}

#ask-pros .app-reason {
	margin-top: 24px;
}

#ask-pros .app-reason p {
	display: inline-block;
	font-size: 1.0rem;
	line-height: 1.4;
	margin-bottom: 10px;
	width: 80%;
}

#ask-pros .see-example a {
	text-decoration: underline;
}

 
/************************  FOOTER STYLINGS  *******************************/

.create-story-modal .modal-footer {	
	height: 53px;
	padding: 0 30px;
}

#create-story-back {
	display: none;
}

#create-story-back:focus {
	color: #007AC2;
}

#close-create-story-btn {
	float: right;
}




/*************************  RESPONSIVE STYLINGS  ********************************/


@media (max-width: 1140px) {
	.modal.create-story-modal {
		height: 600px;
		margin-left: -350px;
		width: 700px;
	}

	.create-story-modal .dialog-header {
		padding: 12px 0;
	}		

	#ask-pros .square {
		height: 270px;
	}

	.app-item.final .ask-pros-title {
		font-size: 1.5rem;
		margin-bottom: 14px;
	}	

	.create-app-image-container.final img {
		width: 28%;
	}

	#ask-pros .app-reason {
		margin-top: 16px;
	}
}


@media (max-width: 750px) {
	.modal.create-story-modal {
		margin-left: -275px;
		width: 550px;
	}

	#ask-pros .square-quarter {
		font-size: 1.0rem;
	}

	.create-story-modal .toggle.toggle-button.two-button {
		font-size: 1.0rem;
    	padding: 10px 35px;
	}	

	.create-app-list .app-item a.btn, #ask-pros .app-item a.btn {
		font-size: 0.7rem;
	}

	.create-app-image-container .image-hover-text span {
		font-size: 0.8rem;	
	}
}


@media (max-height: 710px) {
	.modal.create-story-modal {
		max-height: 83%;
	}

	.create-story-modal .dialog-body {
		max-height: 75%;
	}
}

@media (max-height: 645px) {
	.create-story-modal .dialog-body {
		max-height: 73%;
	}
}


@media (max-height: 585px) {
	.modal.create-story-modal {
		max-height: 80%;
	}

	.create-story-modal .dialog-body {
		max-height: 70%;
	}
}

@media (max-height: 540px) {
	.create-story-modal .dialog-body {
		max-height: 67%;
	}
}

@media (max-height: 500px) {
	.modal.create-story-modal {
		max-height: 78%;
	}

	.create-story-modal .dialog-body {
		max-height: 62%;
	}
}

@media (max-height: 450px) {
	.modal.create-story-modal {
		max-height: 75%;
	}

	.create-story-modal .dialog-body {
		max-height: 56%;
	}
}