@font-face {
  font-family: 'bv_template';
  src: url("../fonts/icomoon.eot?-1s1wx8");
  src: url("../fonts/icomoon.eot?#iefix-1s1wx8") format('embedded-opentype'), url("../fonts/icomoon.woff?-1s1wx8") format('woff'), url("../fonts/icomoon.ttf?-1s1wx8") format('truetype'), url("../fonts/icomoon.svg?-1s1wx8#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'bv_template' !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-book:before {
  content: "\e60c";
}
.icon-basemap:before {
  content: "\61";
}
.icon-measure:before {
  content: "\e600";
}
.icon-share:before {
  content: "\e601";
}
.icon-file-text:before {
  content: "\e603";
}
.icon-link:before {
  content: "\e604";
}
.icon-twitter:before {
  content: "\e605";
}
.icon-facebook:before {
  content: "\e606";
}
.icon-google-plus:before {
  content: "\e607";
}
.icon-mail:before {
  content: "\e608";
}
.icon-table:before {
  content: "\e609";
}
.icon-edit:before {
  content: "\e60a";
}
.icon-close:before {
  content: "\e602";
}
.icon-magnify:before {
  content: "\e60b";
}
.icon-place:before {
  content: "\e61e";
}
.icon-zoomin:before {
  content: "\e621";
}
.icon-zoomout:before {
  content: "\e622";
}
.icon-home:before {
  content: "\e62f";
  font-size: 20px;
}
.icon-locate:before {
  content: "\e630";
}
.icon-next:before {
  content: "\e631";
}
.icon-previous:before {
  content: "\e632";
}
.icon-legend:before {
  content: "\e633";
}
.icon-layers:before {
  content: "\e635";
}
.icon-printer:before {
  content: "\e641";
}
