@font-face {
  font-family: 'bv_template';
  src: url("../fonts/icomoon.eot?-1s1wx8");
  src: url("../fonts/icomoon.eot?#iefix-1s1wx8") format('embedded-opentype'), url("../fonts/icomoon.woff?-1s1wx8") format('woff'), url("../fonts/icomoon.ttf?-1s1wx8") format('truetype'), url("../fonts/icomoon.svg?-1s1wx8#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'bv_template' !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-book:before {
  content: "\e60c";
}
.icon-basemap:before {
  content: "\61";
}
.icon-measure:before {
  content: "\e600";
}
.icon-share:before {
  content: "\e601";
}
.icon-file-text:before {
  content: "\e603";
}
.icon-link:before {
  content: "\e604";
}
.icon-twitter:before {
  content: "\e605";
}
.icon-facebook:before {
  content: "\e606";
}
.icon-google-plus:before {
  content: "\e607";
}
.icon-mail:before {
  content: "\e608";
}
.icon-table:before {
  content: "\e609";
}
.icon-edit:before {
  content: "\e60a";
}
.icon-close:before {
  content: "\e602";
}
.icon-magnify:before {
  content: "\e60b";
}
.icon-place:before {
  content: "\e61e";
}
.icon-zoomin:before {
  font-size: 20px;
  content: "\e621";
}
.icon-zoomout:before {
  font-size: 20px;
  content: "\e622";
}
.icon-home:before {
  content: "\e62f";
  font-size: 20px;
}
.icon-locate:before {
  content: "\e630";
}
.icon-next:before {
  content: "\e631";
}
.icon-previous:before {
  content: "\e632";
}
.icon-legend:before {
  content: "\e633";
}
.icon-layers:before {
  content: "\e635";
}
.icon-printer:before {
  content: "\e641";
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: repeat;
  background: #ebebeb;
}
g#mapDiv_graphics_layer path {
    fill-opacity: 0;
}
#bc {
  margin-right: auto;
  margin-left: auto;
  width: 98%;
  height: 98%;
}
.no-title .toolbar {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.no-title #bc {
  margin: 0;
  width: 100%;
  height: 100%;
}
.no-title .title-header {
  margin: 0;
  height: 0;
}
.title-header {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.title-header h1 {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
#title-logo {
  margin-left: 5px;
  display: block;
  overflow: hidden;
  float: left;
  line-height: 2em;
  width: 2em;
  height: 2em;
  padding-top: 2px;
  padding-bottom: 2px;
}
#title-logo img {
  vertical-align: middle;
  line-height: inherit;
  max-width: 2em;
  max-height: 2em;
}
.toolbar {
  height: 42px;
  line-height: 42px;
  width: 100%;
  background-repeat: repeat;
  vertical-align: middle;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border: none;
  z-index: 40;
}
#toolbar-leading {
  width: auto;
/*280px*/
  margin: auto;
  overflow-y: hidden;
}
#toolbar-trailing {
  margin: auto;
}
.tools-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tools-submenu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
}
.toolbar [class^="icon-"] {
  padding: 2px;
}
.toolbar button:active,
.toolbar button:hover:enabled {
  -webkit-box-shadow: 0 0 1px #51cbee;
  box-shadow: 0 0 1px #51cbee;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.toolbar button:focus {
  outline: none;
}
.tool-selected {
  height:100%;
  background: rgba(0,0,0,0.2) !important;
  -webkit-box-shadow: 1px 1px 1px rgba(51,51,51,0.6);
  box-shadow: 1px 1px 1px rgba(51,51,51,0.6);
  -webkit-border-radius: 0;
  border-radius: 0;
}
.toolbar button {
  display: inline-block;
  font-size: 1em;
  height: 38px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  margin-right: 2px;
  margin-left: 2px;
}
#toolbar-trailing button {
  display: inline-block;
  float: right;
  margin-top: 2px;
}
.tool-label {
  color: #fff;
  font-size: 0.8em;
  padding: 1px 2px;
}
@media screen and (max-width: 680px) {
  .tool-label {
    display: none;
  }
}
.toolbar button:disabled {
  cursor: default;
  color: #ccc;
}

#tableDiv {
  height: 0;
  background-color: #eee;
  border: none;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
#featureTable_menuNode_label{
  color:#333;
}
.esriFeatureTable .esriFeatureTable_menu {
  display: none;
}
.esriFeatureTable .esriFeatureTable_closer {
  display: none;
}
.esriPopup .pointer.bottomLeft,
.esriPopup .pointer.bottom,
.esriPopup .pointer.bottomRight {
  background: #fff !important;
}
.esriPopup.light .titlePane, .dj_ie7 .esriPopup.light .titlePane .title{
  height:32px;
}
.sidepanel {
  width: 0;
  border: none;
  border-left: solid thin #e3e3e3;
  border-bottom: solid thin #e3e3e3;
  -webkit-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  background-color: inherit;
}
.sidepanel_content {
  padding: 4px;
}
.sidepanel a {
  color: #369;
}
#mapDiv.has-sidepanel {
  -webkit-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
#mapDiv {
  width: 100%;
  height: 100%;
  border-right: solid 1px none;
  border-bottom: solid 1px none;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/*overwrite calcite styles*/
.calcite .dijitContentPane {
  padding: 0 !important;
}
.esriSimpleSlider span {
  display: none;
}
.esriSimpleSliderDecrementButton:hover, .esriSimpleSliderIncrementButton:hover, .HomeButton .home:hover {
  border-radius: 0;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  zoom: 1;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border: none !important;
}
.HomeButton .home {
    width: 30px;
    height: 25px;
  /*display:none;*/
    background-color: transparent;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 0px !important;
}

.esriSimpleSlider {
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border:none;
    border-radius: 0;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
    border-radius: 0;
}

#search.arcgisSearch {
  position: absolute;
  top: 160px;
  left: 20px;
  z-index: 40;
}
.arcgisSearch .searchBtn{
  border:none;
}
.arcgisSearch .searchCollapsed .searchSubmit {
  border-radius: 0;
  padding: 6px;
}
.arcgisSearch .searchIcon {
  font-size: 22px;
}
.LocateButton {
  position: absolute;
  top: 120px;
  left: 20px;
  z-index: 50px;
}
/*Position the zoom, locate and search differently if parts are missing*/
.no-zoom .LocateButton {
  top: 20px;
}
.no-home .LocateButton {
  top: 90px;
}
.no-home.no-locate #search.arcgisSearch {
  top: 90px;
}
.no-zoom .LocateButton {
  top: 20px;
}
.no-home #search.arcgisSearch {
  top: 130px;
}
.no-home.no-zoom.no-locate #search.arcgisSearch {
  top: 20px;
}
.no-zoom #search.arcgisSearch {
  top: 60px;
}
.no-locate.no-zoom #search.arcgisSearch {
  top: 60px;
}
.no-locate.no-title.no-zoom #search.arcgisSearch {
  top: 20px;
}
.no-locate #search.arcgisSearch {
  top: 120px;
}
/*End map tools positioning section*/
.LocateButton .zoomLocateButton {
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  vertical-align: baseline;
  padding: 0px !important;
  width: 30px;
  height: 30px;
  background-image: none;
  background-color: transparent;
/*color:$light-text-color;
    background-color: $light-tool-color;*/
  border: 1px solid #57585a;
}
/*Measure Window*/
.tool_container {
  position: absolute;
  top: 0;
  z-index: 100;
}
#measureDiv {
  padding: 5px;
  height: 200px;
  width: 300px;
  overflow-y: scroll;
}

#printDiv{
    padding:5px;
    height:120px;
    width:200px;
}
.esriPrint{
  position: absolute;
  bottom:5px;
  right: 20px;
  padding:5px;
  color:#fff;
}
.printTitle{
  width: 100%;
  font-size: 12px;
  border-width: 1px;
  border-color: #CCC;
  border-style: solid;
  padding: 5px;
  margin-bottom: 12px;
  display:block;
}
.esriPrintout{
  font-size:20px;
}
.esriPrintout a {
  color: #5daddd;
}
.loadPrint{
    padding:0 0.3em;
    text-align: center;
    vertical-align: middle;
    line-height:32px;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}



#shareDiv {
  padding: 5px;
  height: auto;
  width: auto;
  overflow-y: auto;
}
/*Basemap Gallery*/
.closemenu {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  font-weight: 400;
  font-size: 1.2em;
}
#galleryDiv {
  width: 380px;
  height: 285px;
  overflow-y: scroll;
}
.container_box {
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 60;
}
.esriBookmarks {
  border: none;
}
.esriBasemapGalleryLabelContainer{
  font-size:10px;
}
.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail{
  border-width: 1px;
  margin:1px;
}
@media screen and (max-width: 640px) {
  #galleryDiv {
    width: 140px;
    height: 265px;
  }
}
/*Share Dialog*/
.icon-container {
  margin: 10px 0 10px;
  display: none;
}
@media screen and (min-width: 620px) {
  .icon-container {
    display: block;
  }
}
.map-size-label {
  float: left;
  font-size: 15px;
  margin: 0 5px 0 0;
}
.esriRTL .map-size-label {
  float: right;
  margin: 0 0 0 5px;
}
.share-dialog-icon {
/*font-size: 32px;
    line-height: 32px;*/
  font-size: 30px;
  line-height: 30px;
  float: left;
  color: rgba(0,0,0,0.3) !important;
  cursor: pointer;
  margin: 0 10px 0 0;
  text-decoration: none;
  display: block;
}
.share-dialog-icon:visited {
  color: rgba(0,0,0,0.5);
}
.esriRTL .share-dialog-icon {
  float: right;
  margin: 0 0 0 10px;
}
.share-dialog-icon:hover {
  color: rgba(0,0,0,0.8);
}
.share-map-url {
  width: 50%;
  min-width: 80%;
  max-width: 90%;
  height: 25px;
  font-size: 14px;
  color: #777;
  border: 1px solid #dcdcdc;
  margin: 0 0 10px;
}
.map-size-container {
  margin: 0;
  padding: 0 0 20px;
}
.embed-map-size-clear,
.icon-clear {
  clear: both;
}
.embed-map-size-dropdown {
  float: left;
}
.esriRTL .embed-map-size-dropdown {
  float: right;
}
.share-dialog-subheader {
  font-size: 17px;
  display: none;
}
@media screen and (min-width: 620px) {
  .share-dialog-subheader {
    display: block;
  }
}
.share-dialog-textarea {
  width: auto;
  max-width: 90%;
  width: 80%;
  height: 50px;
  font-size: 14px;
  color: #777;
  border: 1px solid #dcdcdc;
  margin: 0 0 10px;
}
#layerDiv {
  max-height: 300px;
  overflow: hidden;
}
.esriLayer {
  background-color: #fff;
}
.esriLayerList{
  background-color:#fff;
}
.esriLayerList .esriTitle {
  background-color: #fff;
  border-bottom: none;
}
.esriLayerList .esriTitleContainer{
 border-color:#eee;
}
.esriLayerList .esriList{
    border-top:none;
}
.esriLayerList .esriList ul {
  background-color: #fff;
}
.esriLayerList .esriContainer{
  background-color: #fff;
  border-top:none;
  border-bottom:none;
}
.esriLayerList {
  position: relative;
  width: 280px;
  max-height: 300px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: auto;
}
.esriLayerList .esriToggleButton{
  margin-right:8px;
}
