@font-face {
  font-family: 'bv_template';
  src: url("../fonts/icomoon.eot?-1s1wx8");
  src: url("../fonts/icomoon.eot?#iefix-1s1wx8") format('embedded-opentype'), url("../fonts/icomoon.woff?-1s1wx8") format('woff'), url("../fonts/icomoon.ttf?-1s1wx8") format('truetype'), url("../fonts/icomoon.svg?-1s1wx8#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'bv_template' !important;
  speak: none;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-book:before {
  content: "\e60c";
}
.icon-basemap:before {
  content: "\61";
}
.icon-measure:before {
  content: "\e600";
}
.icon-share:before {
  content: "\e601";
}
.icon-file-text:before {
  content: "\e603";
}
.icon-link:before {
  content: "\e604";
}
.icon-twitter:before {
  content: "\e605";
}
.icon-facebook:before {
  content: "\e606";
}
.icon-google-plus:before {
  content: "\e607";
}
.icon-mail:before {
  content: "\e608";
}
.icon-table:before {
  content: "\e609";
}
.icon-edit:before {
  content: "\e60a";
}
.icon-close:before {
  content: "\e602";
}
.icon-magnify:before {
  content: "\e60b";
}
.icon-place:before {
  content: "\e61e";
}
.icon-zoomin:before {
  font-size: 20px;
  content: "\e621";
}
.icon-zoomout:before {
  font-size: 20px;
  content: "\e622";
}
.icon-home:before {
  content: "\e62f";
  font-size: 20px;
}
.icon-locate:before {
  content: "\e630";
}
.icon-next:before {
  content: "\e631";
}
.icon-previous:before {
  content: "\e632";
}
.icon-legend:before {
  content: "\e633";
}
.icon-layers:before {
  content: "\e635";
}
.icon-printer:before {
  content: "\e641";
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: repeat;
  background: #ebebeb;
}
#bc {
  margin-right: auto;
  margin-left: auto;
  width: 98%;
  height: 98%;
}
.no-title .toolbar {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.no-title #bc {
  margin: 0;
  width: 100%;
  height: 100%;
}
.no-title .title-header {
  margin: 0;
  height: 0;
}
.title-header {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.title-header h1 {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}
#title-logo {
  margin-left: 5px;
  display: block;
  overflow: hidden;
  float: left;
  line-height: 2em;
  width: 2em;
  height: 2em;
  padding-top: 2px;
  padding-bottom: 2px;
}
#title-logo img {
  vertical-align: middle;
  line-height: inherit;
  max-width: 2em;
  max-height: 2em;
}
.toolbar {
  height: 42px;
  line-height: 42px;
  width: 100%;
  background-repeat: repeat;
  vertical-align: middle;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border: none;
  z-index: 40;
}
#toolbar-leading {
  width: auto;
/*280px*/
  margin: auto;
  overflow-y: hidden;
}
#toolbar-trailing {
  margin: auto;
}
.tools-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tools-submenu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
}
.toolbar [class^="icon-"] {
  padding: 2px;
}
.toolbar button:active,
.toolbar button:hover:enabled {
  -webkit-box-shadow: 0 0 1px #51cbee;
  box-shadow: 0 0 1px #51cbee;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.toolbar button:focus {
  outline: none;
}
.tool-selected {
  background: rgba(0,0,0,0.2) !important;
  -webkit-box-shadow: 1px 1px 1px rgba(51,51,51,0.6);
  box-shadow: 1px 1px 1px rgba(51,51,51,0.6);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.toolbar button {
  display: inline-block;
  font-size: 1em;
  height: 38px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  margin-right: 2px;
  margin-left: 2px;
}
#toolbar-trailing button {
  display: inline-block;
  float: right;
  margin-top: 2px;
}
.tool-label {
  color: #fff;
  font-size: 0.8em;
  padding: 1px 2px;
}
@media screen and (max-width: 680px) {
  .tool-label {
    display: none;
  }
}
.toolbar button:disabled {
  cursor: default;
  color: #ccc;
}
.esriBasemapGalleryLabelContainer {
  font-size: 12px;
}
#tableDiv {
  height: 0;
  background-color: #eee;
  border: none;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.esriFeatureTable .esriFeatureTable_menu {
  display: none;
}
.esriFeatureTable .esriFeatureTable_closer {
  display: none;
}
.esriPopup .pointer.bottomLeft,
.esriPopup .pointer.bottom,
.esriPopup .pointer.bottomRight {
  background: #fff !important;
}
.sidepanel {
  width: 0;
  border: none;
  border-left: solid thin #e3e3e3;
  border-bottom: solid thin #e3e3e3;
  -webkit-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  background-color: inherit;
}
.sidepanel_content {
  padding: 4px;
}
.sidepanel a {
  color: #369;
}
#mapDiv.has-sidepanel {
  -webkit-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
#mapDiv {
  width: 100%;
  height: 100%;
  border-right: solid 1px none;
  border-bottom: solid 1px none;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/*overwrite claro styles*/
.claro .dijitContentPane {
  padding: 0 !important;
}
.esriSimpleSlider span {
  display: none;
}
.HomeButton {
  border-bottom: 1px solid #57585a;
  width: 30px;
  height: 30px;
}
.HomeButton .home {
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0px !important;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
}
#search.arcgisSearch {
  position: absolute;
  top: 160px;
  left: 20px;
  z-index: 40;
}
.arcgisSearch .searchCollapsed .searchSubmit {
  padding: 6px;
}
.arcgisSearch .searchIcon {
  font-size: 22px;
}
.LocateButton {
  position: absolute;
  top: 120px;
  left: 20px;
  z-index: 50px;
}
/*Position the zoom, locate and search differently if parts are missing*/
.no-zoom .LocateButton {
  top: 20px;
}
.no-home .LocateButton {
  top: 90px;
}
.no-home.no-locate #search.arcgisSearch {
  top: 90px;
}
.no-zoom .LocateButton {
  top: 20px;
}
.no-home #search.arcgisSearch {
  top: 130px;
}
.no-home.no-zoom.no-locate #search.arcgisSearch {
  top: 20px;
}
.no-zoom #search.arcgisSearch {
  top: 60px;
}
.no-locate.no-zoom #search.arcgisSearch {
  top: 60px;
}
.no-locate.no-title.no-zoom #search.arcgisSearch {
  top: 20px;
}
.no-locate #search.arcgisSearch {
  top: 120px;
}
/*End map tools positioning section*/
.LocateButton .zoomLocateButton {
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  vertical-align: baseline;
  padding: 0px !important;
  width: 30px;
  height: 30px;
  background-image: none;
  background-color: transparent;
/*color:$light-text-color;
    background-color: $light-tool-color;*/
  border: 1px solid #57585a;
}
/*Measure Window*/
.tool_container {
  position: absolute;
  top: 0;
  z-index: 100;
}
#measureDiv {
  padding: 5px;
  height: 200px;
  width: 300px;
  overflow-y: scroll;
}
#printDiv {
  padding: 5px;
  height: 110px;
  width: 200px;
}
.esriPrint {
  position: absolute;
  bottom: 5px;
  right: 20px;
  padding: 5px;
}
.printTitle {
  width: 185px;
  font-size: 14px;
  border-width: 2px;
  border-color: #ccc;
  border-style: solid;
  padding: 5px;
  margin-bottom: 12px;
}
.esriPrintout a {
  color: #5daddd;
}
/*Styles for the print dialog checkbox*/
#printDiv .checkbox {
  display: inline-block;
  cursor: pointer;
  margin-left: 2px;
  line-height: 18px;
  padding: 4px;
}
#printDiv input[type=checkbox].checkbox {
  display: none;
}
#printDiv .checkbox:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-color: #d3d3d3;
  color: #f3f3f3;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#printDiv input[type=checkbox]:checked.checkbox + .checkbox:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-size: 15px;
}
#shareDiv {
  padding: 5px;
  height: auto;
  width: auto;
  overflow-y: auto;
}
/*Basemap Gallery*/
.closemenu {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 5px;
  font-weight: 400;
  font-size: 1.2em;
}
#galleryDiv {
  width: 380px;
  height: 265px;
  overflow-y: scroll;
}
.container_box {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  background: #fff;
  border: 1px solid #333;
  z-index: 60;
}
.esriBookmarks {
  border: none;
}
@media screen and (max-width: 640px) {
  #galleryDiv {
    width: 140px;
    height: 265px;
  }
}
.basemap_title {
  padding: 5px;
}
/*Share Dialog*/
.icon-container {
  margin: 10px 0 10px;
  display: none;
}
@media screen and (min-width: 620px) {
  .icon-container {
    display: block;
  }
}
.map-size-label {
  float: left;
  font-size: 15px;
  margin: 0 5px 0 0;
}
.esriRTL .map-size-label {
  float: right;
  margin: 0 0 0 5px;
}
.share-dialog-icon {
/*font-size: 32px;
    line-height: 32px;*/
  font-size: 30px;
  line-height: 30px;
  float: left;
  color: rgba(0,0,0,0.3) !important;
  cursor: pointer;
  margin: 0 10px 0 0;
  text-decoration: none;
  display: block;
}
.share-dialog-icon:visited {
  color: rgba(0,0,0,0.5);
}
.esriRTL .share-dialog-icon {
  float: right;
  margin: 0 0 0 10px;
}
.share-dialog-icon:hover {
  color: rgba(0,0,0,0.8);
}
.share-map-url {
  width: 50%;
  min-width: 80%;
  max-width: 90%;
  height: 25px;
  font-size: 14px;
  color: #777;
  border: 1px solid #dcdcdc;
  margin: 0 0 10px;
}
.map-size-container {
  margin: 0;
  padding: 0 0 20px;
}
.embed-map-size-clear,
.icon-clear {
  clear: both;
}
.embed-map-size-dropdown {
  float: left;
}
.esriRTL .embed-map-size-dropdown {
  float: right;
}
.share-dialog-subheader {
  font-size: 17px;
  display: none;
}
@media screen and (min-width: 620px) {
  .share-dialog-subheader {
    display: block;
  }
}
.share-dialog-textarea {
  width: auto;
  max-width: 90%;
  width: 80%;
  height: 50px;
  font-size: 14px;
  color: #777;
  border: 1px solid #dcdcdc;
  margin: 0 0 10px;
}
.share-dialog-checkbox {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
}
input[type=checkbox].share-dialog-checkbox {
  display: none;
}
.share-dialog-checkbox:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-color: #d3d3d3;
  color: #f3f3f3;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
input[type=checkbox]:checked.share-dialog-checkbox + .share-dialog-checkbox:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-size: 15px;
}
#layerDiv {
  max-height: 300px;
  overflow: hidden;
}
.TableOfContents {
  position: relative;
  width: 280px;
  max-height: 300px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: auto;
}
.TableOfContents .tocList {
  background-color: #f8f8f8;
  border-top: 1px solid #e0e0e0;
}
.TableOfContents .tocList,
.TableOfContents .tocLayer,
.TableOfContents .tocSubList,
.TableOfContents .tocSubListLayer {
  list-style: none;
  margin: 0;
  padding: 0;
}
.TableOfContents .tocSubList {
  margin: 0 0 0 12px;
}
.dj_rtl .TableOfContents .tocSubList {
  margin: 0 20px 0 0;
}
.TableOfContents .tocTitle {
/*border-bottom: 1px solid #e0e0e0;*/
  font-size: 16px;
  line-height: 20px;
  background-color: #f8f8f8;
  color: #555;
}
.TableOfContents .tocLabel {
  display: block;
  padding: 10px 20px 10px 32px;
  margin: 0;
  font-weight: 600;
}
/*make sub layers a little smaller and normal font*/
.TableOfContents .tocLabel.sub {
  font-weight: normal;
  font-size: 14px;
}
.dj_rtl .TableOfContents .tocLabel {
  padding: 10px 32px 10px 20px;
}
.TableOfContents .tocScaleInvisible .tocLabel {
  color: #999;
}
.TableOfContents .tocCheckbox {
  float: left;
  height: 16px;
  width: 16px;
  padding: 0;
  margin: 12px 5px 12px 10px;
}
.dj_rtl .TableOfContents .tocCheckbox {
  float: right;
  margin: 12px 10px 12px 5px;
}
.TableOfContents .tocSettings {
  float: right;
  margin: 0 11px 0 0;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  color: #999;
}
.TableOfContents .tocSettings:hover,
.TableOfContents .tocSettings:active {
  color: #333;
}
.TableOfContents .tocCustomContent {
  margin: 0 20px 5px 32px;
}
.dj_rtl .TableOfContents .tocCustomContent {
  margin: 0 32px 5px 20px;
}
.dj_rtl .TableOfContents .tocSettings {
  float: left;
  margin: 0 0 0 11px;
}
.tocClear {
  clear: both;
}
@media screen and (max-width: 300px) {
  .TableOfContents {
    width: auto;
  }
  .TableOfContents .toc-text {
    width: 60%;
  }
}
.clear {
  clear: both;
}
