@import "nib";
$drawer-width = 280px;
$no-title-top = 10px;
$title-top = 55px;
$dark-base-color = #4C4C4C;
$dark-highlight-color = #323232;
$dark-font-color = #fff;
$light-base-color = #f7f8f8;
$light-highlight-color = #e0e0df;
$light-font-color = #4c4c4c;
$icon-color = #4C4C4C;

html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Avenir;/*Arial,Helvetica,sans-serif*/;
}
a{
    text-decoration: none;
    color:#0177bf;
}
.no-select{
    user-select:none;
}
#mapDiv {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.map-title{
    font-size:1em;
    padding-top:.5em;
    padding-bottom:1em;
}
.map-details{
    font-size:.9em;
}
/*Navigation controls for popup when displayed in drawer*/
#popupNav{
    display:none;
    float:right;
}
#nav_count{
    padding-right:3px;
}

.nav{
    display:inline-block;
    font-size:18px;
    line-height: 18px;
    color: #787878;
}

.loading-indicator {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #fff;
}

.app-loading .loading-indicator,
.app-error .loading-indicator {
    display: block;
}

.app-loading .loading-indicator {
    background-position: center center;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
}

.app-error .loading-message {
    background-position: top center;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    padding-top: 60px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 0;
    text-align: center;
}

/*Without this style the popup zoom button doesn't display with calcite*/
.calcite .actionsPane .action{
    text-indent:0;
}
/*Icon fonts for menu and nav arrows*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-yzcxse');
    src:url('../fonts/icomoon.eot?#iefix-yzcxse') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-yzcxse') format('woff'),
        url('../fonts/icomoon.ttf?-yzcxse') format('truetype'),
        url('../fonts/icomoon.svg?-yzcxse#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-right{
    cursor:pointer;
}
.icon-arrow-left{
    cursor:pointer;
}
.icon-open:before {
    content: "\e602";
}
.icon-close:before{
    content: "\e601";
}
.icon-arrow-left:before {
    content: "\e604";
}
.icon-menu-close:before{
    content:"\e600";
}
.icon-arrow-right:before {
    content: "\e603";
}
.icon-menu-close{
    position:absolute;
    top:12px;
    right:10px;
    font-weight:100;
    font-size:12px;
    cursor:pointer;
    color:#595050;
}
.menu-button {
    position: absolute;
    left:0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 42px;
    width: 42px;
    font-size: 30px;
    line-height: 42px;
    border: solid 1px #929497;
    color: $dark-font-color;
    text-align:center;
}
.light .menu-button{
    color: $light-font-color;
    background-color:$light-base-color;  
}
.dark .menu-button{
    color: $dark-font-color;
    background-color:$dark-base-color;
}
.esriRTL .menu-open-button {
    float: right;
}
.icon-basemap-container{
    position:relative;
    top:$title-top + 100;
    left:10px;
    height:30px;
    width:30px;
    border: 1px solid #57575a;
    background-color: #fff;
    user-select:none;
    border-radius:5px;
    cursor:pointer;
    color:$icon-color;
}
.icon-basemap-container.embed-bottom-right,.icon-basemap-container.embed-bottom-left,.icon-basemap-container.embed-top-right{
    top:$title-top + 10;
    left:10px;
}
.no-title .icon-basemap-container.embed-bottom-right, .no-title .icon-basemap-container.embed-bottom-left,.no-title .icon-basemap-container.embed-top-right{
    top: $no-title-top + 10;
}
.no-home .icon-basemap-container{
    top: $title-top + 75;
}
.no-title .icon-basemap-container{
    top: $no-title-top + 100;
}
.no-title.no-home .icon-basemap-container{
    top: $no-title-top + 75;
}
.icon-basemap{
    background-image: url("../images/basemap.png");
    background-repeat:no-repeat;
    display:inline-block;
    width:16px;
    height:16px;
    margin:7px 0 9px 7px;
    z-index: 40;
}

.icon-basemap-container:hover{
  background-color: #eee;
}
.icon-basemap-container:active{
  background-color: #ddd;
}
.icon-basemap-container.active-toggle{
    background-color:#ddd;
    color:$icon-color;
}
/*Esri widgets*/
  .HomeButton {
    border-bottom: 1px solid #57585A;
    width: 30px;
    height: 30px;
  }
  .HomeButton .home {
    background: url("http://cdn.arcgis.com/cdn/5177/js/arcgisonline/map/css/images/home_locate.png") no-repeat 0 0;
    width: 30px;
    height: 30px;
  }
  .HomeButton .home:hover {
    background-color: #eee;
    width: 30px;
    height: 30px;
    padding: 0px;
    border-radius: 0;
  }

.esriSimpleSliderTL {
    top: $title-top !important;
    left:10px;
}
.esriSimpleSliderTR{
    top: $title-top !important;
    right: 20px !important;
}
.esriSimpleSliderBR{
    bottom: $title-top !important;
    right: 20px !important;
}
.esriSimpleSliderBL{
    bottom: $title-top !important;
    left: 20px !important;
}
.no-title .esriSimpleSlider.esriSimpleSliderBL{

}
.no-title .esriSimpleSlider.esriSimpleSliderBR{

}
.no-title .esriSimpleSlider.esriSimpleSliderTR {
    top: $no-title-top !important;
}
.no-title .esriSimpleSlider.esriSimpleSliderTL {
    top: $no-title-top !important;
}

.basemap_gallery{
    position: absolute;
    top: $title-top + 100;
    left:65px;
    z-index: 50;
}
.BasemapToggle{
    position:absolute;
    left:25px;
    bottom:25px;
}
.BasemapToggle.scale{
    bottom: 60px;
}
/*If the zoom slider is positioned in the br move the toggle a bit to the left*/
.embed-bottom-left.BasemapToggle{
    left:55px;
}
.no-home .basemap_gallery{
    top: $title-top + 75;
}
.no-title .basemap_gallery{
    top: $no-title-top + 100;
}
.no-title.no-home .basemap_gallery{
    top: $no-title-top + 75;
}
.esriBasemapGalleryNode a:hover{
    background-color:#E1F0FB;
}

#gallery_container{
    position: absolute;
    top: $title-top + 55;
    left:55px;
}
#gallery_container.embed-bottom-right,#gallery_container.embed-bottom-left,#gallery_container.embed-top-right{
    top:$title-top - 20;
    left:55px;
}
.no-title #gallery_container.embed-bottom-right, .no-title #gallery_container.embed-bottom-left,.no-title #gallery_container.embed-top-right{
    top: $no-title-top - 5;
}

.no-home #gallery_container{
    top: $title-top + 35;
}
.no-title #gallery_container{
    top: $no-title-top + 55;
}
.no-title.no-home #gallery_container{
    top: $no-title-top + 35;
}
#full_gallery{
    height:85%;
    width:98%;
    overflow-y:scroll;
}
.basemap_title{
    padding: 5px;
}
.arrow_box {
    border-radius:5px;
    position: relative;
    background: #fff;
    border: 1px solid #333;
    width:395px;
    height:265px;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 22%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px;
}
.arrow_box:before {
    border-color: rgba(51, 51, 51, 0);
    border-right-color: #333;
    border-width: 11px;
    margin-top: -11px;
}

.simpleGeocoder{
    position: absolute;
    top:$no-title-top;
    right:20px;
    z-index: 50;
}
.simpleGeocoder .esriGeocoder{
    border: 1px solid #ccc;
}
/*.esriPopup.light .contentPane, .esriPopup.light .actionsPane{
    background-color: $light-base-color;   
}*/
.esriPopup.light .titlePane{
    background-color: $light-highlight-color;
}
.esriPopup.dark .contentPane, .esriPopup.dark .actionsPane{
    background-color: $dark-base-color;   
}
.esriPopup.dark .titlePane{
    background-color: $dark-highlight-color;
}
/*If the screen size is max-width or smaller and the drawer is open hide the geocder.*/
@media screen and (max-width:540px){
    .drawer-open .simpleGeocoder{
        display:none;
    }  
}

.top-bar {
    position: absolute;
    z-index: 36;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
}

.esriRTL .top-bar {
    left: auto;
    right: 0;
}

.top-menu-right {
    margin-right: 5px;
}

.esriRTL .top-menu-right {
    margin-right: 0;
    margin-left: 5px;
}

.hide-toggle {
    display: none;
}

/*Drawer*/
.border-container-outer {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

.content-pane-left {
    width: 0px;
    max-width: $drawer-width;
    height: 100%;
    margin: 0;
    border: none;
    overflow: hidden;
    transition: width 250ms ease;
}


.app-loading .content-pane-left {
    width: $drawer-width;
}

.drawer-open .content-pane-left {
    width: $drawer-width;
    overflow: auto;
    overflow-x: hidden;
    border-right: none;
}

.esriRTL .drawer-open .content-pane-left {
    border-right: 0;
    border-left: none;
}

.drawer-open-complete .content-pane-left:before {
    display: none;
}

.pointer-events .drawer-open-complete .content-pane-left:before {
    -webkit-box-shadow: inset -1px 0 6px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset -1px 0 6px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 450;
    top: 0;
    left: 0;
    width: $drawer-width;
    height: 100%;
    content: '';
    display: block;
    pointer-events: none;
}

.esriRTL .drawer-open-complete .content-pane-left:before {
    left: auto;
    right: 0;
}

.content-pane-center {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}


@media screen and (max-width: 850px) {
    .app-loading .content-pane-left {
        width: 0px;
    }
}
/*Tabs*/
.tabs{
    height:100%;
    width:100%;
}

:focus {
 outline: none;
}
.dijitHidden {
    display: none !important;
}

.dijitVisible {
    display: block !important;
    position: relative;
}

.dijitTabContainer {
    z-index: 0;
    overflow: visible;
}

.dijitTabContainerNoLayout {
    width: 100%;
}

.dijitTabController {
    z-index: 1;
}

.dijitTabContainerTop-container {
    z-index: 0;
    overflow: hidden;
    border: none;
}

.nowrapTabStrip {
    width: 50000px;
    display: block;
    position: relative;
    text-align: left;
    z-index: 1;
}

.dijitTabListWrapper {
    overflow: hidden;
    z-index: 1;
}

.dijitTabContainerTop-tabs {
    height:44px;
    border:none;
    z-index: 1;
    overflow: visible !important;
    background-color:$dark-base-color;
}
.dark .dijitTabContainerTop-tabs {
    background-color:$dark-base-color;
}
.light .dijitTabContainerTop-tabs {
    background-color:$light-base-color;
}
.dijitTab {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    z-index: 3;
}
.tab_1 .dijitTabContainerTop-tabs .dijitTab{
    width: 260px;
}
.tab_2 .dijitTabContainerTop-tabs .dijitTab{
    width: 121px;
}
.tab_3 .dijitTabContainerTop-tabs .dijitTab{
    width: 73px;
}
.dijitTab * {
    vertical-align: middle;
}

.dijitTabContainerTop-tabs .dijitTab {
    top: 1px;
}

.dijitTabContainerTop-tabs .dijitTab {
    display: inline-block;
}

.dijitTab .tabLabel {
    font-size:16px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:100%;
}

.dijitTabPane{
    color:$dark-font-color;
}
.light .dijitTabPane{
    color: $light-font-color;
}
.dark .dijitTabPane{
    color: $dark-font-color;
}
.calcite.light .dijitTabPaneWrapper{
    background-color: $light-base-color;
}
.calcite.dark .dijitTabPaneWrapper{
    background-color: $dark-base-color;
}
.calcite .dijitTabPaneWrapper{
    font-size: 14px;
}
.calcite .dijitTabSpacer {
    display: none;
}

.calcite .dijitTab {
    background: $dark-highlight-color;
    color: $dark-font-color;
}
.calcite.light .dijitTab {
    background: $light-highlight-color;
    color: $light-font-color;
}
.calcite.dark .dijitTab {
    background: $dark-highlight-color;
    color: $dark-font-color;
}
/*.calcite .dijitTabHover {
    background-color: lighten($dark-base-color, 30%);
}
.calcite.dark .dijitTabHover {
    background-color: lighten($dark-base-color, 30%);
}
.calcite.light .dijitTabHover {
    background-color: lighten($light-base-color, 30%);
}*/
.calcite .dijitTabChecked {
    background: $dark-base-color;
}
.calcite.dark .dijitTabChecked {
    background: $dark-base-color;
}
.calcite.light .dijitTabChecked {
    background: $light-base-color;
}
.calcite .dijitTabDisabled {
    background-color: lighten($dark-base-color, 40%);
}
.calcite.dark .dijitTabDisabled {
    background-color: lighten($dark-base-color, 40%);
}
.calcite.light .dijitTabDisabled {
    background-color: lighten($light-base-color, 40%);
}
.calcite .dijitTabContainerTop-tabs .dijitTab {
    top: 0;
    padding: 12px 10px;
    border-bottom-width: 0;
    min-width: 60px;
    text-align: center;
}