.item-table-container {
	display: none;
}

.item-table-container.active {
	display: block;
}

.content-loader .loader {
	height: 46px;
	width: 46px;
}

.content-loader .loader:after {
	top: 8px;
	left: 8px;
	width: 30px;
	height: 30px;
}

.content-table {
	border: none;
	thead {
		background: $tailcoat-calcite-ui-blue-2;
		border: none;
		font-size: 1.0rem;
	}

	tbody {
		background: $story-blue-background-lightest;
		font-size: 0.9rem;

		tr {			
			border-bottom: none;			
		}

		td {
			padding: 0.5rem;
		}
	}

	td {
		border: none;
	}
}

.tags-table, .submit-table {
	height: 226px;
}

tr + .media-row {
	border-top: 1px solid $tailcoat-calcite-ui-blue-2;
}

.media-row, .layer-row {
	background: transparent;
}

.media-row:hover {
	background: $tailcoat-calcite-ui-blue-1;
}

.media-row.issue-row, .layer-row.issue-row {
	background: $red-error-background;
}

.media-row.changed-row, .layer-row.changed-row {
	background-color: $story-changed-successfully-green;
}

.item-status-column {
	text-align: center;
}

.item-shared-with-column {
	padding-left: 60px;
}

.item-shared-with-column.no-org {
	padding-left: 43px;
}

.media-item-status {
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	background-size: cover;
	height: 23px;
	vertical-align: middle;
	width: 23px;
}

.media-item-status.ok {
	color: $green-ok;
}

.media-item-status.issue {
	color: $red-error-text;
}

.media-title {
	cursor: pointer;
	overflow: hidden;
	overflow-wrap: break-word;	
	text-overflow: ellipsis;	
	white-space: nowrap;	
	word-wrap: break-word;
}

.media-title.premium-title {
	overflow: initial;
}

.layer-title {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	overflow-wrap: break-word;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	word-wrap: break-word;
}

.layer-title.premium {
	max-width: 88%;
}

.premium-info-tooltip {
	font-style: normal;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	z-index: 1;
	margin-left: 7px;
}

.premium-info-icon {	
	display: inline-block;
	font-size: 1.0rem;
	vertical-align: middle;
}

.media-link {
	color: $story-dark-blue;
	display: inline-block;
	max-width: 100%;		
	overflow: hidden;
	overflow-wrap: break-word;		
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;	
	word-wrap: break-word;
}


.images-container .media-link {
	max-width: 569px;
}

.videos-container .media-link {
	max-width: 491px;
}

.webpages-container .media-link {
	max-width: 733px;
}


.maps-container .media-title {
	max-width: 300px;
}


.map-item-header {
	border-bottom: 1px solid $story-dark-blue;
}

.map-item {
	background: $tailcoat-calcite-ui-blue-1;
}


.locked .toggle-button, .story-sharing.locked {
	cursor: default;
	opacity: 0.5;
	pointer-events: none;
}

.sharing-button-container:first-child .toggle-button {
	border-left-width: 1px;
	border-radius: 6px 0 0 6px;
}

.sharing-button-container:last-child .toggle-button, .sharing-button-container.last-button .toggle-button {	
	border-right-width: 1px;
	border-radius: 0 6px 6px 0;
}

.toggle-button.active.incompatible-access-level {
	background: $red-error-text;
}

.map-item-title {
	display: inline-block;	
}

.maps-tab-error, .image-tab-error {
	text-align: center;
}

.images-container .media-link, .webpages-container .media-link {
	font-size: 0.7rem;
}

.media-link:visited {
	color: $story-dark-blue;
}

.source-title, .media-row .source {
	text-align: center;
}

.sharing-status {
	display: inline-block;
	vertical-align: middle;
}

.sharing-status.media.image, .sharing-status.media.video {
	color: $story-dark-blue;
	font-size: 1.3rem;
}

.sharing-icons {
	display: inline-block;
}

.item-deleted, .item-inaccessible, .item-not-public {
	display: inline;	
	vertical-align: middle;	
}

.item-deleted {
	margin-left: 48px;
}

.item-inaccessible {
	margin-left: 40px;
}

.item-not-public {
	margin-left: 8px;
}

.section-container {
	vertical-align: top;
}

.section-action-container {
	display: inline-block;
}

.section-action-icon {
	background-image: url("/assets/images/my-stories/action.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 0.7rem;
	height: 19px;
	margin-right: 2px;
	text-align: center;
	width: 19px;	
	vertical-align: top;
}

.view-item.btn, .edit-item.btn {
	color: $story-dark-blue;
}

.view-item.btn:focus {
	color: $story-dark-blue;
	outline: none;
}

.layer-title-row td{
	text-decoration: underline;
}

.layer-title-row.empty td {
	text-decoration: none;
}


.layer-title-row.thumbnail-row td {	
	font-size: 1.1rem;
	padding: 2.0rem 0.5rem 0.5rem;
	text-decoration: none;
}

.layer-row .toggle-button {
	font-size: 1.1rem;
	padding: 3px 8px 0;
}

.layer-row .media-item-status {
	font-size: 1.1rem;
}

.media-title.layer {
	font-size: 0.9rem;
	font-style: italic;	
}

.expandable-layer {
	display: none;
}

.expandable-layer.expanded {
	display: table-row;
}

.sharing-alert-container {
	padding: 0;
	text-align: right;
}

.sharing-alert {
	display: none;
	font-size: 0.9rem;
	margin-bottom: 0;
	padding: 2px 20px;	
	text-align: center;
	vertical-align: top;
}

.sharing-alert-text {
	display: inline;
	margin-left: 10px;
}

.lock-icon {
	display: inline-block;
	font-size: 1.5rem;
	visibility: hidden;
}

.layer-row .lock-icon {
	font-size: 1.2rem;
	margin-right: 4px;
}

.lock-icon.locked {
	color: $story-dark-blue;
	cursor: pointer;
	visibility: visible;
}