.scrollable-table thead {
	display: table;
	float: left;
	width: 100%;
}

.scrollable-table tbody {	
	float: left;
	max-height: 420px;
	overflow: auto;
	overflow-x: hidden;
	width: 100%;	
}

.scrollable-table .media-row {
	display: table;
	width: 100%;
}