.submit-subtitle-container {
	padding-left: 10px;
}

.submit-content {
	margin-top: 6px;
}

.submit-column {
	display: inline-block;
	margin: 0 3.16%;
	width: 27%;
	vertical-align: middle;
}

.gallery-criterium + .gallery-criterium {
	margin-top: 5px;
}

.gallery-criterium .media-item-status {
	  font-size: 0.9rem;
	  height: 20px;
	  width: 20px;
}

.submit-button-container {
	text-align: center;
}

.submit-button.gallery {
	min-width: 205px;
	text-align: center;
}

.gallery-submission {
	cursor: default;
	display: none;
	font-size: 0.75rem;
	margin: 0;
	padding: .3em 1.25em .3em;
}

.gallery-submission.success {
	background: #d9ecba !important;
}


.gallery-submission.success:hover {
	background: #d9ecba !important;
	color: #355c0b;
}

.gallery-submission.success:focus {
	background: #d9ecba !important;
	color: #355c0b;
}


.gallery-submission.error:hover {
	background: #eeb8b8 !important;
	color: #a50009;
}

.gallery-submission.error:focus {
	background: #eeb8b8 !important;
	color: #a50009;
}

.submit-tip {
	line-height: 1.3;	
}