.item-tags-list {
	background-color: $tailcoat-calcite-ui-blue-1;
	border: 1px solid $tailcoat-calcite-ui-blue-2;
	border-radius: 3px;
	padding: 1px 10px;
	white-space: pre-wrap;
}

.item-tags-list:focus {
	border: 1px solid $input-border-blue;
	outline: none;
}


.item-update-tags {
	min-width: 78px;
	text-align: center;
	float: right;
}

.item-update-tags.disabled {
	background: $tailcoat-gray6;
}

.update-tags-container {
	padding-left: 0;
}