.esri-viz-cards {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.esri-viz-cards .content {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  white-space: nowrap;
  overflow: visible;
}

.esri-viz-cards .card {
  position: relative;
  float: left;
  width: 150px;
  height: 120px;
  margin-left: 10px;
  margin-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: block;
}

.dj_rtl .esri-viz-cards .card {
  float: right;
}

.esri-viz-cards .card.selected {
  color: #ffffff;
}

.esri-viz-cards .header {
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.esri-viz-cards .card.selected .header {
  border-bottom: 1px solid #ffffff;
}

.esri-viz-cards .value {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.esri-viz-cards .valueBig {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.esri-viz-cards .area {
  position: absolute;
  left: 30px;
  top: 40px;
  width: 80px;
  height: 80px;
  display: block;
}

.esri-viz-cards .chart {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.esri-viz-cards .pct {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}


.esri-viz-cards::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.25);
}

.esri-viz-cards::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.esri-viz-cards {
  scrollbar-base-color: #000000;
  scrollbar-3dlight-color: #000000;
  scrollbar-highlight-color: #000000;
  scrollbar-track-color: #707070;
  scrollbar-arrow-color: #606060;
  scrollbar-shadow-color: #000000;
  scrollbar-dark-shadow-color: #000000;
  scrollbar-face-color: #606060;
}
