<div data-dojo-attach-point="applicationHeaderParentContainer">
    <div class="esriCTApplicationHeader esriCTBorderBottom">
        <div class="esriCTHomeIcon">
            <img data-dojo-attach-point="applicationHeaderIcon" class="esriCTApplicationIcon" alt="" />
        </div>
        <div class="esriCTMenuTabRight">
            <div data-dojo-attach-point="applicationHeaderWidgetsContainer">
                <div class="esriCTSignInButtonDiv" data-dojo-attach-point="esriCTSignInButtonDiv">
                    <div onclick="location.reload();" class="esriCTHeaderIcons esriCTSignInButton esriCTPointerCursor esriCTBGColor" data-dojo-attach-point="esriCTSignInButton">
                    </div>
                </div>
                <div class="esriCTLoginDetailsDiv" data-dojo-attach-point="esriCTLoginDetailsDiv">
                    <div class="esriCTLoginCredentialsDiv" data-dojo-attach-point="esriCTLoginCredentialsDiv">
                        <div class="esriCTLoginUserNameDiv" data-dojo-attach-point="esriCTLoginUserNameDiv">
                        </div>
                        <div class="esriCTDownArrowSignInImg esriCTApplicationColor esriCTBGColor esriCTDownArrowSignIn esriCTPointerCursor">
                        </div>
                    </div>
                    <div class="esriCTLoginOptionsDiv esriCTHidden" data-dojo-attach-point="esriCTLoginOptionsDiv">
                        <div class="esriCTLogoutOption" data-dojo-attach-point="esriCTLogoutOption">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-dojo-attach-point="applicationHeaderName" class="esriCTMenuTabLeft esriCTApplicationColor">
        </div>
    </div>
</div>