<div class="esriCTApplicationHeaderContainer" data-dojo-attach-point="applicationHeaderContainer">
    <div class="esriCTApplicationHeaderIconContainer" data-dojo-attach-point="applicationHeaderIconContainer">
        <img class="esriCTApplicationHeaderIcon" data-dojo-attach-point="applicationHeaderIcon" />
    </div>
    <div class="esriCTApplicationNameContainer" data-dojo-attach-point="applicationNameContainer">
        <div class="esriCTApplicationName" data-dojo-attach-point="applicationHeaderName">
        </div>
    </div>
    <div class="esriCTSignInDetailContainer" data-dojo-attach-point="signedInUserDetailsContainer">
        <div class="esriCTSignInUserNameDetails esriCTPointerCursor" data-dojo-attach-point="signedInUserDetails">
        </div>
        <div class="esriSignedInUserDetailsCaretIcon esriCTPointerCursor esriCTHidden" data-dojo-attach-point="signedInUserDetailsCaretIcon">
            &#9660;
        </div>
    </div>
    <div class="esriCTSeperator" data-dojo-attach-point="signInSeperator">
    </div>
    <div class="esriCTHelpIconContainer esriCTHeaderIcons esriCTPointerCursor esriCTHidden"
        data-dojo-attach-point="helpButton">
    </div>
    <div class="esriCTManualRefreshIconContainerDisable esriCTHeaderIcons esriCTDefaultCursor"
        data-dojo-attach-point="refreshButton">
    </div>
    <div class="esriCTSearchIconContainerDisabled esriCTHeaderIcons esriCTDefaultCursor"
        data-dojo-attach-point="searchButton">
    </div>
    <div data-dojo-attach-point="searchContainer" class="esriCTSearchContainer">
    </div>
    <div class="esriCTSignOutOption esriCTBorder esriCTHidden esriCTApplicationColor"
        data-dojo-attach-point="signOutOptionParentContainer">
        <div data-dojo-attach-point="signOutOption">
        </div>
    </div>
</div>
