<div class="media esriCTMedia esriCTApplicationColor esriCTPointerCursor">
    <a class="media-left" href="#">
        <img class="esriCTWebMapImg" alt="WebMap" src="${WebmapThumbnail}" />
    </a>
    <div class="esriCTMediaBody">
        <div class="esriCTMultiLineEllipsisdiv">
            <span class="media-heading esriCTHeaderFont">${WebmapTitle} <span class="esriCTMultiLineFill"></span></span>
        </div>
        <div class="esriCTInfoImg esriCTApplicationColor esriCTBGColor esriCTInfoImgRight">
        </div>
    </div>
    <div class="esriCTDefaultCursor esriCTDescription esriCTHidden esriCTMediaBorder">
        <div class='esriCTDetailsContainerParent'>${InfoDescription}</div>
    </div>
    <div class="esriCTLayerList">
    </div>
</div>
<div class="media esriCTMedia esriCTApplicationColor esriCTPointerCursor">
    <div class="esriCTMediaBody esriCTFullWidth">
        <div class="esriCTMultiLineEllipsisdiv esriCTMediaLeftText">
            <span class="media-heading esriCTHeaderFont">${WebmapTitle} <span class="esriCTMultiLineFill"></span></span>
        </div>
        <div class="esriCTInfoImg  esriCTApplicationColor esriCTBGColor esriCTInfoImgLeft">
        </div>
    </div>
    <a class="media-right" href="#">
        <img class="esriCTWebMapImg" alt="WebMap" src="${WebmapThumbnail}" />
    </a>
    <div class="esriCTDefaultCursor  esriCTDescription esriCTHidden esriCTMediaBorder">
        <div class="esriCTDetailsContainerParent">${InfoDescription}</div>
    </div>
    <div class="esriCTLayerList">
    </div>
</div>