<div data-dojo-attach-point="applicationHeaderParentContainer">
    <div class="esriCTApplicationHeader esriCTBGColor esriCTBorderBottom">
        <div class="esriCTHomeIcon">
            <img data-dojo-attach-point="applicationHeaderIcon" class="esriCTApplicationIcon"
                alt="" />
        </div>
        <div class="esriCTMenuTabRight">
            <div data-dojo-attach-point="applicationHeaderWidgetsContainer">
                <div class="esriCTDesktopIcons">
                    <div data-dojo-attach-point="myIssueButton" onclick="alert('Coming soon...');" class="esriCTHidden esriCTHeaderIcons esriCTMyIssuesButton esriCTPointerCursor">
                    </div>
                    <div data-dojo-attach-point="reportIssueButton" class="esriCTHidden esriCTHeaderIcons esriCTReportIssueButton esriCTPointerCursor">
                    </div>
                    <div data-dojo-attach-point="signInButton" onclick="location.reload();" class="esriCTHidden esriCTHeaderIcons esriCTSignInButton esriCTPointerCursor">
                    </div>
                    <div data-dojo-attach-point="signOutButton" class="esriCTHidden esriCTHeaderIcons esriCTSignOutButton esriCTPointerCursor">
                    </div>
                </div>
                <div class="esriCTMobileIcons">
                    <div data-dojo-attach-point="mobileMenuBurger" class="esriCTMobileBurgerIcon">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div data-dojo-attach-point="applicationHeaderName" class="esriCTMenuTabLeft">
        </div>
    </div>
</div>
