<div data-dojo-attach-point="applicationHeaderParentContainer">
    <div class="esriCTApplicationHeader esriCTBorderBottom">
        <div class="esriCTHomeIcon"  data-dojo-attach-point="applicationIconContainer">
            <img data-dojo-attach-point="applicationHeaderIcon" class="esriCTApplicationIcon"
                alt="" />
        </div>
        <div class="esriCTMenuTabRight">
            <div data-dojo-attach-point="applicationHeaderWidgetsContainer">
                <div class="esriCTDesktopIcons">
                    <div class="esriCTUserControlContainer esriCTFloatLeft esriCTHidden" data-dojo-attach-point="userControlContainer">
                        <div data-dojo-attach-point="esriCTLoginDetailsDiv">
                            <div class="esriCTLoginCredentialsDiv esriCTApplicationColor esriCTFloatLeft" data-dojo-attach-point="esriCTLoginCredentialsDiv">
                                <div class="esriCTFloatLeft" style="width: 100%;">
                                    <div class="esriCTLoginUserNameDiv esriCTPointerCursor" data-dojo-attach-point="esriCTLoginUserNameDiv" title="${i18n.signInTooltip}">
                                        ${i18n.signIn}
                                    </div>
                                    <div class="esriCTCaretIcon  esriCTPointerCursor esriCTHidden" data-dojo-attach-point="caretIcon">&#9660;</div>
                                </div>
                            </div>
                            <div class="esriCTOptions esriCTApplicationColor esriCTHidden" data-dojo-attach-point="esriCTLoginOptionsDiv">
                                <div class="esriCTLogoutOption esriCTBorder">
                                    <div data-dojo-attach-point="myIssueButton" class="esriCTHidden esriCTItems esriCTPointerCursor" title="${i18n.myReportTooltip}">
                                        ${i18n.myReport}
                                    </div>
                                    <div data-dojo-attach-point="signOutButton" onclick="location.reload();" class="esriCTHidden esriCTItems esriCTPointerCursor" title="${i18n.signOutTooltip}">
                                        ${i18n.signOut}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-dojo-attach-point="mobileIcons" class="esriCTMobileIconDiv">
                    <div class="esriCTHelpIcon esriCTBGColor esriCTPointerCursor esriCTHidden" data-dojo-attach-point="helpButton"
                        data-toggle="modal">
                    </div>
                    <div data-dojo-attach-point="mobileMenuBurger" class="esriCTMobileBurgerIcon esriCTMobileIcons">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div data-dojo-attach-point="applicationHeaderName" class="esriCTMenuTabLeft esriCTApplicationColor">
        </div>
    </div>
</div>
