<div class="dialog-header padding-leader-1 padding-trailer-1">
	<h4 class="dialog-title">{{labels.title}}</h4>
</div>
<div class="dialog-body leader-half">
	<p>{{labels.explanation}}</p>
	<a id="no-sign-in-redirect" href="/" class="btn modal-dismiss">{{labels.returnButton}}</a>
	<button class="btn modal-dismiss close-dialog">{{labels.close}}</button>
</div>