<div class="dialog-header padding-leader-1 padding-trailer-1">
	<h4 class="dialog-title">{{labels.title}}</h4>
</div>	
<div class="dialog-body leader-half">
	<p>{{labels.subtitle}}</p>
	<button class="btn modal-dismiss close-dialog">{{labels.close}}</button>
</div>