<div id="continue-build-container" class="custom-modal-container">
  <div id="continue-build-wrapper" class="custom-modal-wrapper">
    <div class="dialog-header">
      <a id="continue-build-close" class="icon-close cancel-button" href="#"></a>
    </div>
    <div class="dialog-body">
      <h4 id="build-app-confirm-name">{{welcome}}</h4>
      <button id="build-app-confirmation" class="btn modal-dismiss">{{continue}}</button> 
    </div>
  </div>
</div>
