.esri-smart-cards {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.esri-smart-cards .content {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  white-space: nowrap;
  overflow: visible;
}

.esri-smart-cards .card {
  position: relative;
  float: left;
  width: 300px;
  height: 116px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: block;
  background-color: #000000;
}

.dj_rtl .esri-smart-cards .card {
  float: right;
}

.esri-smart-cards .card.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.esri-smart-cards .left {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
  display: block;
}

.esri-smart-cards .big .left {
  right: 100px;
}

.esriRTL .esri-smart-cards .big .left {
  left: 100px;
}

.esri-smart-cards .header {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 30px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.esri-smart-cards .avatar{
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;
}

.esriRTL .esri-smart-cards .avatar{
  float: right;
  margin-left: 10px;
  margin-right: 0;
}

.esri-smart-cards .avatar img{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.esri-smart-cards .title {
  float: left;
  max-width: 240px;
  height: 100%;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  font-weight: bold;
}

.esriRTL .esri-smart-cards .title {
  float: right;
}

.esri-smart-cards .dateSmall {
  float: right;
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  text-align: right;
  display: inline-block;
}

.esriRTL .esri-smart-cards .dateSmall {
  float: left;
  text-align: left;
}

.esri-smart-cards .desc {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 56px;
  line-height: 14px;
  font-size: 12px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.esri-smart-cards a {
  color: inherit;
  opacity: 0.75;
  text-decoration: none;
}

.esri-smart-cards .right {
  position: absolute;
  right: 0;
  width: 90px;
  top: 0;
  bottom: 0;
  display: none;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  padding: 10px 0 10px 0;
  line-height: 0.9;
}

.esriRTL .esri-smart-cards .right {
  left: 0;
}

.esri-smart-cards .big .right {
  display: block;
}

.esri-smart-cards .right .num {
  font-size: 70px;
  letter-spacing: -5px;
}

.esri-smart-cards::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.25);
}

.esri-smart-cards::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.esri-smart-cards {
  scrollbar-base-color: #000000;
  scrollbar-3dlight-color: #000000;
  scrollbar-highlight-color: #000000;
  scrollbar-track-color: #707070;
  scrollbar-arrow-color: #606060;
  scrollbar-shadow-color: #000000;
  scrollbar-dark-shadow-color: #000000;
  scrollbar-face-color: #606060;
}
