<div class="esriCTSortViews esriCTTitleBorder">
    <span data-dojo-attach-point="sortByLabel" class="esriCTMenulbl esriCTSortText">
    </span>
    <div class="esriCTSortByTitle">
        <div data-dojo-attach-point="sortByDiv" class="esriCTSortHeader ">
            ${nls.sortByTextMobile}</div>
        <div data-dojo-attach-point="sortMenuMbl" class="esriCTSortMenu">
            <ul>
                <li data-dojo-attach-point="sortByViewMbl" class="sortByViewMbl esriCTListSelected">${nls.viewTextMobile}</li>
                <li data-dojo-attach-point="sortByDateMbl" class="sortByDateMbl">${nls.dateTextMobile}</li>
            </ul>
        </div>
    </div>
</div>
