#legendDiv {
  position: absolute !important;
  z-index: 400;
  background-color: white;
  bottom: 10px;
  opacity: 0.95;
  border-radius: 5px;
  width: 90%;
  height: 40%;
  margin: 0px 5% 0px 5%;
  overflow: scroll;
}