html {
	overflow: auto;
}

body.builder {
	font-size: 14px;
	min-width: 800px !important;
}
.builder .page {
	padding-bottom: 0 !important;
}

.builder #builder-loading {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: 180px;
	position: absolute;
	text-align: center;
	z-index: 1;
}

.builder header {
	display: none;
}

.builder .drawer {
	display: none;
}

.builder #list-container {
	display: none;
}

.builder #sign-in-container {
	display: none;
}

.builder footer {
	display: none;
}

.buioder .row, .builder .row .row {
	margin-right: 0;
	margin-left: 0;
}

.builder .share-buttons-container {
	text-align: center;
}

.builder .share-buttons-container .map-sharing-icon {
	font-size: 1.8rem;
	padding: 3px 8px 0;
}

.builder .item-actions span {
	font-size: 1.5rem;
}

.builder .item-actions h4 {
	font-size: 1.5rem;
}


.builder .item-side-buttons {
	margin-top: 0;
	padding: 0;
}

.builder .item-content.container {	
	padding-left: 0;
}

.builder .item-content-container {
	min-height: inherit;
}

.builder .content-tabs-container {
	margin-bottom: 16px;
}

.builder .content-tab:before {
	font-size: 0.75rem;
	right: 2px;
	top: 0px;
}

.builder .content-table {
	margin-bottom: 0;
}

.builder .content-table thead {
	font-size: 0.9rem;
}

.builder .item-text {
	margin-top: 0;
	padding-right: 0;
	padding-left: 0;	
}

.builder .notification-container {
	height: 48px;
}

.builder .item-content-container {
	padding-top: 0;
}


.builder .content-tab.media-tab[data-tab-type="tags"] {
	display: none;
}

.builder .item-table-container[data-tab-type="tags"] {
	display: none;
}

.builder .content-tab.media-tab[data-tab-type="gallery"] {
	display: none;
}

.builder .item-table-container[data-tab-type="gallery"] {
	display: none;
}

.builder .image-table tbody {
	max-height: 225px;
}

.builder .content-tab-title {
	font-size: 1.2rem;
	margin-bottom: 0;
}

.builder .back-to-top {
	display: none !important;
}

.builder .section-link {
	cursor: pointer;
	text-decoration: underline;
}

.builder .section-link:hover {
	color: #00B9F2;
}

.builder .edit-item {
	color: white;
	padding: 2px 6px;
}

