.loader.small {
	height: 40px;
	width: 40px;
}

.loader.small:after {
	height: 26px;
	left: 7px;
	top: 7px;	
	width: 26px;	
}

.scanning-row, #find-more-row {
	height: 180px;
	padding: 12px 0;
}


.loading-container {
	text-align: center;
	width: 100%;	
}

.progress-title {
	font-weight: bold;
	margin-bottom: 12px;
}

.progress-title.small {
	font-weight: normal;
}

.progress-details {
	font-weight: bold;
	margin-bottom: 0;
	margin-top: -12px;
}


.progress-row {
	margin-top: 50px;
	text-align: center;
}

.progress-box {
	display: inline-block;
	margin-top: 28px;	
}

#scanning-done .progress-title, #scanning-aborted .progress-title {
	margin-top: 28px;
}

#scanning-stop {
	float: right;
	font-size: $small-button-text;
  	padding: .15rem .8rem .05rem;
}

.shrunk {
	height: 0;
	padding: 0;
	border: 0;
}

.progress-inner-box {	
	display: inline-block;
	text-align: center;	
	width: 410px;
}


/*Progress bar stylings*/

.dijitProgressBar {
	background: $story-faded-gray-lightest;		
	border-radius: 6px;
	display: inline-block;
	height: 8px;
	padding: 2px 3px;
	width: 100%;	
}

.dijitProgressBarFull {
	background: $story-dark-blue;
	border-radius: 5px;
	height: 4px;	
}

.dijitProgressBarLabel {
	display: none;
}

#find-more-row {
	border-top: 1px solid $story-dark-blue;
	text-align: center;
}

#find-more-row:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#find-more-button {
	display: inline-block;
	vertical-align: middle;
}