<div>
    <div class="esriCTOptionsSearchMode esriCTBorder esriCTApplicationColor esriCTHidden"
        data-dojo-attach-point="searchOptions">
        <div data-dojo-attach-point="search">
            <input type="text" class="esriCTSearchBox" placeholder="" data-dojo-attach-point="searchBox" />
            <!--Clear button-->
            <div class="esriCTClearDiv esriCTClearBtn esriCTVisible" data-dojo-attach-point="clearTextContent">
            </div>
            <div class="esriCTSearchButton esriCTBGColor esriCTPointerCursor" data-dojo-attach-point="searchRecords">
            </div>
        </div>
        <span class="esriCTHidden esriCTNoResults" data-dojo-attach-point="noResultsFound">
        </span>
    </div>
</div>
