html,body {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        }

        body {
        background:#000 url(../images/pavement_bg.jpg) top left repeat;
        -moz-background-size:cover;
        font-weight:lighter;
        background-size:cover;
        color:#fff;
        font-size:13px;
        overflow:hidden;
        font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        a {
        color:#3E87DC;
        }

        #header {
        height:110px;
        margin:0;
        }

        #header_flourish {
        background:url(../images/pavement_topflourish.png) no-repeat;
        width:642px;
        height:33px;
        position:absolute;
        bottom:0;
        }

        #title {
        color:#cf9325;
        font-size:30px;
        font-weight:lighter;
        text-align:left;
        padding-top:10px;
        padding-left:15px;
        white-space: nowrap;  
        overflow: hidden;  
        text-overflow: ellipsis;
        -o-text-overflow:ellipsis;
        }

        #subtitle {
        font-size:14px;
        color:#FFF;
        padding-left:15px;
        white-space: nowrap;  
        overflow: hidden;  
        text-overflow: ellipsis;
        -o-text-overflow:ellipsis;
        }

        #rightPane {
        width:20%;
        margin:20px 20px 0 0;
        padding:0;
        }

        #leftPane {
        width:20%;
        margin:20px 0 0 20px;
        padding:0;
        }

        #leftPaneContent {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        }

        #leftPaneHeader {
        height:30px;
        padding-top:15px;
        border-bottom:3px solid #fff;
        }

        #leftPaneHeader span {
        font-weight:400;
        font-size:18px;
        color:#cf9325;
        margin:0 auto;
        padding:0 10px 5px;
        }

       

        #leftPaneBody {
        margin:0;
        }

        #leftPaneBody .panel_content {
        padding:10px;
        }

        #tabLink {
        text-decoration:none;
        color:#3f3f3f;
        }

        #map {
        border:solid 3px #fff;
        margin:20px 20px 0 0;
        padding:0;
        }

        #footer {
        color:#FFF;
        font-size:14px;
        text-align:right;
        height:18px;
        margin:0;
        padding:8px 20px 5px;
        }
        .esriScalebar{
          padding-left:15px;
        }
        .map .bingLogo-lg{
          left:18px !important;
        }