/* Main Application */
@import "template_mixin.scss";
@import "Filter.scss";
@import "Drawer.scss";

html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
    color: $font-color;
}

#mapDiv {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.hidden{
    display:none;
}


.calcite label{
    margin-bottom:0 !important;
}

.panel_content{
    padding:4px;
}
.esriSimpleSlider{
    display:none;
    top: 55px;
    left:4px;
    @include respond-to(850){
        display:block;
    }
}

#search{
    position:absolute;
    top:0;
    right:0;
    width:333px;
}

.filter-content{
  padding:4px;
}
.open-drawer{
 /*Hide geocoder for small screen sizes when drawer is open*/
    display:none;
    @include respond-to(450){
     display:block;
    }
}
/* Esri Javascript API*/
.esriPopup .pointer.bottom , .esriPopup .pointer.bottomLeft, .esriPopup .pointer.bottomRight{
    background: #f7f7f7 !important;
}
.esriPopup.light .actionsPane .action.zoomTo {
  background-position: 0 -224px; }

.esriPopup .actionsPane .action {
  margin-right: 10px; }

.esriPopup.light .actionsPane .action {
  position: absolute;
  cursor: pointer;
  background-image: url("http://js.arcgis.com/3.12/esri/css/calcite/images/popup-sprite.png");
  width: 12px;
  height: 12px;
  text-indent: -9999px; }

#locateDiv{
    position: absolute;
    top:55px;
    left:4px;
    z-index: 50;
    @include respond-to(850){
        top:130px;
    }
}

#homeDiv{
  position:absolute;
  top:100px;
  left:4px;
  z-index:50;
  @include respond-to(850){
    top:175px;
  }
}

.simpleGeocoder .esriGeocoderResults{
  color: #333;
}
.simpleGeocoder .esriGeocoderResult{
  color: #333;
}

@font-face {
  font-family: 'simple';
  src: url('../font/simple.eot?71494750');
  src: url('../font/simple.eot?71494750#iefix') format('embedded-opentype'),
       url('../font/simple.woff?71494750') format('woff'),
       url('../font/simple.ttf?71494750') format('truetype'),
       url('../font/simple.svg?71494750#simple') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "simple";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

}

.icon-search:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-buffer:before { content: '\e809'; } /* '' */
