/* Main Application */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #545454; }

#mapDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

.hidden {
  display: none; }

.calcite label {
  margin-bottom: 0 !important; }

.panel_content {
  padding: 4px; }

.esriSimpleSlider {
  display: none;
  top: 55px;
  left: 4px; }

@media only screen and (min-width: 850px) {
  .esriSimpleSlider {
    display: block; } }

#search {
  position: absolute;
  top: 0;
  padding: 2px 4px;
  right: 8px; }

.filter-content {
  padding: 4px; }

.open-drawer {
  /*Hide geocoder for small screen sizes when drawer is open*/
  display: none; }

@media only screen and (min-width: 450px) {
  .open-drawer {
    display: block; } }

/* Esri Jvascript API*/
.esriPopup .pointer.bottom, .esriPopup .pointer.bottomLeft, .esriPopup .pointer.bottomRight {
  background: #f7f7f7 !important; }

#locateDiv {
  position: absolute;
  top: 55px;
  left: 4px;
  z-index: 50; }

@media only screen and (min-width: 850px) {
  #locateDiv {
    top: 130px; } }

#homeDiv {
  position: absolute;
  top: 100px;
  left: 4px;
  z-index: 50; }

@media only screen and (min-width: 850px) {
  #homeDiv {
    top: 175px; } }

@font-face {
  font-family: 'simple';
  src: url('../font/simple.eot?14672126');
  src: url('../font/simple.eot?14672126#iefix') format('embedded-opentype'), url('../font/simple.woff?14672126') format('woff'), url('../font/simple.ttf?14672126') format('truetype'), url('../font/simple.svg?14672126#simple') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "simple";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em; }

.icon-menu:before {
  content: '\e801'; }

/* '' */