	  html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0; overflow:hidden;}
	  h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
	  ul,ol {list-style:none;}
	  fieldset,img,hr {border:none;}
	  caption,th {text-align:left;}
	  table {border-collapse:collapse; border-spacing:0;}
	  td {vertical-align:top;}

	  html,body{
	  font-family:Arial, Helvetica, sans-serif;
	  overflow:hidden;
	  }
	  
	  body{
	  background:#c4c4c4;
	  }
	  
	  h3{
	  font-family:Georgia, "Times New Roman", Times, serif;
	  font-weight:normal;
	  color:#3e3e3e;
	  }
	  
	  a {
      color:#333;
	  font-weight:bold;
	  text-decoration:none;
      }
	  
	  a:hover{
	  text-decoration:underline;
	  }
	  
	  #bannerBkgd{
	  background-color:#3e3e3e;
	  width:100%;
	  height:100px;
	  }
	  
	  #banner{
	  margin:auto;
	  width:1000px;
	  height:100px;
	  }
	  
	  #title{
	  padding-left:10px;
	  color:#fff;
	  font-family:Georgia, "Times New Roman", Times, serif;
	  font-size:32px;
	  white-space:nowrap;
	  line-height:2.1;
	  }
	  
	  #introTab{
	  background:#828282;
	  height:28px;
	  float:left;
	  padding-right:10px;
	  padding-left:8px;
	  margin-left:4px;
	  cursor:pointer;
	  border:#aaa solid 1px;
	  color:#fff;
	  font-size:14px;
	  font-weight:normal;
	  line-height:2.0;
	  }
	  
	  #introTab:hover{
	  background:#666;
	  }
	  
	  #links{
	  margin-left:5px;
	  height:35px;
	  width:1000px;
	  }
	  
	  .links{
	  background:#828282;
	  height:30px;
	  width:170px;
	  float:left;
	  margin-left:4px;
	  white-space:nowrap;
	  cursor:wait;
	  }
	  
	  .links:hover{
	  background:#c4c4c4;
	  }
	  
	  p.navText{
	  padding-top:7px;
	  padding-left:8px;
	  color:#fff;
	  font-size:14px;
	  font-weight:normal;
  	  }
	  
	  .selected{
	  height:35px;
	  background:#c4c4c4;
	  }
	  
	  #content{
	  margin:auto;
	  width:1000px;
	  height:550px;
	  }
	  
	  #sidePanel{
	  position:relative;
	  float:left;
	  padding-top:10px;
	  padding-left:10px;
	  padding-bottom:0px;
	  width:215px;
	  height:540px;
	  overflow:auto;
	  }
	  
	  .mapText{
	  padding-top:20px;
	  font-family:Arial, Helvetica, sans-serif;
	  word-wrap:break-word;
	  width:195px;
	  font-size:12px;
	  color:#3e3e3e;
	  margin:0;
	  }
	  
	  .legText{
	  padding-top:20px;
	  font-family:Arial, Helvetica, sans-serif;
	  word-wrap:break-word;
	  width:195px;
	  font-size:12px;
	  color:#3e3e3e;
	  margin:0;
	  }
	  
	  .esriLegendService{
	  margin-bottom:-20px;
	  }
	  
	  #mapContainer{
	  position:relative;
	  float:right;
	  width:775px;
	  height:550px;
	  }
	  
	  #loadImg{
	  position:absolute;
	  left:277px;
	  top:266px;
	  margin:auto;
	  z-index:99;
	  }
	  
	  .map{
	  position:relative;
	  width:775px;
	  height:550px;
	  }
	  
	  .esriPopup,.esriPopupWrapper{
	  overflow:visible;
	  }
	  
	  .esriScalebar,.scaleLabelDiv,.esriScalebarLabel{
	  font-family:Arial, Helvetica, sans-serif;
	  overflow:visible;
	  }
	  
	  /* INTRO PANEL */
	  #modalBackground {
	  position:absolute;
	  height:100%;
	  width:100%;
	  top:0;
	  background-color:#3e3e3e;
	  z-index:100;
	  }
	  
	  #intro{
	  display:none;
	  position:absolute;
	  width:800px;
	  height:550px;
	  top:65px;
	  background-color:#c4c4c4;
	  z-index:101;
	  }
	  
	  #introHeader{
	  width:100%;
	  height:65px;
	  line-height:2.0;
	  background-color:#848484;
	  color:#fff;
	  font-family:Georgia, "Times New Roman", Times, serif;
      font-size:30px;
      text-align:left;
      padding:0px 15px ;
      white-space: nowrap;  
      overflow: hidden;  
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
	  }
	  
	  
	  /* Intro Panel */
	  #introContent{
	  overflow:hidden;
	  }
	  
	  #textPanel{
	  width:350px;
	  height:485px;
	  margin-left:15px;
	  margin-top:2px;
	  float:left;
	  }
	  
	  #introText{
	  max-height:390px;
	  overflow:auto;
	  margin-bottom:15px;
	  padding-top:25px;
	  padding-left:25px;
	  }
	  
	  #continue{
	  display:none;
	  margin-left:115px;
	  }
	  
	  #introImg{
	  display:none;
	  max-width:405px;
	  max-height:440px;
	  margin-top:15px;
	  margin-right:15px;
	  float:right;
	  }
	  
	  /* clean gray
	  *******************************************************************************/
	  .clean-gray {
      background-color: #eeeeee;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
      /* Saf4+, Chrome */
  	  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
      background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
      background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
      background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
      background-image: linear-gradient(top, #eeeeee, #cccccc);
      border: 1px solid #ccc;
      border-bottom: 1px solid #bbb;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      color: #333;
      font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
      line-height: 1;
      padding: 8px 8px;
      text-align: center;
      text-shadow: 0 1px 0 #eee;
      width: 150px;
	  }

	  .clean-gray:hover {
      background-color: #dddddd;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#bbbbbb));
      /* Saf4+, Chrome */
      background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
      background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
      background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
      background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
      background-image: linear-gradient(top, #dddddd, #bbbbbb);
      border: 1px solid #bbb;
      border-bottom: 1px solid #999;
      cursor: pointer;
      text-shadow: 0 1px 0 #ddd;
	  }

	  .clean-gray:active {
      border: 1px solid #aaa;
      border-bottom: 1px solid #888;
      -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
      -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
      -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
      -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
      box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	  }	  
	  
	  g,v{
	  cursor:pointer;
	  }