<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"
            />

        <!-- If using a private group accessed via the proxy, add the path to the proxy program in the config.js file
             and uncomment one of the next two tags depending on whether you want to use a username and password or a
             clientId and clientSecret -->
        <!--serverUrl url="http://www.arcgis.com"
                   matchAll="true"
                   username=""
                   password=""
            /-->
        <!--serverUrl url="http://www.arcgis.com"
                   matchAll="true"
                   clientId=""
                   clientSecret=""
            /-->
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
