<div>
    <div class="esriCTListHeader esriCTBGColor">
        <div class="esriCTBackButton esriCTPointerCursor" title="${i18n.gotoIssueListTooltip}" data-dojo-attach-point="backIcon"></div>
        <div data-dojo-attach-point="itemTitleDiv" class="esriCTHeaderText esriCTListHeaderText esriCTEllipsis esriCTDetailsHeader" data-toggle="tooltip" trigger="manual" data-placement="bottom">
        </div>
        <div class="esriCTHidden esriCTVotesDetails" data-dojo-attach-point="votesDetailContainer">
            <div class="esriCTItemVotes esriCTEllipsis" data-dojo-attach-point="itemVotesDiv"></div>
            <div class="esriCTIcon glyphicon glyphicon-heart esriCTDetailsFavDiv"></div>
        </div>
    </div>
    <div class="esriCTItemDetailsContainer" data-dojo-attach-point="itemDetailsContainer">
        <div class="esriCTTtemDescription">
            <div class="esriCTDetailDescription esriCTSpaceBelow esriCTSmallText" data-dojo-attach-point="descriptionDiv"></div>
            <div class="esriCTItemDescFooter esriCTSmallText">
                <div class="esriCTDetailButtonContainer">
                    <button type="button" class="btn btn-default esriCTDetailsPanelButton esriCTEllipsis esriCTSmallText esriCTApplicationColor" data-dojo-attach-point="likeButton" title="${i18n.likeButtonTooltip}">
                        <span class="glyphicon glyphicon-heart esriCTMargin" aria-hidden="true"></span>
                        <span class="esriCTButtonLabel" data-dojo-attach-point="likeLabel">${i18n.likeButtonLabel}</span>
                    </button>
                </div>
                <div class="esriCTDetailButtonContainer">
                    <button type="button" class="btn btn-default esriCTDetailsPanelButton esriCTEllipsis esriCTSmallText esriCTApplicationColor" data-dojo-attach-point="commentButton" title="${i18n.commentButtonTooltip}">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <span class="esriCTButtonLabel" data-dojo-attach-point="commentLabel">${i18n.commentButtonLabel}</span>
                    </button>
                </div>
                <div class="esriCTDetailButtonContainer esriCTMapItButtonVisibility">
                    <button type="button" class="btn btn-default esriCTDetailsPanelButton esriCTEllipsis esriCTSmallText esriCTApplicationColor" data-dojo-attach-point="mapItButton" title="${i18n.mapButtonTooltip}">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <span class="esriCTButtonLabel" data-dojo-attach-point="mapLabel">${i18n.mapButtonLabel}</span>
                    </button>
                </div>
                <div class="esriCTDetailButtonContainer">
                    <button type="button" class="btn btn-default esriCTDetailsPanelButton esriCTEllipsis esriCTSmallText esriCTApplicationColor esriCTFloatRight esriCTGalleryButton" data-dojo-attach-point="galleryButton" title="${i18n.galleryButtonTooltip}">
                        <span class="glyphicon glyphicon-picture esriCTMargin" aria-hidden="true"></span>
                        <span class="esriCTButtonLabel" data-dojo-attach-point=" gallerylabel">${i18n.galleryButtonLabel}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="esriCTFloatLeft esriCTFullWidth esriCTDetailsPanel">
            <div class="esriCTAttachmentsSection esriCTDetailsData esriCTHidden esriCTFullWidth esriCTFloatLeft" data-dojo-attach-point="gallery">
            </div>
            <div class="esriCTItemComments">
                <div class="esriCTItemComments esriCTHidden" data-dojo-attach-point="commentDetails"></div>
                <div class="esriCTItemDetailHeader esriCTLargeText esriCTEllipsis" data-dojo-attach-point="commentsHeading"></div>
                <div class="esriCTSmallText esriCTDetailsNoResult esriCTHidden" data-dojo-attach-point="noCommentsDiv"></div>
                <div class="esriCTSmallText esriCTCommentsList" data-dojo-attach-point="commentsList"></div>
            </div>
        </div>
    </div>
</div>
