@import "latoMerriweather";
@import "openSans";

.font-Fonts {
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6, .tooltip, .popover {
          font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }
      }
      
      html .font-Fonts, body .font-Fonts, .font-Fonts blockquote, .font-Fonts .serif-face {
        font-family: "Open Sans", Georgia, serif;
      }
      
      .font-Fonts{
        code,
        kbd,
        pre,
        samp {
          font-family: "", "Consolas", "Andale Mono", "Lucida Console", "Monaco", "Courier New", Courier, monospace;
        }
      }