<div class="esriCTFullHeight">
    <div class="esriCTListHeader esriCTBGColor">
        <div class="esriCTBackButton esriCTPointerCursor" data-dojo-attach-point="listBackButton"></div>
        <div data-dojo-attach-point="listContainerTitle" class="esriCTHeaderText esriCTListHeaderText esriCTEllipsis">
        ${appConfig.i18n.myIssues.title}</div>
        <div class="esriCTListButtonContainer">
            <div class="esriCTInfoLoader esriCTBGColor esriCTHidden esriCTLoaderPosition" data-dojo-attach-point="listLoadingIndicator">
                <div class="esriCTHeaderLoadingIndicator">
                </div>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="myIssuesListContainer" class="esriCTMyIssueListContainer">
        <div data-dojo-attach-point="noIssuesMessage" class="esriCTHidden esriCTNoIssueDiv">
        ${appConfig.i18n.myIssues.noResultsFound}</div>
    </div>
</div>
