<div class="esriCTListContent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="esriCTListPanelHeader">
                <div>
                    ${WebMapTitle}: ${LayerTitle}</div>
                <div>
                    ${IssueTitle}</div>
            </div>
            <div class="esriCTIssueListIcons esriCTDownArrowIcon esriCTBGColor esriCTPointerCursor">
            </div>
        </div>
        <div class="panel-body esriCTNoPadding">
            <div class="esriCTIconsContainer">
                <div class="esriCTIssueIconContainer">
                    <div class="esriCTIssueListIcons esriCTLikeIcon esriCTBGColor esriCTPointerCursor">
                    </div>
                    <span class="esriCTLikeCount"></span>
                </div>
                <div class="esriCTIssueIconContainer">
                    <div class="esriCTIssueListIcons esriCTCommentsIcon esriCTBGColor esriCTPointerCursor">
                    </div>
                </div>
                <div class="esriCTIssueMapIconContainer">
                    <div class="esriCTIssueListIcons esriCTMapIcon esriCTBGColor esriCTPointerCursor">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
