@font-face {
	font-family: 'icon-stories';
	src:url('../../fonts/my-stories/icon.eot?w20r00');
	src:url('../../fonts/my-stories/icon.eot?#iefixw20r00') format('embedded-opentype'),
		url('../../fonts/my-stories/icon.woff?w20r00') format('woff'),
		url('../../fonts/my-stories/icon.ttf?w20r00') format('truetype'),
		url('../../fonts/my-stories/icon.svg?w20r00#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-stories-"]:before, [class*=" icon-stories-"]:before {
	font-family: 'icon-stories';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-stories-accordion:before {
	content: "\e600";
}

.icon-stories-bulleted:before {
	content: "\e601";
}

.icon-stories-check-inverted:before {
	content: "\e602";
}

.icon-stories-check:before {
	content: "\e603";
}

.icon-stories-close:before {
	content: "\e604";
}

.icon-stories-error:before {
	content: "\e605";
}

.icon-stories-facebook:before {
	content: "\e606";
}

.icon-stories-flickr:before {
	content: "\e607";
}

.icon-stories-floating:before {
	content: "\e608";
}

.icon-stories-arrow-left:before {
	content: "\e609";
}

.icon-stories-arrow-right:before {
	content: "\e60a";
}

.icon-stories-globe:before {
	content: "\e60b";
}

.icon-stories-marker:before {
	content: "\e60c";
}

.icon-stories-picasa:before {
	content: "\e60d";
}

.icon-stories-portrait:before {
	content: "\e60e";
}

.icon-stories-positive:before {
	content: "\e60f";
}

.icon-stories-sections:before {
	content: "\e610";
}

.icon-stories-side_panel:before {
	content: "\e611";
}

.icon-stories-spyglass:before {
	content: "\e612";
}

.icon-stories-swipe:before {
	content: "\e613";
}

.icon-stories-tabbed:before {
	content: "\e614";
}

.icon-stories-error-inverse:before {
	content: "\e615";
}

.icon-stories-tour-three-layout:before {
	content: "\e616";
}

.icon-stories-tour-integrated:before {
	content: "\e617";
}

.icon-stories-vimeo:before {
	content: "\e618";
}

.icon-stories-warning:before {
	content: "\e619";
}

.icon-stories-youtube:before {
	content: "\e61a";
}




@font-face {
	font-family: 'clear';
	src:url('../../fonts/my-stories/clear.eot?aywp02');
	src:url('../../fonts/my-stories/clear.eot?#iefixaywp02') format('embedded-opentype'),
		url('../../fonts/my-stories/clear.ttf?aywp02') format('truetype'),
		url('../../fonts/my-stories/clear.woff?aywp02') format('woff'),
		url('../../fonts/my-stories/clear.svg?aywp02#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-clear-"]:before, [class*=" icon-clear-"]:before {
	font-family: 'clear';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-clear-first:before {
	content: "\e600";
}
.icon-clear-second:before {
	content: "\e601";
}
.icon-clear-third:before {
	content: "\ea39";
}


@font-face {
	font-family: 'info';
	src:url('../../fonts/my-stories/info.eot?-98pqo1');
	src:url('../../fonts/my-stories/info.eot?#iefix-98pqo1') format('embedded-opentype'),
		url('../../fonts/my-stories/info.ttf?-98pqo1') format('truetype'),
		url('../../fonts/my-stories/info.woff?-98pqo1') format('woff'),
		url('../../fonts/my-stories/info.svg?-98pqo1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-info-"]:before, [class*=" icon-info-"]:before {
	font-family: 'info';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-info-information:before {
	content: "\e600";
}
