select {
	height: 30px;
	padding: 0.2em 0.5em 0.5em;
}

.modal {
	background: white;
	overflow-y: auto;
}

.modal-overlay {
	background: rgba(0,0,0,0.5);
	z-index: 200;
}

.row .row {
	width: 100%;
}

.row.to-end {
	margin-left: 0;
}

.btn {
	background: $tailcoat-icon-blue-light;
}

.btn:not(.disabled):focus {
	color: white;
}

.loader {
	display: inline-block;
	vertical-align: middle;
}

.loader .side .fill {
	background: $story-dark-blue;
}


.btn[class*="icon-map-pin"]:before {
	vertical-align: -3px;
}


/*
These next stylings are for buttons whose icon is on the right instead of the left.
We nix out the before (left) pseudo element and instead add the stylings to the after
(right) element.
*/
.right-icon:before {
	content: '';
}

.right-icon:after {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	text-transform: none;

	font-size: 115%;
	vertical-align: -3px;
	padding-left: .25em;
}

.icon-right-arrow.right-icon:after {
	content: '\74';
}

.icon-sort-down-2.right-icon:after {
	content: '\e021';
}

.icon-browser:before {
	content: '\e606';
}

.alert {
	font-size: $small-font-size;
}
