.esriPopup a {
    text-decoration: none;
    line-height: 1.5em;
    color: #0000FF;
}

    .esriPopup a:active {
        text-decoration: none;
        line-height: 1.5em;
        color: #FF0000;
    }

    .esriPopup a:hover {
        text-decoration: none;
        line-height: 1.5em;
        color: #FF0000;
    }

    .esriPopup a:visited {
        text-decoration: none;
        line-height: 1.5em;
        color: #800080;
    }

.esriPopup .actionsPane .zoomTo {
    display: none;
}

.esriPopup .actionsPane .email {
    width: 30px;
    height: 30px;
    padding-right: 2px;
    padding-left: 15px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    color: #333333 !important;
    text-decoration: none !important;
    font-size: 24px !important;
}


.esriPopup .actionsPane .link {
    width: 30px;
    height: 30px;
    padding-right: 2px;
    padding-left: 2px;
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    color: #333333 !important;
    text-decoration: none !important;
    font-size: 24px !important;
}

.esriPopup .titleButton.maximize {
    display: none;
}

.popTable {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-collapse: collapse;
    direction: ltr;
    display: table;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    line-height: normal;
    width: 175px;
}

    .popTable .popName {
        border-collapse: collapse;
        direction: ltr;
        display: table-cell;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: 14px;
        line-height: normal;
        margin: 0;
        padding-bottom: 5px;
        padding-left: 2px;
        padding-right: 5px;
        padding-top: 2px;
        vertical-align: top;
        /*width: 113px;*/
    }

    .popTable .popValue {
        border-collapse: collapse;
        direction: ltr;
        display: table-cell;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        height: 14px;
        line-height: normal;
        margin: 0;
        padding-bottom: 5px;
        padding-left: 2px;
        padding-right: 2px;
        padding-top: 2px;
        vertical-align: top;
        /*width: 70px;*/
    }



.hzLinePopUp {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.headerPopUp {
    font-weight: bold;
    padding-bottom: 3px;
}
