/* Drawer */


.content-pane-inner-top {
    height: 64px;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.content-pane-inner-center {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.right .top-bar {
    left: auto;
    right: 0;
}

.top-bar {
    width: 100%;
    height: 100%;
}

.app-title {
    padding-left: 4px;
    padding-right: 4px;
}

.esriRTL .app-title {
    float: right;
}

.title-text {
    font-size: x-large;
    height: 64px;
    line-height: 64px;
    margin-right: 10px;
    margin-left: 10px;
}

.page-icon {
    float: left;
    height: 64px;
    width: 64px;
    margin-right: 10px;
    margin-left: 10px;
    
    overflow: hidden;
}
.page-icon-image {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.esriRTL .page-icon {
    float: right;
}

.esriViewPopup .hzLine {
    border-top: 1px solid #333333;
}

.hideBar .content-pane-inner-top {
    visibility: hidden;
    display: none;
}

.hideSide .content-pane-left {
    visibility: hidden;
    display: none;
}

.hideSide .hamburger-button {
    visibility: hidden;
    display: none;
}


.hamburger-button {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    line-height: 64px;
    font-size: 32pt;
}

.right .hamburger-button {
    float: right;
}

.border-container-outer {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

.border-container-inner {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}



.content-pane-left {
    width: 0;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    -webkit-transition: width 250ms ease;
    -moz-transition: width 250ms ease;
    -ms-transition: width 250ms ease;
    -o-transition: width 250ms ease;
    transition: width 250ms ease;
}

    .content-pane-left a, a:visited, a:hover, a:active {
        text-decoration: none;
        line-height: 1em;
        color: inherit;
    }

.left .content-pane-display {
    border-right-width: 1px;
    border-right-style: solid;
}

.right .content-pane-display {
    border-left-width: 1px;
    border-left-style: solid;
}

.content-pane-display {
    width: 100%;
}

.left .content-pane-btn {
    width: 100%;
    border-right-width: 1px;
    border-right-style: solid;
}

.right .content-pane-btn {
    width: 100%;
    border-left-width: 1px;
    border-left-style: solid;
}

.app-loading .content-pane-left {
    width: 0;
    visibility: hidden;
    display: none;
}

.content-pane-center {
    width: 100%;
    height: 100%;
    padding-top: 0;
    margin: 0;
    border: 0;
}

.content-pane-btn {
    height: 32px;
    width: 100%;
    padding-top: 0;
    margin: 0;
    border: 0;
    text-align: center;
}

.sidebar-button-pane {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.drawer-open .content-pane-left {
    width: 350px;
    overflow: auto;
    overflow-x: hidden;
}

@media screen and (max-width: 350px ) {
    .drawer-open .content-pane-left {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

}
