html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
}

#mapDiv {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#searchDiv {
    display: block;
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 75px;
    width: 60%;
}

/*.LocateButton .zoomLocateButton {
    background: url("../images/home_locate.png") no-repeat -30px 0;
    background-image: url(http://cdn.arcgis.com/cdn/3684/js/esri/arcgisonline/map/css/images/home_locate.png);
    padding: 2px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    background-color: rgb(255, 255, 255);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #666;
}*/


#loader {
    position: absolute;
    /*background: url("./images/preloader.gif") no-repeat;*/
    z-index: 250;
    width: 65px;
    height: 50px;
    left: 50%;
    top: 50%;
    display: none;
}
#LocateButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}

/* customize geocoder appearance */
.simpleGeocoder, .simpleGeocoder .esriGeocoderContainer {
    width: 100%;
}

    .simpleGeocoder .esriGeocoder {
        height: 100%;
    }

        .simpleGeocoder .esriGeocoder input {
            
            /* Firefox */
            width: -moz-calc(100% - 75px);
            /* WebKit */
            width: -webkit-calc(100% - 75px);
            /* Opera */
            width: -o-calc(100% - 75px);
            /* Standard */
            width: calc(100% - 75px);
            padding-right:0px;
            margin-right:0px;

        }


    .simpleGeocoder .esriGeocoderResult:hover,
    .simpleGeocoder .esriGeocoderResultEven:focus,
    .simpleGeocoder .esriGeocoderResultOdd:focus {
        /* default is #EDEDED, use a light blue instead */
        background-color: #B5DAEA;
    }


.esriRTL label {
    /*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}



.hzLinePopUp {
border: none;
border-top: 1px solid #333333;
margin-top: 6px;
margin-bottom: 6px;


}

.headerPopUp {
font-weight: bold;
}
.attTable {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-bottom-color: rgb(128, 128, 128);
    border-collapse: collapse;
    border-left-color: rgb(128, 128, 128);
    border-right-color: rgb(128, 128, 128);
    border-top-color: rgb(128, 128, 128);
    color: rgb(51, 51, 51);
    direction: ltr;
    display: table;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 168px;
    line-height: normal;
    visibility: visible;
    width: 310px;
}
.attrName {
    border-collapse: collapse;
color: rgb(136, 136, 136);
direction: ltr;
display: table-cell;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 14px;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 5px;
padding-left: 2px;
padding-right: 5px;
padding-top: 2px;
vertical-align: top;
visibility: visible;
width: 90px;

}
.attrValue{
    border-collapse: collapse;
color: rgb(51, 51, 51);
direction: ltr;
display: table-cell;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 14px;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 5px;
padding-left: 2px;
padding-right: 2px;
padding-top: 2px;
vertical-align: top;
visibility: visible;
width: 136px;
}