<div data-dojo-attach-point="containerNode" class="${css.root} shadow" role="presentation">
    <div data-dojo-attach-point="topNode" class="top"></div>
    <div data-dojo-attach-point="bottomNode" class="bottom">
      <div data-dojo-attach-point="headerNode" class="header">
        <div data-dojo-attach-point="avatarNode" class="avatar"></div>
        <div data-dojo-attach-point="titleNode" class="title"></div>
        <div data-dojo-attach-point="dateNode" class="dateSmall"></div>
      </div>
      <div data-dojo-attach-point="descNode" class="desc"></div>
    </div>
</div>
