html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: Lato;
	font-weight: 700;
}

a, a:hover, a:visited{
	color: #bbbbbb;
	text-decoration: none;
}




#panelMap {
	position: fixed;
	padding: 0;
	margin: 0;
	width: 100%;
	top: 0px;
	bottom: 0px;
}

.esriRTL label {
	/*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}

.loading-indicator {
	/* Loading status */
	display: none;
	height: 100%;
	width: 100%;
	z-index: 500;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: #fff;
}

.app-loading .loading-indicator, .app-error .loading-indicator {
	/* Show this class when loading or error */
	display: block;
}

.app-loading .loading-indicator {
	/* Loading image */
	background-position: center center;
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
}

.app-error .loading-message {
	/* Error status */
	background-position: top center;
	background-image: url(../images/error.png);
	background-repeat: no-repeat;
	padding-top: 60px;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 40%;
	left: 0;
	text-align: center;
}

/* Esri Jvascript API*/

.esriSimpleSlider {
	text-align: center;
	color: #ffffff;
	background-color: rgb(255,255,255);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	filter: alpha(opacity=90);
	cursor: pointer;
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
}

.esriSimpleSlider div {
	width: 19px;
	height: 19px;
	font-size: 16px;
	font-family: verdana, helvetica;
	font-weight: bold;
	line-height: 19px;
	-webkit-user-select: none;
}

.esriSimpleSliderTL {
	top: 10px;
	left: 10px;
	border: none;
}

.esriSimpleSliderDecrementButton:hover, .esriSimpleSliderIncrementButton:hover {
	background-color: rgba(0,0,0,0.3);
}

.esriSimpleSliderIncrementButton {
	border-bottom: solid 1px #ffffff !important;
}

.arcgisGeocoder .esriGeocoderLoading .esriGeocoderReset {
    background: url("../images/loading.gif") no-repeat scroll center center transparent;
}

.simpleGeocoder .esriGeocoderLoading .esriGeocoderReset {
	background: url("../images/loading.gif") no-repeat scroll center center transparent;
}

.simpleGeocoder .esriGeocoder {
	display: block;
	width: 100%;
	margin: 0;
	/*border: 1px solid #57585A;*/
	border: transparent;
	background-color: rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.simpleGeocoder .esriGeocoder input {
	color: #bbbbbb;
}

.simpleGeocoder .esriGeocoder input:focus {
	color: #bbbbbb;
}

.esriControlsBR {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.logo-med {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.logo-sm {
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.esriAttribution {
	position: absolute;
	left: 65px;
	bottom: 5px;
}

.HomeButton .home {
	top: 0px;
	padding: 0px;
	width: 26px;
	height: 26px;
	background-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-o-border-radius: 13px;
	border-radius: 13px;
	background-size: 14px 14px;
}

.LocateButton .zoomLocateButton {
	padding: 0px;
	width: 30px;
	height: 30px;
	background-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	background-size: 20px 20px;
}

.sizer .titlePane{
	height: 30px;
}

.esriPopup .titlePane {
	border: none !important;
}

.esriPopup .contentPane {
	background-color: #FFFFFF;
}

.esriPopup .actionsPane {
	background-color: #FFFFFF;
}

.esriPopup {
	font-size: 11px !important;
}

.esriPopup .pointer{
	display: none !important;
}

.esriPopup .outerPointer {
	display: none !important;
}

.esriPopup .titleButton.maximize {
	display: none !important;
}

.esriStopsContainer {
	display: none;
}

.esriResultsButtonsContainer {
	display: none;
}

/* Template */

.bg {
	display: block;
	background-color: rgb(255,255,255);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.rounded {
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.roundedTop {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.shadow {
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
	/*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000');*/
}


#panelContent {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 320px;
	height: 100%;
	display: block;
	background-color: rgba(0,0,0,0.1);
}

#panelPages {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	display: block;
}

.page {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	display: block;
	background-color: #ffffff;
}

#panelFeatures {
	display: block;
}

#panelDirections {
	display: none;
}

.pageHeader {
	position: relative;
	width: 100%;
	height: 140px;
	text-align: center;
	display: block;
}

.pageRing {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 20px;
	width: 84px;
	height: 84px;
	border: 8px solid rgba(0,0,0,1);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	opacity:0.3;
	filter:alpha(opacity=30);
}

.pageIcon {
	position: absolute;
	left: 12px;
	top: 12px;
	width: 60px;
	height: 60px;
}

.pageBtnsTop {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 5px;
	height: 24px;
	display: block;
}

.pageBtns {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 5px;
	height: 24px;
	display: block;
}

.btn {
	float: left;
	width: 24px;
	height: 24px;
	margin-left: 10px;
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor: pointer;
}

.btnCar {
	float: left;
	width: 48px;
	height: 24px;
	margin-left: 10px;
	background: url(../images/car.png)no-repeat;
	cursor: pointer;
}

.btnWalk {
	background: url(../images/walk.png)no-repeat !important;
}

#btnReverse {
	float: right;
	margin-left: 0px;
	margin-right: 10px;
	background: url(../images/reverse.png)no-repeat;
}

.btnClose {
	float: right;
	margin-left: 0px;
	margin-right: 10px;
	background: url(../images/close.png)no-repeat;
}

.btnScroll  {
	position: absolute;
	left: 50%;
	margin-left: -12px;
	background: url(../images/up.png)no-repeat;
	display: none;
}

#pageInfo {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 30px;
	bottom: 30px;
	overflow: hidden;
	opacity:0.5;
	font-size: 14px;
	filter:alpha(opacity=50);
	text-overflow: ellipsis;
}

.pageClose {
	position: absolute;
	right: 5px;
	top: 5px;
	background: url(../images/close.png) no-repeat;
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: block;
}

.pageBody {
	position: absolute;
	top: 140px;
	bottom: 0px;
	width: 100%;
	display: block;
	color: #000000;
	font-size: 10px;
	text-align: center;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
}

.pageResults {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

.rec {
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #dcdcdc;
	text-align: left;
	font-size: 12px;
	line-height: 14px;
	color: #6e6e6e;
	display: block;
	overflow: hidden;
	transition: 0.2s linear;
	-webkit-transition: 0.2s linear;
	cursor: pointer;
}

.recOpened {
	height: 180px;
	overflow-y: auto;
}

.recNum {
	position: absolute;
	left: 10px;
	top: 20px;
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	line-height: 30px;
	color: #ffffff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.recInfo {
	position: absolute;
	text-align: left;
	left: 50px;
	right: 30px;
	top: 20px;
	display: block;
}

.recDistance {
	position: absolute;
	text-align: left;
	left: 50px;
	top: 0px;
	height: 20px;
	line-height: 20px;
	color: #b2b2b2;
	cursor: pointer;
	font-weight: 500;
}

.recToggle {
	position: absolute;
	right: 30px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../images/plus.png)no-repeat;
}

.recToggleOpened {
	background: url(../images/minus.png)no-repeat;
}


/*  UI TOP */

#panelTop {
	position: absolute;
	left: 35px;
	top: 10px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	padding: 5px;
	display: block;
	overflow: visible;
	height: auto;
}

#panelTitle {
	height: 30px;
	color: #ffffff;
	float: left;
	padding: 0;
	display: block;
}

#panelText {
	float: left;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	/*max-width: 220px;
	text-overflow:ellipsis;
	white-space:nowrap;*/
	margin: 0 5px 0 5px;
}

#panelSearch {
	float: left;
	margin: 0;
	width: 227px;
	height: 30px;
	color: #6e6e6e;
}

#btnLocate {
	float: left;
	width: 30px;
	height: 30px;
}



/* MEDIA SPECIFIC: SMALL TABLETS */

@media only screen and (max-width: 570px) {
	
	.esriSimpleSlider {
		display: none;
	}
	
	#panelTop {
		left: 10px;
		right: 10px;
	}
	
	#panelText {
		display: none;
	}
	
	#panelMap {
		top: 0px;
		bottom: 140px;
	}
	
	.btnScroll {
		display: block;
	}
	
	#panelContent {
		position: absolute;
		width: 100%;
		margin-top: -140px;
		top: 100%;
	}
	
	#panelPages {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		overflow: hidden;
	}
	 
}



