
/*.reverse .esri-zoom .esri-button {
  background-color: #333;
  color: #fff;
}*/
.esri-zoom:hover, .esri-compass-container:hover{
  opacity: 0.6;
}
.esri-zoom .esri-button {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border: none;
  outline: none;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.reverse .esri-zoom .esri-button {
  /*background-color: #333333;
  color: #fff;*/
}

.esri-compass,
.esri-compass-container {
  width: 26px;
  height: 26px;
  border: none;
  outline: none;
  border-radius: 13px !important;
  -webkit-border-radius: 13px !important;
  -moz-border-radius: 13px !important;
  -o-border-radius: 13px !important;
  margin: 0px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.esri-compass {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

/*.reverse .esri-compass,
.reverse .esri-compass-container {
  background-color: #333333;
}

.reverse .esri-compass-icon {
  fill: #fff;
  stroke: #fff;
}*/
