.DS_Store
*~

build/buildlog*
buildOutput*/
src/gulpfile.js
src/.jshintrc
src/commmonConfig.js
src/js/release/
src/js/dojo/release/

# Ignore files copied from arcgis-js-api:
# [1] ignore everything under esri...
src/js/esri/*