<div class="esriCTListContent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div data-dojo-attach-point="panelHeader" class="esriCTListPanelHeader">
                ${IssueTitle}</div>
            <div data-dojo-attach-point="divDownArrow" class="esriCTIssueListIcons esriCTDownArrowIcon esriCTBGColor esriCTPointerCursor"
                onclick="alert('Coming soon...')">
            </div>
        </div>
        <div class="panel-body esriCTNoPadding">
            <div class="esriCTIconsContainer">
                <div class="esriCTIssueIconContainer">
                    <div data-dojo-attach-point="divLikeIcon" class="esriCTIssueListIcons esriCTLikeIcon esriCTBGColor esriCTPointerCursor"
                        onclick="alert('Coming soon...')">
                    </div>
                    <span>1000</span>
                </div>
                <div class="esriCTIssueIconContainer">
                    <div data-dojo-attach-point="divCommentsIcon" class="esriCTIssueListIcons esriCTCommentsIcon esriCTBGColor esriCTPointerCursor"
                        onclick="alert('Coming soon...')">
                    </div>
                    <span>1000</span>
                </div>
                <div class="esriCTIssueMapIconContainer">
                    <div data-dojo-attach-point="divMapIcon" class="esriCTIssueListIcons esriCTMapIcon esriCTBGColor esriCTPointerCursor"
                        onclick="alert('Coming soon...')">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
