@media (max-width: 1280px) {
	.item {
		min-height: 184px;
	}

	#header-container {
		padding-left: 0;
		padding-right: 0;
	}

	#header-quote-text {
		font-size: 1.4rem;
	}

	#header-controls {
		left: 0;
		padding-right: 0;
	}	

	#create-story-button-container {
		right: 0px;
	}
}

@media (max-width: 1200px) {

	#my-stories-header .btn {
		font-size: 1.0rem;
	}

	#scan-all-stories.btn, #create-story-btn.btn {
		font-size: 0.9rem;
	}

	#create-story-button-container {
		top: -43px;
	}

	#create-story-btn.btn {
		padding-left: 22px;
		padding-right: 22px;
	}

	.item {
		min-height: 176px;
	}

	.infographic-value {
		font-size: 1.05rem;
	}
}