@media (max-width: 1140px) {

	.item {
		min-height: 169px;
	}

	#sort-button.btn {
		padding-left: 8px;
		padding-right: 8px;
	}

	#sort-options {
		margin-left: 0;
	}

	.sort-option {
		margin-right: 3px;	
	}

	.view-item {
		padding-left: 0;
		padding-right: 0;
	}
}