body,html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
}

#mapDiv {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*Map Navigation Widgets (zoom slider, search, home)*/
.showtitle .esriSimpleSlider {
    top: 50px;
}
#search {
    position: absolute;
    left: 20px;
    top: 115px;
    display: block;
    z-index: 40;
}

.showtitle.nozoom #search {
    top: 50px;
}

.nozoom #search {
    top: 20px;
}

/*App color themes*/
.bg {
    background-color: #fff;
    background-color: rgba(255,255,255);
}

.fg {
    color: #333;
}

/*Top Bar (title, share, about)*/
.top-bar {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 40;
}

.app-title {
    font-size: 1.2em;
    line-height: 44px;
    white-space: nowrap;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    padding-left: 1em;
}
/*Styles for the right menu container that holds share and about*/
.top-menu-right{
    margin-right:5px;
    /*float:right;*/
}

.button-container{
    text-align: center;
    font-size:18px;
}
.menuDiv{
    cursor:pointer;
    float:right;
    margin:12px 10px 0 20px;  
}

.icon-right{
    float:right;
    cursor:pointer;
}
.menuIcon{
    display:inline-block;
    cursor:pointer;
    font-size:20px !important;
    line-height: 20px;   
}
.iconLabel{
    display: inline-block;
    line-height: 20px;
    vertical-align: top;x
}

.aboutLabel{
    margin-left:8px;
}
.toggle-grey{
    color:#ccc;
}
@media only screen and (max-width:500px) {
    .iconLabel{
        display:none;
    }
}
/*Window Positioning (top, left, bottom, right,center)*/
.showtitle .window-top-left,.showtitle .window-top-right, .showtitle .window-top-center {
    top: 50px !important;
}

.nozoom .window-top-left {
    left: 20px !important;
}

.noscale .window-bottom-left {
    bottom: 20px;
}

.window-bottom-right {
    bottom: 55px;
    right: 20px;
}

.window-bottom-left {
    bottom: 55px;
    left: 20px;
}
.window-top-center{
    top:20px;
    margin-left: auto;
    margin-right: auto;
    left:0 !important;
    right:0 !important 
}
.window-bottom-center{
    bottom:55px;
    margin-left: auto;
    margin-right: auto;
    left:0 !important;
    right:0 !important;
}
.window-top-left {
    top: 20px;
    left: 80px;
}

.window-top-right {
    top: 20px;
    right: 20px;
}

/*Time Slider Container*/
/*Turn off the time slider prev/next buttons*/
#timeSliderDiv > table > tbody > tr > td[align="left"], th{
    display:none;
}

#sliderContainer{
    width:450px;
    margin:auto;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    height: 40px;
    line-height: 40px;
}
.error-text{
  padding:4px;
  line-height:normal;
}
.timeInfo {
    width:450px;
    position: absolute;
    z-index: 40;
    height: auto;
    border-color: #ccc;
    border-color: rgba(128,128,128,.2);
    border-radius: 2px;
}

/*Date-Time label*/
#timeControls{
    overflow: hidden;
    border-bottom: solid 1px;
    border-color:inherit;
}

#timeLabel {
    padding-left:30px;
    font-size: .9em;
    line-height: 40px;
    text-align: center;
    white-space: normal;
}
.time{
    font-weight: normal;
}
#timeLabel.error {
    text-align: left;
}
#timeLabel.error a {
    color: #007AC2;
    text-decoration: none;
}
/*Time Slider Controls*/

.controlCont {
    line-height: 40px;
    height: 40px;
    border-color: #ccc;
    border-color: rgba(128,128,128,.2);
}

#sliderContainer.noslider {
    display: none;
}


/*Play/Pause Button*/
#playSlider {
    width: 30px;
    padding: 0 2px;
    float: left;
    line-height: 40px;
    border-right: solid 1px;
    border-color: inherit;
    color: #4992CD;
    margin: auto;
}
/*Time Slider Widget Customizations*/
.claro .dijitSliderImageHandleH {
    background-image: none;
    background-color: #4992CD;
    width: 12px;
    height: 12px;
    border-radius: 1px;
    border: solid thin #4283B8;
    -webkit-clip-path: polygon(100% 0,100% 51%,50% 97%,0 50%,0 0);
    clip-path: polygon(100% 0,100% 51%,50% 97%,0 50%,0 0);
}

.esriTimeSlider {
    width:100%;
    z-index: 850;
    position: relative;
}

.claro .dijitSlider .dijitSliderProgressBarH{
    background-color: #7CC5FF; /*bumper color lightened by 20%*/
}

.esriTimeSlider .dijitButton {
    display: none;
}
.templateTimeSlider .tsTmp {
    width: 96%;
}
.esriTimeSlider .tsTicks {
    height:4px;
    color:#ccc;
}
.esriTimeSlider .dijitRuleMark {
    border-color: inherit;
    border: 1px solid;
}
.templateTimeSlider .esriTimeSlider .dijitRuleMarkH{
    width:0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}
/*Hide the time slider ticks if configured to do so*/
.esriTimeSlider.noTicks .tsTicks {
    display: none;
}
.dijitSliderBumperH{
    width:0 !important;
}
.dijitSliderBar {
    cursor:pointer;
    height: 8px;
}
.dijitSliderProgressBarH:hover{
    background-color: #404040;
}
.dijitSliderBumper {
    overflow: hidden;
    z-index: 1;
}
.dijitSliderBumperH {
    width: 2px;
    height: 8px;
    border-width: 1px 0;
}

.claro .dijitSlider .dijitSliderLeftBumper,.claro .dijitSlider .dijitSliderProgressBarH,.claro .dijitSliderFocused .dijitSliderLeftBumper,.claro .dijitSliderFocused .dijitSliderProgressBarH {
    background-image: none;
}

/*Legend Customizations*/
#legendContainer {
    position: absolute;
    z-index: 40;
    height: auto;
    max-height: 60%;
    overflow-y: auto;
    width: 240px;
    border-radius: 2px;
    display: block;
}


#legendHeader {
    font-size: 1em;
    height: auto;
    padding: 1em;
    cursor: pointer;
}
.esriLegendService {
  padding-top: 4px;
  padding-bottom: 16px;
}
.esriLegendServiceLabel {
  display: block;
  font-weight: bold;
  position: relative;
  width: 100%;
}
.esriLegendLayerLabel {
  color: #8d94a1;
  padding-left: 8px;
}
.esriLegendLayer {
  padding-left: 8px;
}
.esriLegendGroupLayer {
  padding-top: 8px;
}
.esriLegendLeft {
  padding-left: 12px;
}
.esriLegendRight {
  padding-right: 12px;
}
/*Hide-Show legend*/
.legendButtonDiv{
    display:none;
    position: fixed;
    /*float:right;*/
    cursor:pointer;
    padding:4px;
    z-index: 31;
}

/*Icon Font Styles (Play/Pause/Open/Close)*/
@font-face {
    font-family:timeicons;src:url(../fonts/icomoon.eot?-9szrd3);src:url(../fonts/icomoon.eot?#iefix-9szrd3) format('embedded-opentype'),url(../fonts/icomoon.woff?-9szrd3) format('woff'),url(../fonts/icomoon.ttf?-9szrd3) format('truetype'),url(../fonts/icomoon.svg?-9szrd3#icomoon) format('svg');font-weight:400;font-style:normal;
}

[class*=" icon-"],[class^=icon-] {
    cursor: pointer;
    font-family: timeicons;
    speak: none;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-link:before {
    content: "\e607";
}

.icon-gplus:before {
    content: "\e608";
}

.icon-facebook-squared:before {
    content: "\e609";
}

.icon-mail-alt:before {
    content: "\e60a";
}

.icon-twitter:before {
    content: "\e60b";
}
.icon-cross:before {
    content: "\e60c";
}
.icon-pause:before {
    content: "\e600";
}

.icon-play:before {
    content: "\e601";
}
.icon-next:before {
    content: "\e60d";
}

.icon-previous:before {
    content: "\e60e";
}

.icon-close:before {
    float: right;
    content: "\e602";
}

.icon-open:before {
    float: right;
    content: "\e603";
}
.icon-share:before{
    content:"\e604";
}
.icon-info:before{
    content: "\e605";
}
.esriRTL .icon-close:before,.esriRTL .icon-open:before {
    float: left;
}
.icon-menu-open:before {
    content: "\63";
}

.icon-menu-close:before {
    content: "\6d";
}
.dijitDialogCloseIcon:before{
    font-family: "timeicons";
    content: "\e60c";
}
/*Small screen modifications*/

@media only screen and (max-width:500px) {
    .timeInfo{
        width:100%;
        border-radius: 0;
        right:0 !important;
        left:0 !important;
    }
    .app-title{
        max-width: 50%;
    }

    #legendDiv.legend-hide{
        display: none;
    }
    #legendDiv.legend-show{
        display: block
    }
    #legendDiv{
        display: none;
    }
    #legendContainer {
        overflow-y: auto;
    }
    .legendButtonDiv{
        display:block;
    }
    /*Position the legend open/close button depending on legend window location */
    #legendContainer.window-bottom-right > .legendButtonDiv.move, #legendContainer.window-top-right > .legendButtonDiv.move{
        right:240px;
    } 
   #legendContainer.window-top-right, #legendContainer.window-bottom-right {
        right:0;
    }
    #legendContainer.window-top-right > .legendButtonDiv{
        right:0;
    } 
    .showtitle #legendContainer.window-top-left > .legendButtonDiv{
        top:50px;
    }
    #legendContainer.window-top-left > .legendButtonDiv{
        left:80px;
        top:20px;
    }   
    #legendContainer.window-top-left > .legendButtonDiv.move{
        left:320px;
    }  
    #legendContainer.window-bottom-right > .legendButtonDiv{
        right:0;
        bottom:55px;
    }
    #legendContainer.window-bottom-left{
        left:0;
    }
    .noscale #legendContainer.window-bottom-left > .legendButtonDiv{
        left:0;
        bottom:20px;
    } 
    #legendContainer.window-bottom-left > .legendButtonDiv{
        left:0;
        bottom:55px;
    }   
    #legendContainer.window-bottom-left > .legendButtonDiv.move{
        left:240px;
    }   
    /*Switch open/close for the left side of the map*/
    #legendContainer.window-bottom-left > .legendButtonDiv.icon-menu-open:before, #legendContainer.window-top-left > .legendButtonDiv.icon-menu-open:before{
        content: "\6d";
    }
    #legendContainer.window-bottom-left > .legendButtonDiv.icon-menu-close:before,  #legendContainer.window-top-left > .legendButtonDiv.icon-menu-close:before{
        content: "\63";
    }

}
/*Loading Indicator Customizations*/
.loading-indicator {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #fff;
}

.app-error .loading-indicator,.app-loading .loading-indicator {
    display: block;
}

.app-loading .loading-indicator {
    background-position: center center;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
}

.app-error .loading-message {
    background-position: top center;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    padding-top: 60px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 0;
    text-align: center;
}
/*Share Dialog Styles*/
.claro .share-dialog-icon {
  font-size: 30px;
  line-height: 30px;
  float: left;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 0 10px 0 0;
  text-decoration: none;
  display: block; }

.claro .share-dialog-icon:visited {
  color: rgba(0, 0, 0, 0.5); }

.esriRTL .claro .share-dialog-icon {
  float: right;
  margin: 0 0 0 10px; }

.claro .share-dialog-icon:hover {
  color: rgba(0, 0, 0, 0.8); }

.claro .share-map-url {
  width: 50%;
  min-width: 80%;
  max-width: 90%;
  height: 25px;
  font-size: 14px;
  color: #777;
  border: 1px solid #dcdcdc;
  margin: 0 0 10px; }

.claro .map-size-container {
  margin: 0;
  padding: 0 0 20px; }

.claro .embed-map-size-clear, .claro .icon-clear {
  clear: both; }

.claro .embed-map-size-dropdown {
  float: left; }

.esriRTL .claro .embed-map-size-dropdown {
  float: right; }

.claro .share-dialog-subheader {
  font-size: 17px;
  display: none; }

@media only screen and (min-width: 720px) {
  .claro .share-dialog-subheader {
    display: block; } }

.claro .share-dialog-textarea {
  width: auto;
  max-width: 90%;
  width: 80%;
  height: 50px;
  font-size: 14px;
  color: #777;
  border: 1px solid #dcdcdc;
  margin: 0 0 10px; }

.share-dialog-checkbox {
  display: inline-block;
  cursor: pointer;
  padding: 8px; }

input[type=checkbox].share-dialog-checkbox {
  display: none; }

.share-dialog-checkbox:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-color: #d3d3d3;
  color: #f3f3f3;
  text-align: center;
  border-radius: 3px; }

input[type=checkbox]:checked.share-dialog-checkbox + .share-dialog-checkbox:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px; }
