
.custom-scrollbar {
	scrollbar-shadow-color: $tailcoat-calcite-ui-blue-2;
	scrollbar-face-color: $tailcoat-calcite-ui-blue-2;	
	scrollbar-highlight-color: $story-blue-background-lightest;
	scrollbar-arrow-color: $story-dark-blue;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: $story-blue-background-lightest;
}

.custom-scrollbar::-webkit-scrollbar-thumb {	
	background: $story-dark-blue;	
	border: 2px solid $story-blue-background-lightest;
	border-radius: 8px;
}