/* application-boilerplate */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
#mapDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.esriRTL label {
  /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}
.loading-indicator {
  /* Loading status */
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
}
.app-loading .loading-indicator,
.app-error .loading-indicator {
  /* Show this class when loading or error */
  display: block;
}
.app-loading .loading-indicator {
  /* Loading image */
  background-position: center center;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
}
.app-error .loading-message {
  /* Error status */
  background-position: top center;
  background-image: url(../images/error.png);
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}

/*============================================================================================================================*/

/* application-boilerplate mods */

.app-error .loading-message {
    background-image: none;
}

/* map */

#LocateButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}

/* general app layout */

.fill {
    margin:0;
    padding:0 !important;
    width:100%;
    height:100%;
}
.noJavaScriptMessage {
    margin: 80px;
    font-size: large;
}
.transparent {
    opacity: 0.0;filter:Alpha(opacity=0);
}
#sidebar {
    width: 320px;
    border-left: 1px solid #CCC;
    z-index: 40;
}
.busy {
  /* Loading overlay image */
  background-position: center center;
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  opacity: 0.5;filter:Alpha(opacity=50);
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

/*============================================================================================================================*/

/* ---------- SidebarHeader ---------- */

#sidebarHeading {
    height: 100px;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}

.sideHdrBtns {
    height: 27px;
    padding: 5px;
}

.sideHdrSign {
    color: #007ac2;
    display: inline-block;
    padding: 4px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.sideHdrSign:hover {
    background-color: #007ac2;
    color: white;
}

.sideHdrHelp {
    display: inline-block;
    float: right;
    cursor: pointer;
    padding-top: 4px;
    padding-right: 4px;
}

.sideHdrTitle {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
}


/* ---------- SidebarContentController ---------- */

#sidebarContent {
    background-color: #eee;
}


/* ---------- ItemList ---------- */

.itemList {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #eee;
}

.itemListActions {
    height: 20px;
    font-size: 12px;
    padding: 6px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.itemListAction {
    vertical-align: middle;
}

.itemList .itemSummary {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.itemSummary {
  line-height: 0; /* reset */
}

.itemList .itemSummary:hover {
  background-color: white;
}

.itemSummary .itemTitle {
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.itemListTitleOverride {
    width: 76%!important;
}

.itemList .itemTitle,
.itemList .itemFav {
  line-height: 30px;
}

.itemFav {
    cursor: auto;
}

.itemSummary > div, .itemFav > div {
  display: inline-block;
}

.itemSummary .itemFav {
  float: right;
  font-size: 20px;
  color: rgb(150, 150, 150);
  color: rgba(0, 0, 0, 0.35);
}

.itemList .itemVotes {
  margin-right: 0.5em;
}




.esriCTClear
{
    clear: both;
    float: left;
    padding: 0 0 0px 18px;
    width: 100%;
}

.esriCTOptionRow
{
    display: table;
    width: 100%;
}

.esriCTCheckBox
{
    display: table-cell;
}
input[type="radio"]
{
    border-radius: 10px;
}

.esriCTChkLabel
{
    display: table-cell;
    padding-left: 5px;
    vertical-align: middle;
    vertical-align: /*\**/ middle\9;
}

.esriCTLeftFromTO div.esriCTChkLabel
{
    padding-top: 7px;
}

.esriCTLeftFromTO div.esriCTCheckBox
{
    padding-top: 7px;
}

.esriCTChkBox
{
    position: absolute;
    z-index: -1000;
    top: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.esriCTChkBox + label.css-label
{
    padding-left: 24px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
}

label.css-label
{
    background-image: url(../images/checkbox.png);
}

.esriCTChkBox:checked + label.css-label
{
    background-position: 0 -20px;
}


/* ---------- itemDetail ---------- */

.itemDetail > .itemSummary > div {
  padding: 10px;
  line-height: 20px;
  box-sizing: border-box;
}

.itemDetail .itemSummary .back {
  cursor: pointer;
  line-height: 0;
  float: left;
}

.itemDetail .itemSummary .itemTitle {
  width: 69%;
  padding-right: 5px;
}

.itemDetailTitleOverride {
    width: 67%!important;
}

.itemDetail .itemSummary .itemFav {
  font-size: inherit;
  padding-left: 0px;
}

.itemDetail .itemFav .icon {
  font-size: 20px;
  margin-left: 5px;
}

.itemDetail .itemDescription {
  background-color: #fff;
  color: #999;
  padding: 10px;
}

.itemDetail .header {
  width: 100%;
  margin-bottom: 5px;
}

.itemDetail .userName {
  display: inline-block;
}

.itemDetail .btn {
  border: 1px solid #ccc;
  display: inline-block;
  margin-right: 5px;
  padding: 4px 6px;
  border-radius: 2px;
  cursor: pointer;
}

.itemDetail .btnNormal {
    color: #007ac2;
}

.itemDetail .btnNormal ::selection {
    color: #007ac2;
}

.itemDetail .btnNormal ::-moz-selection {
    color: #007ac2;
}

.itemDetail .btnInverse {
    color: white;
    background-color: #007ac2;
}

.itemDetail .btnInverse ::selection {
    color: white;
}

.itemDetail .btnInverse ::-moz-selection {
    color: white;
}

.itemDescFooter {
    height: 25px;
}

.itemDetail .float-right {
  float: right;
}

.itemDetail .right-edge {
  margin-right: 0;
}

.itemDetail .space-below {
  margin-bottom: 10px;
}

.itemDetail .large-text {
  font-size: 16px;
}

.itemDetail .medium-text {
  font-size: 14px;
}

.itemDetail .small-text {
  font-size: 12px;
}

.itemDetail .itemComments {
  background-color: #eee;
  padding: 10px;
}

.btn > div {
  display: inline-block;
}

.btn .icon {
  margin-right: 2px;
  position: relative;
  top: 2px;
}

.hide {
  display: none !important;
}

.center-please {
  text-align: center;
}

.itemDetail .attachmentsSection {
  display: none;
  margin-bottom: 12px;
}

.itemDetail .attachmentsSection .attachment {
  width: 48%;
  margin: 0px 5px 5px 0px;
  cursor: pointer;
}

.itemDetail .attachmentsSection > img {
    max-width: 48%!important;
    max-height: 120px!important;
}

.commentsForm {
    margin-bottom: 12px;
}

/* ---------- Popup ---------- */

.popupWidget {
    position: absolute;
    display: none;
    z-index:50;
    border: 1px solid #CCC;
    background-color: white;
    overflow: hidden;
}
.popupTitle {
    height: 32px;
    line-height: 32px;
}
.popupContent {
    margin: 10px;
    overflow:auto;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    flex-direction: column;
}
img {
    object-fit: contain;
}
.popupClose {
    display: none;
    position: absolute;
    cursor: pointer;
    height: 20px;
    padding: 4px;
    right: 2px;
}

.socialMediaDisclaimer {
    font-size: smaller;
}

.socialMediaButtonArea {
    margin-top: 12px;
    text-align: center;
}

.socialMediaButton {
    width: 29px;
    height: 29px;
    display: none;
    margin: 8px;
    cursor: pointer;
}

/* ---------- DynamicForm ---------- */

.dijitTextBox {
    width: 100%;
}

.dynamicFormPanel {
    background-color: white;
    overflow-y: auto;
}

.dynamicForm {
    margin: 12px;
}

.dynamicFormRow {
    margin: 10px 0px 10px 0px;
    height: auto;
    line-height: 18px;
}

.dynamicFormInputCtl {
    width: 99%;
    height: 24px;
}

.dynamicFormTextAreaCtl {
    width: 98%;
    height: 60px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dynamicFormCharactersRemaining {
    float: right;
    padding-right: 1px;
}

.dynamicFormActions {
    font-size: 14px;
    height: 35px;
}

.dynamicFormAction {
    width: 48%;
    display: table;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.dynamicFormAction span {
    width: 48%;
    display: table-cell;
    vertical-align: middle;
}

.dynamicFormActionLeft {
    float: left;
    height: 35px;
    color: #007ac2;  /* IE8 workaround */
    font-weight: bold;
}

.dynamicFormActionRight {
    float: right;
    height: 33px;
    color: #007ac2;
    border: 1px solid #ccc;
}
