<div data-dojo-attach-point="signinOuterContainer" class="esriCTFullHeightWidth">
    <div class="esriCTSignInScreenBack">
    </div>
    <div class="esriCTSigninMainDiv">
        <div class="esriCTSigninSplash">
            <div data-dojo-attach-point="signinBgImage" class="esriCTSigninImageDiv">
                <div>
                    <div>
                        <div data-dojo-attach-point="signinContainerName" class="esriCTSigninAppNameDiv">
                        </div>
                        <hr data-dojo-attach-point="signinCaptionSeparator" class="esriCTSigninOrLine" width="250px" />
                        <div data-dojo-attach-point="signinContainerText" class="esriCTSigninAppCaptionDiv">
                        </div>
                    </div>
                    <div class="esriCTSigninCenterDiv">
                        <div data-dojo-attach-point="signinGuestButton" class="esriCTSigninGuestBtn">
                        </div>
                        <div data-dojo-attach-point="signinGuestUser" class="esriCTSigninGuestBtnCaption">
                        </div>
                        <div data-dojo-attach-point="signinOrDiv" class="esriCTSigninOrDiv">
                        </div>
                    </div>
                    <div>
                        <div data-dojo-attach-point="signinOptions" class="esriCTSigninWithTxt">
                        </div>
                        <div>
                            <div data-dojo-attach-point="signinFBButton" class="esriCTSigninFBButton">
                            </div>
                            <div data-dojo-attach-point="signinTwitterButton" class="esriCTSigninTwitterButton">
                            </div>
                            <div data-dojo-attach-point="signinGPlusButton" class="esriCTSigninGPlusButton">
                            </div>
                            <div data-dojo-attach-point="signinEsriButton" class="esriCTSigninEsriButton">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
