.delete-modal {
	text-align: center;
}

.delete-modal .dialog-header {
	padding: 12px 0;
	position: relative;
}

.delete-modal .dialog-body {
	margin-top: 12px;
}

a.modal-dismiss {	
	position: absolute;
	right: 5px;
	top: 3px;
	z-index: 0;
}

.delete-modal p {
	text-align: left;
}