.disabled-click {
	cursor: default;
	pointer-events: none;
}


.modal.find-modal {
	margin-left: -325px;
	width: 650px;
	height: 580px;
}

#find-body-wrapper {
	text-align: left;
}

#update-all {
	float: right;
	margin-right: 15px;
}

.inactive {		
	color: #a6a6a6 !important;
	cursor: default !important;
	pointer-events: none;
}

#update-all.inactive {
	background-color: #ededed !important;
}

.dynamic-component {
	display: none;
}

.dynamic-component:not(#find-update-summary) {
	padding-top: 24px;
}

.dynamic-component.active {
	display: block;
}

.scrollable-table.update-table tbody {
	max-height: 172px;
}

.update-table .media-title {
	cursor: default;
	padding: 0.5rem 1.0rem;
}

.update-table .media-link {
	cursor: pointer;
}

.update-table .media-link:hover {
	color: #00B9F2 !important;
}

.update-table .media-link:focus {
	color: $story-dark-blue;
}

.update-table .media-link:visited {
	color: $story-dark-blue;
}

.find-modal .progress-box {
	margin: 0; 
}

#find-update-progress-bar-container .progress-title {
	font-size: 1.2rem;
}

#find-update-progress-bar-container .progress-details {
	display: none;
}

#stop-update {
	display: none;
}

.find-modal .modal-footer {
	height: 48px;
	padding: 0 14px;
}

.single-text {
	font-family: $tailcoat-header-light;
	font-size: 1.2rem;
	font-weight: bold;
}

#update-complete-icon {
	font-size: 1.5rem;
	margin-bottom: 12px;
}

