.modal.image-picker {
	height: 600px;
	margin-left: -300px;
	width: 650px;
}

#picker-not-supported {	
	bottom: 0;
	display: table;
	height: 100%;
	left: 0;	
	padding: 30px;
	position: absolute;
	right: 0;
	top: 0;	
	width: 100%;
	z-index: 0;
}

#not-supported-picker-text {
	display: table-cell;
	vertical-align: middle;
}


#image-cropper {
	height: 100%;
	overflow: hidden;
}

.close-dialog.picker {
	cursor: pointer;
	float: none;
	padding: 3px 5px 10px 10px;
	position: absolute;
	right: 0;
	top: 0;	
	z-index: 0;
}

.dialog-header.picker {	
	position: relative;
	z-index: 1;
}

#choose-panel, #upload-panel, #crop-panel {
	height: 100%;
	position: relative;
}


.save-image {
	float: right;
	margin-right: 31px;
}

.back.btn {
	margin-left: 32px;
  	padding-left: 0;
}


.or {
	font-weight: bold;
}

.picker-action {
	background: transparent;
	border: 1px solid $story-dark-blue;
	color: $story-dark-blue;
	padding: 12px 0;
	text-transform: lowercase;
	width: 392px;
}

.picker-action:hover {
	background: $story-dark-blue;
	color: $story-dialog-light-gray-background !important;
}

.btn.picker-action:focus {
	color: $story-dark-blue;
}



.supporting-text {
	color: $story-faded-gray-text;
	display: block;
	font-family: $tailcoat-header-font;
	font-size: 0.75rem;
}

.image-carousel {
	position: relative;
}

#carousel-image-container {	
	vertical-align: middle;	
}

#carousel-image-container {
	display: inline-block;
	/* Font size 0 is for centering vertically*/
	font-size: 0;
	height: 266px;
	margin-bottom: 10px;	
	text-align: center;
	width: 400px;
}


#carousel-image-and-text {
	display: inline-block;
	line-height: 0;
	height: 266px;
	position: relative;
	vertical-align: middle;
	width: 400px;
}

#carousel-image-and-text:before {
	content: '';
	display: inline-block;
	height: 100%;
    vertical-align: middle;    
}

#carousel-image {
	border: 5px solid transparent;
	border-radius: 8px;	
	cursor: pointer;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;	
}

.invalid-dimensions, .accepted-file-types.choose {
	bottom: -11px;	
	color: $red-error-text;
	display: none;
	font-weight: bold;
	font-size: 0.8rem;
	left: 0;
	margin-bottom: 0;
	position: absolute;
	right: 0;
	z-index: 0;	
}

.picker-prompt {	
	background: $story-faded-gray-lightest;
	border-radius: 3px;
	display: inline-block;	
	height: 100%;
	vertical-align: middle;
	width: 100%;	
}

.picker-prompt:before {
	content: '';
	display: inline-block;
	height: 100%;
    vertical-align: middle;	
}

.picker-prompt-text-container {
	color: #999;
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
}

.picker-prompt-text {
	font-size: 2.0rem;
	line-height: 1.1;
	margin-bottom: 10px;
}

.picker-prompt-subtext {
	font-size: 1.0rem;
}

#carousel-image:hover {
	border-color: $tailcoat-button-blue;
}


/********************  "UPLOAD PHOTO" PANEL  **********************/

#drag-drop-text {
	font-size: 1.5rem;
}

.drag-drop-or {	
	font-size: 1.2rem;	
	margin-bottom: -20px;
}

.drag-drop-main-text {
	color: #CCC;
	font-family: $tailcoat-header-font;
}

#drag-drop-zone, #image-crop-zone {		
	margin-bottom: 24px;
}

#drag-drop-zone {
	background-image: none !important;
	border: 3px dashed #E2E2E2;
	border-radius: 3px;
	height: 408px;
	padding: 30px;
	width: 100%;	
}

#drag-drop-zone.error {
	border-color: $red-error-text;
}

#drag-drop-zone:before {
	content: '';
	display: inline-block;
	height: 100%;	
	vertical-align: middle;
}

#drag-drop-inside {
	display: inline-block;
	vertical-align: middle;
}

#drag-drop-loading, #carousel-image-loading {
	display: none;
	vertical-align: middle;	
}

.picker-image-loading-text {
	color: $story-faded-gray-lightest;
	font-size: 3.0rem;
	font-weight: bold;
	margin-bottom: 0;
}

.supporting-text.drag-drop {
	font-size: 0.85rem;
}

input.cropit-image-input {
  visibility: hidden;
}

.minimum-dimensions.dimensions-error, .accepted-file-types.file-type-error {
	color: $red-error-text;
	font-weight: bold;
}



/************************  IMAGE CROP PANEL  **************************/

.dialog-body.crop {	
	position: relative;
}

.dialog-body.crop.saving, .dialog-body.crop.saved, .dialog-body.crop.error {
	display: none;
}

.dialog-body.crop.saving, .dialog-body.crop.error {
	margin-top: 205px;	
}

.dialog-body.crop.saved {
	margin-top: 175px;	
}

.image-range {
	padding: 50px;
	overflow: hidden;
}


.cropit-image-preview-container {
	display: inline-block;
	margin-top: 100px;
}


.cropit-image-preview {
	border-radius: 3px;	
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	height: 190px;
	width: 286px;
	z-index: 300 !important;
}


#uncropped-image {
	border-radius: 3px;
	display: none;
	max-height: 325px;
	max-width: 500px;	
}

#no-crop-warning {	
	display: inline-block;
	line-height: 1.3;
	max-width: 85%;
}


.cropit-image-background-container {
	z-index: 300 !important;
}

.cropit-image-background {
	border-radius: 3px;
	max-height: none;
	max-width: none;
	opacity: 0.2;
}

.check.saved {
	font-size: 2.0rem;
}

.dialog-title.saved {
	font-size: 2.0rem;
}



/***********************  RANGE INPUT STYLINGS  *************************/

#range-container {
	bottom: -120px;
	margin-top: -30px;  
	position: relative;		
	z-index: 200;
}

.range-icon {
	display: inline-block;
	vertical-align: middle;
}

.range-icon.small {
	font-size: 1.0rem;
	margin-right: 10px;
}

.range-icon.large {
	font-size: 2.0rem;
	margin-left: 10px;
}


#image-zoom-slider {
    -webkit-appearance: none; 
    display: inline-block;       
	margin: auto;	
	width: 55%;	
	padding: 0;
	vertical-align: middle;
}

#image-zoom-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: $story-faded-gray-lightest;
    border-radius: 6px;
    height: 4px;    
}

#image-zoom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $story-dark-blue;
    border-radius: 20px;
    cursor: -webkit-grab;
    height: 24px; 
    margin-top: -10px;
    width: 24px;        
}


#image-zoom-slider::-moz-range-track {
    background: $story-faded-gray-lightest;
    border-radius: 6px;
    height: 4px;    
}

#image-zoom-slider::-moz-range-thumb {       
    background: $story-dark-blue;
    border: none; 
    border-radius: 20px;
    cursor: -moz-grab;       
    height: 24px;
    margin-top: -10px;    
    width: 24px;
}


#image-zoom-slider::-ms-track {    
    background: transparent;            
    border-color: transparent;
    border-radius: 6px;    
    border-width: 10px 0;   
    color: transparent;
    height: 4px;
}

#image-zoom-slider::-ms-thumb {
    background: $story-dark-blue;
    border: none;
    border-radius: 20px;
    margin-top: 0;    
    height: 24px; 
    width: 24px;        
}

#image-zoom-slider::-ms-fill-upper, #image-zoom-slider::-ms-fill-lower {
   background: $story-faded-gray-lightest;
   border-radius: 9px;
}

#image-zoom-slider::-ms-tooltip {
	display: none;
}


#image-zoom-slider:focus {
    outline: none;
}	


/***********************************  SAVE MODE STYLINGS  *******************************************/

.save-mode-text {
	font-size: 0.9rem;
}
