.notification-container {
	display: table;
	height: 84px;	
	width: 100%;	
}

.error-notification-pane, .success-notification {
	display: table-cell;
	vertical-align: middle;
}

.error-notification-title {
	background: $red-error-background;
	border-radius: $border-radius;
	padding: 6px $notification-padding 4px;
}

.error-notification-pane .item-subtitle {
	color: $red-error-text;	
}

.refresh-tooltip-container {
	line-height: 0;
	vertical-align: middle;
	width: 15%;
}

.refresh-tooltip-container.tooltip .tooltip-content {
	text-align: center;
}

.refresh {
	animation: spin 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;

	border: none;	
	cursor: pointer;
	font-size: 1.5rem;
	line-height: 0;
	padding: 0;
	text-transform: lowercase;	
}

.notification-pane.success .refresh {
	color: $green-alert-text;
}

.notification-pane.error .refresh {
	color: $red-error-text;
}


.refresh:before {
	padding: 0;
}

.refresh.disabled {
	cursor: default;
	pointer-events: none;
}

.notification-pane.success .refresh.disabled {
	color: $green-alert-text-lightest;
}

.notification-pane.error .refresh.disabled {
	color: $red-error-text-lightest;
}

.refresh.spin {
	-webkit-animation-play-state: running;
	animation-play-state: running;
	color: $tailcoat-calcite-esri-blue-light;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(360deg);}
	100% {-webkit-transform: rotate(0deg);}
}

@keyframes spin {
	0% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}


.notification-pane {
	border-radius: $border-radius $border-radius $border-radius 0;
}

.notification-pane.error {
	background: $red-error-background;
	display: none;
}

.notification-pane.success, .success-notification-inner-box {
	background: $green-alert-background;
}
.success-notification-inner-box {
	border-radius: 3px;
	padding: 4px 8px;
	width: 100%;
}

.notification-pane.error.highlighted {
	background: $red-error-text-lightest;
}

.notification-issue.notification-expanded.highlighted {
	background: $red-error-text-lightest;
}

.notification-pane.triggered {
	border-color: $red-error-text;
}

.notification-title {	
	border-radius: $border-radius $border-radius 0 0;
	cursor: default;
	padding: $notification-padding;
}

.notification-pane .item-subtitle {
	display: inline-block;
	margin-bottom: 0;
	padding-left: 5px;
	vertical-align: middle;
	width: 85%;
}

.notification-pane.error .item-subtitle {
	color: $red-error-text;	
}

.notification-pane.success .item-subtitle, .success-notification .notification-text {
	color: $green-alert-text;
}

.notification-issue {
	border-left: 3px solid $red-error-text-lighter;
	border-top: 2px solid $red-error-background-darker;
	cursor: pointer;
	padding: 10px;
}

.notification-issue:hover, .notification-issue.notification-expanded {
	background: $red-error-background-darker;	
}

.notification-expanded {
	border-left: 3px solid $red-error-text;
	border-top: none;
}

.notification-explanation {
	text-align: left;
}

.notification-text, .notification-subtext {
	color: $red-error-text;
	cursor: pointer;
	line-height: 1.2;
}

.notification-text {
	display: inline-block;	
	margin: 0;
}

.notification-subtext, .issue-actions {
	display: none;
}

.notification-expanded .notification-subtext, .notification-expanded .issue-actions {
	display: block;
}

.issue-actions {
	text-align: center;
}

.issue-actions .issue-action {
	padding: .25em 1.2em;
}

.issue-action + .issue-action {
	margin-left: 5px;
	margin-top: 8px;    
}

.issue-actions .ok {
	background: $green-ok;
}

.issue-actions .ok:hover {
	background: $green-ok-darker;
}

.issue-actions .issue {
	background: $tailcoat-icon-red-light;
}

.issue-actions .issue:hover {
	background: $tailcoat-icon-red;
}