.item {
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.item + .item {
	border-top: 1px solid $story-dark-blue;
}

.item.expanded {
	cursor: initial;
}

.item > * {	
	display: inline-block;	
	vertical-align: top;
}

.item-close {
	cursor: pointer;
	font-size: 1.1rem;
	padding: 0 0 15px 15px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 25;
}

.item-close-icon {
	display: inline-block;
}

.item-close-text {
	display: inline-block;
	vertical-align: middle;
}

.item-close-text:hover {
	color: #00B9F2;
}

.item .expandable {
	display: none;
}

.item.expanded .expandable {
	display: inherit;
}

.item-figures {
	margin-right: 0px;	
}

.image-container {
	line-height: 0;
	position: relative;
}

.item-photo {	
	border-radius: $border-radius;
	color: white;	
	height: auto;		
	width: 100%;
}

.expanded .item-photo {
	cursor: pointer;
}


.photo-bottom-overlay {	
	bottom: 0;
	cursor: pointer;
	display: none;
	padding: 2px 8px 2px 2px;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.photo-camera-container {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
}

.photo-camera {	
	height: auto;		
	width: 35px;
}

.photo-text {	
  	color: white;  	
  	display: none;	
  	font-family: $tailcoat-header-bold;
  	line-height: normal;
  	padding-left: 5px;
  	text-shadow: 1px 1px 5px black;  	
  	vertical-align: middle;
  	width: 80%;
}

.photo-text.placeholder {
	display: inline-block;
	line-height: normal;
	padding-left: 5px;
	vertical-align: middle;
	width: 80%;
}


.item-thumbnail-icon {
	font-size: 0.9rem;	
	position: absolute;			
	z-index: 25;
}

.item-status-icon {
	background: white;
	border-radius: 25px;	
	color: $red-error-text;
	display: none;
	font-size: 2.2rem;
	height: 30px;
	left: -14px;
	top: -14px;	
	width: 30px;
}

.item-status-icon:before {
	left: -2px;
	position: absolute;
	top: -2px;
}

.has-issues .item-status-icon {
	display: block;
}

.item-metadata-container.whole-line {
	width: 100%;
}

.item-title-container {
	position: relative;
}

.item-title {	
	font-weight: normal;
	margin: 4px 0;
	overflow: hidden;	
	padding: 4px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*
This rule exists ONLY so that when the item-title is empty, it doesn't collapse (happens on Firefox)
*/
.item-title:after {
	content: '\feff';
}

.item-title[contentEditable="true"]:focus {
	text-overflow: clip;
}

.item-title br {
	display: none;
}

.item-title-error-message, .item-snippet-error-message {
	bottom: -21px;	
	color: $red-error-text;
	display: none;
	font-weight: bold;
	position: absolute;	
	right: 0px;	
}

.item-snippet-error-message {
	bottom: -32px;
}

.item-subtitle {
	font-weight: bold;
}

.item-subtitle.summary {
	margin-bottom: 0;
}

.access {
	display: inline-block;
	text-transform: capitalize;
}

.separator {
	border-left: 1px solid #396e8b;
	height: 16px;
	margin: 0px 8px -3px 10px;
	width: 3px;
	display: inline-block;
}

.num-views-separator {
	display: none;
}

.item-summary-container {
	height: 72px;
	margin: 8px 0 16px;
	position: relative;
}

.item-summary {
	height: 63px;
	line-height: 1.3;	
	margin-bottom: 0;
	max-height: 63px;
	overflow-x: hidden;
	overflow-y: auto;	
}

.item-summary[contentEditable="true"], .item-title[contentEditable="true"] {
	border: 2px solid transparent;
	border-radius: 3px;
	cursor: text;
	margin-left: -4px;
	padding: 2px;
}

.item-summary.editing[contentEditable="true"]:hover, .item-title.editing[contentEditable="true"]:hover {
	border-color: $story-blue-almost-white;
}


.item-summary.editing[contentEditable="true"]:focus, .item-title.editing[contentEditable="true"]:focus {
	border-color: $story-blue-editable-text;
	outline: none;
}


.item-summary.editing[contentEditable="true"].limit-reached:focus, .item-title.editing[contentEditable="true"].limit-reached:focus {
	border-color: $red-error-transparent;
}


.item-summary.error, .item-title.error {
	border-color: $red-error-transparent;
}

.item-summary.saved-successfully, .item-title.saved-successfully {
	border-color: $green-ok-transparent;
}

.item-action {
	margin-right: $button-margin-between;	
}

.item-delete {
	background: $tailcoat-icon-red-light;
}

.item-delete:hover {
	background: $tailcoat-icon-red;
}

.social-share-buttons {
	cursor: default;
	display: inline-block;
	margin-top: 1px;
	vertical-align: middle;
}

.social-tooltip {
	display: inline-block;
	margin-right: $button-margin-between;
}

.social-share-button {
	color :$story-dark-blue;
	cursor: pointer;	
	font-size: 1.3rem;	
}

.social-share-button.disabled {
	cursor: default;
	color: $story-faded-gray-lighter;
	pointer-events: none;
}

.item-side-buttons {
	margin-top: 16px;
	text-align: center;
}