html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  /*font-family: Arial, Helvetica, sans-serif;*/
}

body:lang(ja) {
  font-family: meiryo, Arial, Helvetica, sans-serif;
}

.boilerplate-view {
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.boilerplate-loading-indicator {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #fff;
}

.boilerplate--loading .boilerplate-loading-indicator {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/loading.gif);
}

.boilerplate--error .boilerplate-loading-indicator {
  display: block;
}

.boilerplate-loading-message {
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}

/* Calcite Maps */

.dropdown-menu span.glyphicon {
  margin-right: 2px;
}

#panelLegend .panel-body {
  background-color: white;
}

#carouselSlides {
  margin-top: 7px;
  margin-bottom: 25px;
}

#carouselSlides .carousel-indicators {
  bottom: -30px;
  margin-bottom: 0;
}

#carouselSlides .carousel-indicators > li {
  background-color: #929292;
}

#carouselSlides .item {
  text-align: center;
}

#carouselSlides .item img {
  margin: 0 auto;
  /*border: 5px solid transparent;*/
}

#carouselSlides .item {
  text-align: center;
}

#carouselSlides .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
}

#carouselSlides .carousel-control {
  margin: 0 20px;
  background-image: none;
}

#carouselSlides .carousel-control > span {
  font-size: 22px;
  color: #adadad;
}

.calcite-alert {
  position: absolute;
  top: 40%;
  margin: 0 15px;  
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  z-index: 2000;
}

.calcite-title-left-margin {
  margin-left: 15px;
}