
#sign-in-container, #sign-in-container * {
	box-sizing: border-box;
}

#sign-in-wrapper {
	border-radius: 10px;
	height: 470px;
	width: 920px;
}


#sign-in-left, #sign-in-right {
	display: inline-block;
	vertical-align: middle;
}

#sign-in-left {
	color: black;
	height: 386px;
	margin: 0 5% 40px;
	width: 50%;
}

#sign-in-right {
	text-align: center;
	width: 40%;
}

.subordinate-text {
	color: #444;
	font-size: 0.9rem;
}

.explanation-icon, .explanation-text-container, .sign-up-text-container {
	display: inline-block;
	margin: 0;
}

.explanation-icon {
	color: rgb(102, 170, 103);
	vertical-align: top;
	width: 5%;
}

.explanation-text-container, .sign-up-text-container {
	width: 95%;
}

#how-sign-up-text {
	margin-bottom: 0;
}


#sign-in-frame {
	border: none;
}

#token-expired-container, #api-didnt-load-container {
	display: none;
	line-height: 1.4;
	margin-bottom: 12px;
	padding: 5px 2px;
	width: 316px;
}

.sign-up-link {
	font-size: 0.9rem;
	margin-left: 5px;
}

//-- Height Overrides for L10N --//
.de, .es, .fr, .ja, .ru {
  #sign-in-wrapper {
    height:550px;
  }
}