<div data-dojo-attach-point="mobileMenuMainContainer" class="esriCTBGColor esriCTMobilemenu">
    <div class="esriCTBurgermenu" data-dojo-attach-point="mainMenuContainer">
        <div data-dojo-attach-point="homeMenu" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${nls.home}</div>
        <div data-dojo-attach-point="myIssuesView" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${nls.myIssuesView}</div>
        <div data-dojo-attach-point="mapView" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${nls.mapView}</div>
        <div data-dojo-attach-point="listView" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${nls.listView}</div>
        <div data-dojo-attach-point="reportIt" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${nls.reportIt}</div>
        <div data-dojo-attach-point="signIn" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${nls.signIn}</div>
        <div data-dojo-attach-point="signOut" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${nls.signOut}</div>
    </div>
    <div id="mobileMenuFooter" class="esriCTMobileMenuFooter esriCTHidden">
        <div class="esriCTLoginUserNameDiv esriCTHidden" data-dojo-attach-point="loggedinAsDiv">
            ${nls.loggedInAs}
        </div>
        <div class="esriCTBurgerMenuBottom esriCTHidden" data-dojo-attach-point="loggedinUserNameDiv">
        </div>
    </div>
</div>
