<div data-dojo-attach-point="mobileMenuMainContainer" class="esriCTMobilemenu">
    <div data-dojo-attach-point="mobileMenuHeader" class="esriCTMobileMenuHeader esriCTBorderBottom esriCTHidden">
        <div class="esriCTUserImg esriCTBGColor"></div>
        <div class="esriCTLoggedinUserName esriCTEllipsis esriCTApplicationColor" data-dojo-attach-point="loggedinUserNameDiv"></div>
    </div>
    <div class="esriCTBurgermenu" data-dojo-attach-point="mainMenuContainer">
        <div data-dojo-attach-point="myReport" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor" title="${i18n.myReportTooltip}">
            ${i18n.myReport}</div>
        <div data-dojo-attach-point="signIn" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor" title="${i18n.signInTooltip}">
            ${i18n.signIn}</div>
        <div data-dojo-attach-point="signOut" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor" title="${i18n.signOutTooltip}">
            ${i18n.signOut}</div>
        <div data-dojo-attach-point="help" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor"></div>
    </div>
</div>
