<div data-dojo-attach-point="mobileMenuMainContainer" class="esriCTBGColor esriCTMobilemenu">
    <div data-dojo-attach-point="mobileMenuHeader" class="esriCTMobileMenuHeader esriCTHidden">
        <div class="esriCTUserImg"></div>
        <div class="esriCTLoggedinUserName esriCTEllipsis" data-dojo-attach-point="loggedinUserNameDiv"></div>
    </div>
    <div class="esriCTBurgermenu" data-dojo-attach-point="mainMenuContainer">
        <div data-dojo-attach-point="myReport" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${i18n.myReport}</div>
        <div data-dojo-attach-point="signIn" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${i18n.signIn}</div>
        <div data-dojo-attach-point="signOut" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${i18n.signOut}</div>
        <div data-dojo-attach-point="help" class="esriCTHidden esriCTBurgermenuStyle esriCTPointerCursor">
            ${i18n.help}</div>
    </div>
</div>
