html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.esriRTL label {
  /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}

.loading-indicator {
  /* Loading status */
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
}

.app-loading .loading-indicator,
.app-error .loading-indicator {
  /* Show this class when loading or error */
  display: block;
}

.app-loading .loading-indicator {
  /* Loading image */
  background-position: center center;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
}

.app-error .loading-message {
  /* Error status */
  background-position: top center;
  background-image: url(../images/error.png);
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}


/* ESRI UI COMPONENTS */

.esri-ui-corner {
  position: absolute;
  margin: 10px;
}

.esri-ui-bottom-left {
  bottom: 0;
  right: 0 !important;
}

.esri-logo {
  margin: 0;
  content: "";
  background: none !important;
}

.esri-zoom .esri-button {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border: none;
  outline: none;
  font-size: 12px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.reverse .esri-zoom .esri-button {
  background-color: #333333;
  color: #fff;
}

[class^="esri-icon-"]:before,
[class*=" esri-icon-"]:before,
[class^="icon-ui-"]:before,
[class*=" icon-ui-"]:before {
  padding-right: 0;
}

.esri-compass,
.esri-compass-container {
  width: 26px;
  height: 26px;
  border: none;
  outline: none;
  border-radius: 13px !important;
  -webkit-border-radius: 13px !important;
  -moz-border-radius: 13px !important;
  -o-border-radius: 13px !important;
  margin: 0px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.esri-compass {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.reverse .esri-compass,
.reverse .esri-compass-container {
  background-color: #333333;
}

.reverse .esri-compass-icon {
  /*margin: 15%;
  height: 70%;
  width: 70%;*/
  fill: #fff;
  stroke: #fff;
}

.esri-compass-container:hover {
  background-color: transparent;
}

.esri-attribution {
  font-size: 10px;
  color: #fff;
  text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 1px 1px 0 #555;
  background: none;
  max-width: 320px !important;
  float: right;
  text-align: right;
  margin-right: 60px !important;
}


/* PANELS */

.shadow {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

#panelLabel {
  position: absolute;
  left: 0;
  top: -80px;
  height: 80px;
}

#panelView {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#panelTop {
  position: absolute;
  left: 15px;
  bottom: 175px;
  width: 320px;
  height: auto;
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.opened #panelTop {
  bottom: 140px;
}

.dj_rtl #panelTop {
  left: auto;
  right: 15px;
}

#panelButtons {
  position: relative;
  height: 40px;
  display: block;
  padding: 0;
  white-space: nowrap;
}

.panelBtn {
  float: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.dj_rtl .panelBtn {
  float: right;
}

#btnToggle {
  background-image: url(../images/grid.png);
}

.black #btnToggle {
  background-image: url(../images/grid_b.png) !important;
}

#btnPlay {
  background-image: url(../images/play.png);
}

#btnPlay.playing {
   background-image: url(../images/pause.png) !important;
}

.black #btnPlay {
  background-image: url(../images/play_b.png) !important;
}

.black #btnCycle.playing {
  background-image: url(../images/pause_b.png) !important;
}

#panelText {
  position: relative;
  bottom: 5px;
  display: block;
  width: 300px;
  height: auto;
  padding: 5px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
  text-overflow: ellipsis;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#panelTitle {
  line-height: 25px;
  font-size: 24px;
  font-weight: 400;
  display: block;
  overflow: hidden;
  height: auto;
  max-height: 75px;
  text-overflow: ellipsis;
}

#panelSubtitle {
  line-height: 15px;
  font-size: 14px;
  display: block;
  overflow: hidden;
  height: 15px;
  padding-top: 5px;
  text-overflow: ellipsis;
}

#panelPages {
  height: 20px;
  width: auto;
  padding: 0px;
  margin-top: 5px;
}

.pages {
  list-style-type: none;
  height: 20px;
  margin: auto;
  padding: 0px;
  display: block;
  cursor: pointer;
}

.pages li {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/dot.png);
  margin: 0;
}

.pages li:hover {
  background: url(../images/doton.png);
}

.pages li.active {
  background: url(../images/doton.png);
}

#panelBottom {
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  clear: both;
}

.opened {
  bottom: 0px !important;
}

#panelInner {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 25px;
  bottom: 0px;
  overflow: hidden;
}

.panelMsg {
  color: #c8c8c8;
  font-size: 12px;
}



/* MEDIA SPECIFIC: PHONES */

@media only screen and (max-width: 480px) {
  /*#panelTop {
    position: absolute;
    left: 0 !important;
    right: 0 !important;
    bottom: 0;
    width: 100% !important;
    height: auto;
  }*/
}
