html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 11px;
    font-family: Verdana;
    max-height: 100%;
    max-width: 100%;
    background: #EDEDED;
    color: #555;
}

.esriCTHeaderFont
{
    font-size: 13px;
}

#mapDiv
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.esriRTL label
{
    /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}

/* Overridden Styles */

/* Override identity manager color to default*/

.claro .dijitDialogPaneContentArea
{
    color: #000;
}

.esriSimpleSliderTL
{
    top: 10px;
    left: auto !important;
    right: 10px;
}

.esriSimpleSlider div
{
    font-weight: normal !important;
    width: 32px;
    height: 31px;
}

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton
{
    margin-bottom: 2px;
    margin-top: 2px;
}

.esriSimpleSlider, .esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton
{
    border-radius: 0px !important;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton
{
    border: 0px !important;
}

/* End of Overridden Styles */

/* Main Layout*/

.esriCTNoWebMapParentDiv
{
    display: table;
    height: 100%;
    width: 100%;
    float: left;
}

.esriCTNoWebMapChildDiv
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
}

.esriCTMainContainer
{
    height: calc(100% - 49px);
    position: relative;
}

.esriCTLeftContainer
{
    float: left;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 5px;
}

.esriCTCenterContainer
{
    float: left;
    width: 40%;
    height: 100%;
}

.esriCTSlideContainer
{
    float: right;
    width: 30%;
    height: 100%;
    position: relative;
}

.esriCTMobileMenuContainer
{
    position: absolute;
    height: 100%;
    top: 1px;
    right: 0px;
    width: 100%;
    z-index: 100;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: width 0.75s ease-in;
    -moz-transition: width 0.75s ease-in;
    -ms-transition: width 0.75s ease-in;
    -o-transition: width 0.75s ease-in;
    transition: width 0.75s ease-in;
}

.esriCTHideMobileMenu
{
    width: 0px !important;
    background-color: transparent !important;
}

.esriCTGeoFormParentContainer
{
    height: 100%;
    float: left;
    width: 70%;
    position: absolute;
    top: 1px;
    left: 30%;
    z-index: 100;
}

/* End of Main Layout*/

/* Loading Indicator*/

.loading-indicator
{
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: alpha(opacity = 40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    background-color: #000;
}

.app-loading .loading-indicator
{
    display: block;
    background-position: center center;
    background-image: url(../images/loading-indicator.gif);
    background-repeat: no-repeat;
}

/* End of Loading Indicator */

/* SignIn */

.esriCTSigninMainDiv
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1000;
}

.esriCTSigninSplash
{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #545454;
}

.esriCTSigninImageDiv
{
    background-position: center;
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
    text-shadow: rgb(0, 0, 0) 0px 0px 16px;
}

.esriCTSignInScreenBack
{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    filter: alpha(opacity = 40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    top: 0;
    left: 0;
    background-color: #000;
}

.esriCTSigninAppNameDiv
{
    color: #fff;
    font-size: 22px;
    word-wrap: break-word;
    width: 250px;
    max-height: 70px;
    overflow: hidden;
    display: inline-block;
}

.esriCTSigninAppCaptionDiv
{
    color: #fff;
    display: inline-block;
    height: 31px;
    overflow: hidden;
    width: 250px;
}

.esriCTSigninGuestBtn
{
    height: 50px;
    width: 50px;
    background-image: url(../images/guest-user.png);
    background-repeat: no-repeat;
    background-size: 50px;
    display: inline-block;
    cursor: pointer;
}

.esriCTSigninWithTxt
{
    color: #fff;
    margin-bottom: 1%;
}

.esriCTSigninFBButton
{
    height: 50px;
    width: 50px;
    background-image: url(../images/facebook.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}

.esriCTSigninTwitterButton
{
    height: 50px;
    width: 50px;
    margin-left: 12px;
    background-image: url(../images/twitter.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}

.esriCTSigninGPlusButton
{
    height: 50px;
    width: 50px;
    margin-left: 12px;
    background-image: url(../images/googleplus.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}

.esriCTSigninEsriButton
{
    height: 50px;
    width: 50px;
    margin-left: 12px;
    background-image: url(../images/esri.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}

.esriCTSigninCenterDiv
{
    display: inline-block;
    margin-bottom: 5%;
    margin-top: 5%;
}

.esriCTSigninOrLine
{
    margin-bottom: 0px;
    margin-top: 0px;
}

.esriCTSigninOrDiv
{
    background-image: url(../images/seperator.png);
    background-repeat: no-repeat;
    background-size: 145px 30px;
    margin-top: 30%;
    height: 30px;
    width: 145px;
}

.esriCTSigninGuestBtnCaption
{
    color: #fff;
}

/* End of SignIn */

/* Application Header Styles */

.esriCTApplicationHeader
{
    width: 100%;
    float: left;
    z-index: 12;
}

.esriCTMenuTabLeft
{
    font-size: 22px;
    line-height: 38px;
    padding: 5px 0 5px 15px;
    text-shadow: 0px 0px 1px #aaaaaa;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}

.esriCTMenuTabRight
{
    float: right;
}

.esriCTHomeIcon
{
    float: left;
    height: 48px;
}

.esriCTApplicationIcon
{
    height: 48px;
}

.esriCTHeaderIcons
{
    float: left;
    margin: 12px 24px;
    height: 24px;
    width: 24px;
    background-size: 24px;
}

.esriCTDesktopIcons
{
    display: block;
}

.esriCTMobileIcons
{
    display: none;
}

.esriCTHeaderContainer
{
    height: 48px;
}

/* End of application header Styles */

/* Web Map List */

.esriCTWebMapImg
{
    height: 80px;
}

.esriCTWebMapListParentDiv
{
    width: 100%;
    height: 100%;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate
{
    display: block;
    background: #fff;
}

.esriCTMediaBorder
{
    border-top: 1px solid #dfdfdf;
}

.esriCTRightArrow
{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    display: inline-block;
    background-image: url(../images/right-arrow.png);
    float: right;
}

.esriCTMediaBody
{
    display: table-cell !important;
    padding-top: 10px;
    background: #fff;
    width: 100%;
    word-wrap: break-word;
    position: relative;
}

.esriCTWebmaplistContents
{
    margin-left: 25px;
    height: 40px;
    padding: 10px 8px 0 0;
}

.esriCTMedia
{
    margin: 10px 0;
    border-bottom-width: 0px;
}

.esriCTWebMapBorder
{
    border: 1px solid #ddd;
}

.esriCTDisplayList
{
    padding: 0px;
}

.esriCTWebMapLayer
{
    border-bottom: 1px solid #dfdfdf;
}

.esriCTInfoImg
{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url('../images/info.png');
}

.esriCTInfoImgRight
{
    float: right;
    margin-right: 5px;
    background-position: right bottom;
    position: absolute;
    bottom: 5px;
    right: 0px;
}

.esriCTInfoImgLeft
{
    float: left;
    margin-left: 5px;
    position: absolute;
    bottom: 5px;
    left: 0px;
}

.esriCTDescription
{
    color: #515151;
    padding: 5px 0px 0px 15px;
    overflow-x: auto;
}

.esriCTMultiLineEllipsisdiv
{
    line-height: 18px;
    overflow: hidden;
    position: relative;
    max-height: 36px;
    max-width: 100%;
    word-break: break-word;
}

.esriCTMultiLineFill
{
    background: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
}

.esriCTMediaLeftText
{
    margin-left: 5px;
}

.esriCTInfoHeader
{
    margin-bottom: 5px;
}

.esriCTInfoDetails
{
    padding-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
}

/* End of Web Map List */

/* Issue wall*/

.panel
{
    border-radius: 0px !important;
}

.panel-default > .panel-heading
{
    color: #555;
}

.esriCTNoPadding
{
    padding: 0px !important;
}

.esriCTIconsContainer
{
    display: table;
    margin: 0 10px;
    float: right;
}

.esriCTIssueListIcons
{
    width: 24px;
    height: 24px;
    float: left;
    margin: 5px;
}

.esriCTIssueMapIconContainer
{
    display: table-cell;
    vertical-align: middle;
}

.esriCTIssueIconContainer
{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    position: relative;
}

.esriCTIssueIconContainer span
{
    position: absolute;
    bottom: 5px;
}

.esriCTMapIcon
{
    background-image: url('../images/map-view.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
    float: right;
}

.esriCTCommentsIcon
{
    background-image: url('../images/comment.png');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
}

.esriCTLikeIcon
{
    background-image: url('../images/like.png');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
}

.esriCTDownArrowIcon
{
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
}

.esriCTIssueListContainer
{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 35px);
}

.esriCTListHeader
{
    height: 35px;
    padding: 5px;
    position: relative;
}

.esriCTListContent
{
    padding: 5px;
}

.esriCTListContent .panel-heading
{
    background: #fff;
    padding-right: 0px;
}

.esriCTListContent .panel
{
    margin-bottom: 0px;
}

.esriCTListContent .esriCTDownArrowIcon
{
    float: right;
    margin-top: -4px;
    margin-right: 14px;
}

.esriCTListPanelHeader
{
    display: inline-block;
    width: calc(100% - 50px);
    word-wrap: break-word;
}

.esriCTListContainer
{
    height: 100%;
}

.esriCTInfoLoader
{
    cursor: default;
    display: block;
    background-position: center center;
    background-image: url(../images/list-loader.gif);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
}

.esriCTListHeaderText
{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    padding: 3px 0 0 10px;
}

.esriCTNoIssuesDiv
{
    margin: 5px;
}

/* End of Issue wall*/

/* Start of issue details */

.esriCTUpArrowIcon
{
    background-image: url('../images/up-arrow.png');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
}

.esriCTListContent .esriCTUpArrowIcon
{
    float: right;
    margin-top: -4px;
    margin-right: 14px;
}

.esriCTListHeaderName
{
    float: left;
    width: 89%;
    line-height: 14px;
}

.esriCTDetailsContainer
{
    width: 100% !important;
    margin-top: 5px;
}

.esriCTListData
{
   width: 100% !important;
   padding-bottom: 5px;
   border-bottom: 1px solid #dfdfdf;
}

.esriCTListItemHeader
{
    margin-bottom: 5px;
}

.esriCTDetailsData
{
    overflow-y: auto;
    height: calc(100% - 70px);
    -webkit-overflow-scrolling: touch;
    padding: 0px 0px 0px 15px;
}

.esriCTIssueImgSpan
{
    margin: 0 5px 5px 0;
    float: left;
    max-width: 110px;
    max-height: 80px;
    overflow: hidden;
    border: 1px solid;
    border-color: #ddd;
}

.esriCTImageLoader
{
    cursor: default;
    display: block;
    background-position: center center;
    background-image: url(../images/list-loader.gif);
    background-repeat: no-repeat;
    height: 80px;
    width: 110px;
}

.esriCTIssueDetailImg
{
    float: left;
}

.esriCTlistDetailedContainer
{
    height: calc(100% - 35px);
}

/* End of issue details */

/* Mobile Menu*/

.esriCTMobilemenu
{
    float: right;
    height: 100%;
    width: calc(100% - 15%);
    border: 15% solid rgba(0, 0, 0, .5);
    color: #fff;
    box-shadow: inset 0px 1px 2px 0px #050404;
    -webkit-box-shadow: inset 0px 1px 2px 0px #050404;
    -moz-box-shadow: inset 0px 1px 2px 0px #050404;
    -o-box-shadow: inset 0px 1px 2px 0px #050404;
}

.esriCTBurgermenuStyle
{
    margin-left: 30px;
    border-bottom: 1px solid #fff;
    padding: 10px;
}

.esriCTBurgerMenuBottom
{
    margin-left: 30px;
}

.esriCTBurgermenu
{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.esriCTMobileMenuFooter
{
    position: absolute;
    bottom: 5px;
}

.esriCTLoginUserNameDiv
{
    width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 30px;
}

/* Mobile Menu*/

/* Buttons */

.esriCTSlidderButton
{
    float: left;
    height: 65px;
    top: calc(50% - 32.5px);
    width: 29px;
    position: absolute;
    left: -30px;
    cursor: pointer;
}

.esriCTSlideInButton
{
    background-image: url(../images/slide-in.png);
    background-size: 29px 65px;
    background-repeat: no-repeat;
}

.esriCTSlideOutButton
{
    background-image: url(../images/slide-out.png);
    background-size: 29px 65px;
    background-repeat: no-repeat;
}

.esriCTSignInButton
{
    background-image: url(../images/sign-in.png);
    height: 24px;
    width: 24px;
}

.esriCTSignOutButton
{
    background-image: url(../images/sign-out.png);
    height: 24px;
    width: 24px;
}

.esriCTReportIssueButton
{
    background-image: url(../images/report-issue.png);
}

.esriCTMyIssuesButton
{
    background-image: url(../images/my-issues.png);
}

/* End of Buttons */

/* Burger Button Styles */

.esriCTMobileBurgerIcon
{
    cursor: pointer;
    padding: 14px 35px 16px 0px;
    margin: 15px 24px;
    font-size: 20px;
}

.esriCTMobileBurgerIcon span, .esriCTMobileBurgerIcon span:before, .esriCTMobileBurgerIcon span:after
{
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    font-size: 20px;
}

.esriCTMobileBurgerIcon span:before
{
    top: -10px;
}

.esriCTMobileBurgerIcon span:after
{
    bottom: -10px;
}

.esriCTMobileBurgerIcon span, .esriCTMobileBurgerIcon span:before, .esriCTMobileBurgerIcon span:after
{
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.esriCTMobileBurgerIcon.active span
{
    background-color: transparent;
}

.esriCTMobileBurgerIcon.active span:before, .esriCTMobileBurgerIcon.active span:after
{
    top: 0;
}

.esriCTMobileBurgerIcon.active span:before
{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.esriCTMobileBurgerIcon.active span:after
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


/* end of Burger Button Styles */

/* geo-form styles*/

.esriCTGeoFormBody
{
    overflow-y: auto;
    height: calc(100% - 35px);
    -webkit-overflow-scrolling: touch;
    color: #555;
}

.esriCTGeoFormTitles
{
    margin: 5px 0 5px 0;
}

.esriCTGeoFormContainer
{
    margin: 0 auto !important;
    width: 100% !important;
    background: #EDEDED;
    height: 100%;
}

.esriCTRequireFieldStyle
{
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
    font-size: 100%;
}

label
{
    font-weight: normal !important;
}

.row
{
    margin: 0 !important;
}

.form-control
{
    border-radius: 0px !important;
    font-size: 11px;
    font-family: Verdana;
    resize: none !important;
}

.btn, .input-group-addon
{
    border-radius: 0px !important;
}

.esriCTCloseButton
{
    float: right;
    background-image: url(../images/close.png  );
    height: 24px;
    width: 24px;
    margin-right: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
}

.help-block
{
    margin-left: 1px;
}

.esriCTHideFileInputUI
{
    position: absolute;
    top: 0;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.esriCTFileAttachMentList
{
    padding-top: 10px;
    float: left;
    width: 100%;
}

.esriCTFileButtonContainer
{
    float: left;
    position: relative;
}

.esriCTFileAlert
{
    float: left;
    margin-right: 10px;
}

.esriCTAttachmentSelectedCount
{
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}

.esriCTAttachmentContainer
{
    word-wrap: break-all;
    width: 100%;
    clear: both;
}

.esriCTGeoFormAttachmentLabel
{
    position: relative;
    width: 100%;
}

.esriCTSuccessMsg
{
    margin: 10px;
    position: relative;
}

.esriCTSuccessMsgClose
{
    position: absolute;
    top: 10px;
    right: 10px;
}

.esriCTGeoFormButton
{
    border: none !important;
    border-radius: 0px !important;
    font-size: 11px;
    font-family: Verdana;
}

.esriCTGeoLocation
{
    position: absolute;
}

.esriCTlocationPanel
{
    padding: 0px !important;
}

.esriCTLocationButton
{
    background-image: url(../images/curent-location.png);
}

.esriCTLocationButton
{
    background-image: url(../images/curent-location.png);
}

.esriCTGeoFormLoader
{
    top: 1px;
    height: calc(100% - 1px);
    width: 100%;
    position: absolute;
    z-index: 102;
    background: #EDEDED;
}

/* End of geo-form styles*/

/* Address container Styles */

.esriCTResultContainer
{
    height: 150px;
    background-color: White;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    overflow-y: auto;
    width: 100%;
}

.esriCTSearchGroupRow
{
    display: table;
    width: 98%;
    height: 30px;
    margin-left: 5px;
}

.esriCTCandidateField
{
    margin-right: 4px;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px 5px 2px;
}

.esriCTContentBottomBorder
{
    border-bottom: 1px solid #EDEDED;
}

.esriCTSearchGroupCell
{
    display: table-cell;
    vertical-align: middle;
}

.esriCTPlusMinus
{
    width: 15px;
    display: table-cell;
}

.esriCTGroupList
{
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.esriCTHideAddressList
{
    display: none;
}

.esriCTShowAddressList
{
    display: block;
    margin-left: 15px;
}

.esriCTClearInput, .esriCTSearchLoader
{
    height: 24px;
    width: 24px;
    cursor: pointer;
    position: absolute;
    background-color: #fff;
}

.esriCTClearInput
{
    background: url('../images/clearText.png') no-repeat center;
}

.esriCTSearchLoader
{
    display: none;
    background-image: url('../images/list-loader.gif');
}

.esriCTTxtSearch
{
    padding-right: 33px;
}

.esriCTTxtSearch::-ms-clear
{
    display: none;
}

.esriCTCandidateList
{
    display: table;
    width: 98%;
    height: 40px;
}

.esriCTDivNoResultFound
{
    margin-left: 5px;
    height: 25px;
    padding-top: 10px;
}

.esriCTSearchClose
{
    position: absolute;
    right: 70px;
    top: 6px;
    z-index: 2;
}

.esriCTLocatorSearchButton
{
    border-left-width: 0px;
    font-size: 14px !important;
}

/* End of Address container Styles */
