html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 12px;
    font-family: Arial;
    max-height: 100%;
    max-width: 100%;
    background: #EDEDED;
    color: #555;
    overflow: hidden;
}

.esriCTHeaderFont
{
    font-size: 13px;
    color: #555;
}

#mapDiv
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#mapParentContainer
{
    float: left;
    width: 70%;
    height: 100%;
}

#mapContainer
{
    height: 100%;
}

#mapParentContainer .esriCTReportButton, #mapParentContainer .esriCTListHeader
{
    display: none;
}

#sideContainer
{
    float: right;
    width: 30%;
    height: 100%;
}

#sidebarContent
{
    background-color: #eee;
    padding: 0px !important;
    overflow: hidden;
}

.esriRTL label
{
    /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}

.esriCTMapGeoLocationContainer
{
    margin-top: 10px;
}
/* Overridden Styles */

.esriViewPopup .header {
  word-wrap: break-word;
}
/* Override identity manager color to default*/

.claro .dijitDialogPaneContentArea
{
    color: #000;
}

.esriSimpleSliderTL
{
    top: 8px;
    right: auto !important;
    left: 10px;
}

#mapParentContainer .esriSimpleSliderTL
{
    top: 8px;
    right: auto !important;
    left: 10px !important;
}

.esriSimpleSlider div
{
    font-weight: normal !important;
    width: 32px;
    height: 31px;
}

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton
{
    margin-bottom: 2px;
    margin-top: 2px;
}

.esriSimpleSlider, .esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton
{
    border-radius: 0px !important;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton
{
    border: 0px !important;
}

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton, .esriSimpleSlider .esriCTLocationButton
{
    background-color: #fff !important;
    border: #fff solid 1px !important;
    box-shadow: 0px 0px 1px 0px;
}


.esriSimpleSlider
{
    background-color: transparent !important;
    color: #4c4c4c !important;
    border: #000 solid 0px !important;
}

.esriSimpleSlider .esriCTLocationButton
{
    background-image: url(../images/current-location.png);
    background-size: 30px;
    height: 100%;
}

.mediaSection
{
    padding-bottom: 13px;
}

/* End of Overridden Styles */

/* Main Layout*/

.esriCTNoWebMapParentDiv
{
    display: table;
    height: 100%;
    width: 100%;
    float: left;
}

.esriCTNoWebMapChildDiv
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
}

.esriCTMainContainer
{
    height: calc(100% - 49px);
    position: relative;
}

.esriCTScollY
{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.esriCTMobileMenuContainer
{
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 100;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: width 0.75s ease-in;
    -moz-transition: width 0.75s ease-in;
    -ms-transition: width 0.75s ease-in;
    -o-transition: width 0.75s ease-in;
    transition: width 0.75s ease-in;
}

.esriCTHideMobileMenu
{
    width: 0px !important;
    background-color: transparent !important;
}

.esriCTGeoFormParentContainer
{
    height: 100%;
    float: left;
    width: 30%;
    position: absolute;
    top: 1px;
    left: 70%;
    z-index: 100;
}

.esriCTListHeader
{
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.esriCTListViewButton
{
    height: 50px;
    width: 50px;
    float: right;
    background-image: url('../images/list-view.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
}

.esriCTBackButton
{
    height: 50px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.30);
    float: left;
    display: inline-block;
    background-image: url('../images/back.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
}

.esriCTHeaderText
{
    float: left;
    line-height: 50px;
    padding: 0 5px 0 5px;
}

.esriCTMapHeaderText
{
    width: calc(100% - 80px);
}

/* End of Main Layout*/

/* Loading Indicator*/

.loading-indicator
{
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: alpha(opacity = 40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    background-color: #000;
    background-size: 32px;
}

.app-loading .loading-indicator
{
    display: block;
    background-position: center center;
    background-image: url(../images/loading-indicator.gif);
    background-repeat: no-repeat;
}

.signin-loading-indicator
{
    z-index: 9999;
}
/* End of Loading Indicator */

/* SignIn */

.esriCTSigninMainDiv
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1000;
}

.esriCTSigninSplash
{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #545454;
}

.esriCTSigninImageDiv
{
    background-position: center;
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
    text-shadow: rgb(0, 0, 0) 0px 0px 16px;
}

.esriCTSignInScreenBack
{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    filter: alpha(opacity = 40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    top: 0;
    left: 0;
    background-color: #000;
}

.esriCTSigninAppNameDiv
{
    color: #fff;
    font-size: 22px;
    word-wrap: break-word;
    width: 250px;
    max-height: 70px;
    overflow: hidden;
    display: inline-block;
}

.esriCTSigninAppCaptionDiv
{
    color: #fff;
    display: inline-block;
    height: 31px;
    overflow: hidden;
    width: 250px;
}

.esriCTSigninGuestBtn
{
    height: 50px;
    width: 50px;
    background-image: url(../images/guest-user.png);
    background-repeat: no-repeat;
    background-size: 50px;
    display: inline-block;
    cursor: pointer;
}

.esriCTSigninWithTxt
{
    color: #fff;
    margin-bottom: 1%;
}

.esriCTSigninFBButton
{
    height: 50px;
    width: 62px;
    background-image: url(../images/facebook.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
    background-position: center center;
}

.esriCTSigninTwitterButton
{
    height: 50px;
    width: 62px;
    background-image: url(../images/twitter.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
    background-position: center center;
}

.esriCTSigninGPlusButton
{
    height: 50px;
    width: 62px;
    background-image: url(../images/googleplus.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
    background-position: center center;
}

.esriCTSigninEsriButton
{
    height: 50px;
    width: 62px;
    background-image: url(../images/esri.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
    background-position: center center;
}

.esriCTSigninCenterDiv
{
    display: inline-block;
    margin-bottom: 5%;
    margin-top: 5%;
}

.esriCTSigninOrLine
{
    margin-bottom: 0px;
    margin-top: 0px;
}

.esriCTSigninOrDiv
{
    background-image: url(../images/seperator.png);
    background-repeat: no-repeat;
    background-size: 145px 30px;
    margin-top: 30%;
    height: 30px;
    width: 145px;
    display: inline-block;
}

.esriCTOrdiv
{
    background-color: #fff;
    padding: 10px;
    padding-bottom: 8px;
    padding-top: 9px;
    border-radius: 16px;
    text-shadow: none;
    max-width: 100px;
    display: inline-block;
}

.esriCTSigninGuestBtnCaption
{
    color: #fff;
}

/* End of SignIn */

/* Application Header Styles */

.esriCTLoginCredentialsDiv
{
    margin-right: 10px;
}

.esriCTApplicationHeader
{
    width: 100%;
    float: left;
    z-index: 12;
    background: #fff;
}

.esriCTMenuTabLeft
{
    font-size: 24px;
    line-height: 38px;
    padding: 5px 0 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.esriCTMenuTabRight
{
    float: right;
}

.esriCTHomeIcon
{
    float: left;
    height: 48px;
    max-width: calc(100% - 150px);
}

.esriCTHomeIconStreched {
    max-width:calc(100% - 75px);
}

.esriCTApplicationIcon
{
    height: 48px;
    max-height: 48px;
    max-width: 100%;
}

.esriCTHeaderIcons
{
    float: left;
    margin: 12px 24px;
    height: 24px;
    width: 24px;
    background-size: 24px;
}

.esriCTDesktopIcons
{
    display: block;
}

.esriCTMobileIcons
{
    display: none;
}

.esriCTHeaderContainer
{
    height: 48px;
}

.esriCTFloatLeft
{
    float: left;
}

.esriCTFloatRight
{
    float: right;
}
.esriCTLoginUserNameDiv
{
    cursor: pointer;
    max-width: 135px;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    text-align: right;
    margin-top: 18px;
    float: left;
    margin-left: 10px;
}

.esriCTCaretIcon
{
    height: 18px;
    width: 18px;
    background-position: center;
    margin-top: 18px;
    display: inline-block;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    color: #ccc;
}

.esriCTOptions
{
    position: absolute;
    background-color: white;
    z-index: 400;
    cursor: pointer;
    width: auto;
    top: 49px;
}

.esriCTLoginOptionsDiv
{
    right: 17px;
}

.esriCTBorder
{
    border: 1px solid #fff;
    border-color: #d15706;
}

.esriCTLogoutOption
{
    display: inline-block;
    border: 1px solid #b4b4b4;
    min-width: 100px;
    background: #fff;
}

.esriCTItems
{
    padding: 5px;
}

/* End Of Application Header Styles */

/* Web Map List */

.esriCTDisplayList, .esriCTDisplayWebMapTemplate:hover .esriCTWebMapbgColor
{
    background: #fff;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate:hover .esriCTMediaBody
{
    background: #fff;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate:hover .esriCTMultiLineFill
{
    background: #fff;
}

.esriCTWebMapbgColor
{
    background: #f0f0f0;
    padding-right:0px;
}

.esriCTWebMapImg
{
    height: 80px;
    width: 120px;
    border: 1px solid #ccc;
}

.esriCTWebMapListParentDiv
{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate
{
    display: block;
    background: #f0f0f0;
    padding: 5px;
}

.esriCTDisplayWebMapTemplate {
    border-left:none !important;
}
.esriCTMediaBorder
{
    border-top: 1px solid #ccc;
}

.esriCTMediaBody
{
    display: table-cell !important;
    background: #f0f0f0;
    vertical-align: middle;
    width: 100%;
    word-wrap: break-word;
    position: relative;
}

.esriCTWebmaplistContents
{
    height: 40px;
    padding: 8px 0 0 0;
}

.esriCTWebMapLayerTitle
{
    margin-left: 25px;
    line-height: 24px;
}

.esriCTWebMapBorder
{
    border-bottom: 1px solid #ccc;
}

.esriCTDisplayList
{
    padding: 0px;
}

.esriCTWebMapLayer
{
    border-bottom: 1px solid #ccc;
}

.esriCTInfoImg
{
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 16px;
    background-image: url('../images/info.png');
}

.esriCTInfoImgRight
{
    display: table-cell !important;
    float: right;
    width: 16px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right:5px;
}

.esriCTDescription
{
    color: #515151;
    padding:3px 15px !important;
    overflow-x: auto;
}


.esriCTMultiLineEllipsisdiv
{
    line-height: 19px;
    overflow: hidden;
    position: relative;
    max-height: 38.3px;
    max-width: 100%;
    word-break: break-word;
    margin-left: 10px;
}

.esriCTMultiLineFill
{
    position: absolute;
    height: 100%;
    width: 100%;
}

.esriCTInfoHeader
{
    margin-bottom: 5px;
}

.esriCTInfoDetails
{
    padding-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
}

.esriCTSelectedItem
{
    font-weight: bold;
    background: #fff;
}

.esriCTDetailsContainerParent
{
    display: table;
    width: 100%;
}

.esriCTDetailsContainerRow
{
    display: table-row;
}

.esriCTDetailsContainerCell
{
    display: table-cell;
    width: 100%;
}

.esriCTWebMapLayer:hover
{
    background: #fff;
}

.esriCTRightArrow
{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    display: inline-block;
    background-image: url(../images/right-arrow.png);
    float: right;
}

/* End of Web Map List */

/* Mobile Menu*/

.esriCTMobilemenu
{
    float: right;
    background:#f0f0f0;
    height: 100%;
    width: calc(100% - 15%);
    color: #555;
}

.esriCTBurgermenuStyle
{
    margin-left: 30px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.esriCTBurgermenu
{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 80% !important;
}

.esriCTMobileMenuHeader
{
    background-color: #fff;
    line-height: 25px;
    padding: 6px;
}

.esriCTUserImg
{
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 8px;
    background-image: url("../images/user.png");
    background-size: 25px;
    background-repeat: no-repeat;
    margin-left: 2px;
}

.esriCTLoggedinUserName
{
    width: calc(100% - 40px);
}
/* End Of Mobile Menu*/

/* Burger Button Styles */

.esriCTMobileBurgerIcon
{
    cursor: pointer;
    padding: 14px 35px 16px 0px;
    margin: 15px 12px 15px 24px;
    font-size: 20px;
}

.esriCTMobileBurgerIcon span, .esriCTMobileBurgerIcon span:before, .esriCTMobileBurgerIcon span:after
{
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 35px;
    position: absolute;
    display: block;
    content: '';
    font-size: 20px;
}

.esriCTMobileBurgerIcon span:before
{
    top: -10px;
}

.esriCTMobileBurgerIcon span:after
{
    bottom: -10px;
}

.esriCTMobileBurgerIcon span, .esriCTMobileBurgerIcon span:before, .esriCTMobileBurgerIcon span:after
{
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.esriCTMobileBurgerIcon.active span
{
    background-color: transparent;
}

.esriCTMobileBurgerIcon.active span:before, .esriCTMobileBurgerIcon.active span:after
{
    top: 0;
}

.esriCTMobileBurgerIcon.active span:before
{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.esriCTMobileBurgerIcon.active span:after
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}


/* End of Burger Button Styles */

/* Geo-form styles*/

.esriCTGeoFormBody
{
    overflow-y: auto;
    height: calc(100% - 60px);
    -webkit-overflow-scrolling: touch;
    color: #555;
    width: 100%;
}

.esriCTGeoFormTitles
{
    margin: 5px 0 5px 0;
    font-size: 18px;
    font-weight: bold !important;
}


.esriCTGeoFormContainer
{
    margin: 0 auto !important;
    width: 100% !important;
    background: #EDEDED;
    height: 100%;
}

.esriCTRequireFieldStyle
{
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
    font-size: 100%;
}

.esriCTGeoFormHeaderText
{
    width: calc(100% - 50px);
}

label
{
    font-weight: normal !important;
    font-size: 14px;
}

.row
{
   margin: 0 !important;
}

.form-control
{
    border-radius: 0px !important;
    font-size: 12px;
    font-family: Verdana;
    resize: none !important;
}

.btn, .input-group-addon
{
    border-radius: 0px !important;
}

.esriCTCloseButton
{
    float: right;
    background-image: url(../images/close-24.png );
    height: 24px;
    width: 24px;
    margin-right: 24px;
    margin-top: 6px;
    background-size: 24px;
    background-repeat: no-repeat;
}

.help-block
{
    margin-left: 1px;
}

.esriCTHideFileInputUI
{
    position: absolute;
    top: 0;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.esriCTFileAttachMentList
{
    padding-top: 10px;
    float: left;
    width: 100%;
}

.esriCTFileButtonContainer
{
    float: left;
    position: relative;
}

.esriCTFileAlert
{
    float: left;
    margin-right: 10px;
}

.esriCTAttachmentSelectedCount
{
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}

.esriCTAttachmentContainer
{
    word-wrap: break-all;
    width: 100%;
    clear: both;
}

.esriCTGeoFormAttachmentLabel
{
    position: relative;
    width: 100%;
}

.esriCTSuccessMsg
{
    margin: 10px;
    position: relative;
}

.esriCTSuccessMsgClose
{
    position: absolute;
    top: 10px;
    right: 10px;
}

.esriCTGeoFormButton
{
    border-radius: 0px !important;
    height: 35px;
    font-size: 14px;
    font-family: Verdana;
}

.esriCTGeoLocation
{
    position: absolute;
}

.esriCTlocationPanel
{
    padding: 0px !important;
    width: calc(100% - 50px);
}

.esriCTGeoFormBody .esriCTLocationButton
{
    background-image: url(../images/current-location.png);
    background-size: 28px;
    height: 100%;
    background-position: center center;
    border: 1px solid #ccc;
}

.esriCTGeoFormLoader
{
    top: 1px;
    height: calc(100% - 1px);
    width: 100%;
    position: absolute;
    z-index: 102;
    background: #EDEDED;
}

.esriCTLocateContainer div.input-group
{
    width: 100%;
}

.esriCTLocateContainer div.input-group-btn
{
    position: absolute;
    right: 36px;
    z-index: 100;
}

.esriCTTxtSearch
{
    padding-right: 70px;
}

.esriCTGeoFormMapContainer
{
    height: 280px !important;
    width: 100% !important;
}

.esriCTmapParentContainer
{
    width: 94%;
    margin: 0 3% 15px 3%;
}

.esriCTReportButton
{
    height: 55px;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.esriCTReportButtonContainer
{
    line-height: 55px;
    margin: 0px;
    display: inline-block;
    max-width: 100%;
}

.esriCTReportButtonIcon
{
    float: left;
    background-image: url("../images/report-button-icon.png");
    background-size: 19px;
    height: 55px;
    width: 19px;
    background-position: center center;
    background-repeat: no-repeat;
    line-height: 55px;
    margin-left:5px;
}

.esriCTReportButtonText
{
    padding-left: 11px;
    min-width: calc(100% - 25px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.esriCTGeoFormCancelButton {
    width: 48%;
    float: right;
}

 .esriCTGeoFormSubmitButton
 {
     width: 48%;
     float:left;
 }

.esriCTGeoFormGeoLocation
{
    height: 32px;
    width: 34px;
    margin-left: 4px;
    background-size: 34px;
    background-repeat: no-repeat;
    float: right;
    margin: 0px;
    margin-top: 1px;
}

.esriCTGeoFormBody .esriCTLocationButton, .esriCTLocatorSearchButton
{
	background-color: #fff;
}
/* End of geo-form styles*/

/* Address container Styles */

.esriCTResultContainer
{
    height: 150px;
    background-color: White;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    overflow-y: auto;
    width: 100%;
}

.esriCTSearchGroupRow
{
    display: table;
    width: 98%;
    height: 30px;
    margin-left: 5px;
}

.esriCTCandidateField
{
    margin-right: 4px;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 20px 5px 2px;
}

.esriCTContentBottomBorder
{
    border-bottom: 1px solid #EDEDED;
}

.esriCTSearchGroupCell
{
    display: table-cell;
    vertical-align: middle;
}

.esriCTPlusMinus
{
    width: 15px;
    display: table-cell;
}

.esriCTGroupList
{
    display: table-cell;
    vertical-align: middle;
    padding-right: 5px;
}

.esriCTHideAddressList
{
    display: none;
}

.esriCTShowAddressList
{
    display: block;
    margin-left: 15px;
}

.esriCTClearInput, .esriCTSearchLoader
{
    height: 24px;
    width: 24px;
    cursor: pointer;
    position: absolute;
    background-color: #fff;
}

.esriCTClearInput
{
    background: url('../images/clearText.png') no-repeat center;
}

.esriCTSearchLoader
{
    display: none;
    background-image: url('../images/list-loader.gif');
}

.esriCTTxtSearch::-ms-clear
{
    display: none;
}

.esriCTCandidateList
{
    display: table;
    width: 98%;
    height: 40px;
}

.esriCTDivNoResultFound
{
    margin-left: 5px;
    height: 25px;
    padding-top: 10px;
}

.esriCTSearchClose
{
    position: absolute;
    right: 66px;
    top: 6px;
    z-index: 2;
}

.esriCTLocatorSearchButton
{
    border-left-width: 0px;
    font-size: 14px !important;
}

.esriCTSearchButton
{
    background: url('../images/search.png') no-repeat center;
    height: 32px;
    width: 34px;
    margin-left: 4px;
    background-size: 28px;
    margin-top: 1px;
    border-left: 1px solid #ccc !important;
}

/* End of Address container Styles */

/* Comment Styles */


.esriCTCommentContent .panel-heading
{
    background: #fff;
    padding-right: 0px;
    border: none !important;
}

.esriCTTextAreaContainer
{
    clear: both;
    width: 100%;
    height: 115px;
    background: #fff;
}
/* End of Address container Styles */

/* ---------- ItemList ---------- */

.esriCTItemList
{
    font-family: Arial, 'Helvetica Neue' , Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #eee;
}

.esriCTItemList .esriCTItemSummary
{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.esriCTItemSummary
{
    line-height: 0; /* reset */
}

.esriCTItemSummaryHighlighter
{
    width: 4px;
    height: 50px;
    float: left;
}

.esriCTtemSummaryParent:hover, .esriCTItemSummaryParentSelected
{
    background-color: #fff;
}

.esriCTItemList .esriCTItemSummary:hover
{
    background-color: #fff;
}

.esriCTItemSummary .esriCTItemTitle
{
    width:calc(100% - 66px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.esriCTItemListTitleFullWidth
{
    width: 100% !important;
}

.esriCTItemList .esriCTItemTitle, .esriCTItemList .esriCTItemFav
{
    line-height: 30px;
}

.esriCTMyIssueListContainer .esriCTItemTitle
{
    line-height: 20px;
}

.esriCTMyIssueListContainer .esriCTItemFav
{
    line-height: 40px;
}

.esriCTItemFav
{
    cursor: auto;
}

.esriCTItemSummary > div, .esriCTItemFav > div
{
    display: inline-block;
}

.esriCTItemSummary .esriCTItemFav
{
    float: right;
    font-size: 20px;
    color: rgb(150, 150, 150);
    color: rgba(0, 0, 0, 0.35);
}

.esriCTIssueListContainer
{
    height: calc(100% - 105px);
    overflow: auto;
}

.esriCTMyIssueListContainer
{
    height: calc(100% - 55px);
    overflow: auto;
}

.esriCTMyIssueListContainer .esriCTItemSummaryHighlighter {
    height: 60px;
}

.esriCTNoIssueDiv
{
    text-align: center;
    margin: 10px;
}

.esriCTInfoLoader
{
    cursor: default;
    height: 32px;
    width: 32px;
    margin-top: 8px;
    margin-left: 11px;
}

.esriCTHeaderLoadingIndicator
{
    background-position: center center;
    background-image: url(../images/loading-indicator.gif);
    background-repeat: no-repeat;
    background-size: 32px;
    height: 32px;
    width: 32px;
}

.esriCTIssueWallMapItButton
{
    display: none;
}

.esriCTListHeaderText
{
    width: calc(100% - 80px);
}

.esriCTFavDiv
{
    font-size: 12px;
    top: 0px;
    color: rgba(0, 0, 0, 0.30);
}

.esriCTListButtonContainer {
    float: right;
    position: relative;
    height:48px;
    width:50px;
}

.esriCTLoaderPosition {
    position:absolute;
}

.esriCTMyIssuePopupTitle {
    font-weight: normal;
}

/* ---------- End Of ItemList ---------- */

/* ---------- ItemDetail ---------- */

.esriCTItemDetailsContainer
{
  height: calc(100% - 50px);
  overflow: auto;
  background:#f0f0f0;
}

.esriCTItemDetail {
  background: #fff;
  height: 100%;
}

.esriCTCommentsList
{
      margin: 0 10px 0 10px;
      word-break:break-all;
}

.esriCTCommentsForm1
{
    border-top: 1px solid #ccc;
    padding-bottom: 15px;
    background-color:#fff;
}

.esriCTCommentTitle
{
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
}

.esriCTItemDetail > .esriCTItemSummary > div
{
    padding: 10px;
    line-height: 20px;
    box-sizing: border-box;
}

.esriCTItemDetail .esriCTItemSummary .esriCTBack
{
    cursor: pointer;
    line-height: 0;
    float: left;
}

.esriCTItemDetail .esriCTItemSummary .esriCTItemTitle
{
    width: 69%;
    padding-right: 5px;
}

.esriCTItemDetail .esriCTItemSummary .esriCTItemFav
{
    font-size: inherit;
    padding-left: 0px;
}

.esriCTItemDetail .esriCTItemFav .esriCTIcon
{
    font-size: 20px;
    margin-left: 5px;
}

.esriCTItemDetail .esriCTTtemDescription
{
    background-color: #fff;
    color: #999;
    float:left;
    width:100%;
}

.esriCTItemDetail .esriCTItemDetailHeader
{
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 10px 0 0 10px;
}

.esriCTItemDetail .userName
{
    display: inline-block;
}

.esriCTItemDetail .btn
{
    border: 1px solid #ccc;
    padding: 4px 6px;
    border-radius: 2px;
    cursor: pointer;
}

.esriCTItemDetail .btn ::selection
{
    color: #007ac2;
}

.esriCTItemDetail .btn ::-moz-selection
{
    color: #007ac2;
}

.esriCTTtemDescFooter
{
    height: 25px;
}

.esriCTItemDetail .float-right
{
    float: right;
}

.esriCTItemDetail .esriCTRightEdge
{
    margin-right: 0;
}

.esriCTItemDetail .esriCTSpaceBelow
{
    margin-bottom: 10px;
}

.esriCTItemDetail .esriCTLargeText
{
    font-size: 16px;
}

.esriCTItemDetail .esriCTMediumText
{
    font-size: 14px;
}

.esriCTItemDetail .esriCTSmallText
{
    font-size: 12px;
}

.esriCTItemDetail .itemComments
{
    background-color: #eee;
    padding: 10px;
}

.btn > div
{
    display: inline-block;
}

.btn .esriCTIcon
{
    margin-right: 2px;
    position: relative;
    top: 2px;
}

.btn .esriCTIcon svg path, .btn .esriCTIcon svg polyline
{
    fill: #007ac2;
    fill-opacity: 1;
}

.hide
{
    display: none !important;
}

.center-please
{
    text-align: center;
}

.esriCTItemDetail .attachmentsSection
{
    display: none;
    margin-bottom: 12px;
}

.esriCTItemDetail .attachmentsSection .attachment
{
    width: 48%;
    margin: 0px 5px 5px 0px;
    cursor: pointer;
}

.commentsForm
{
    margin-bottom: 12px;
}

.esriCTMapItButton
{
    height: 48px;
    width: 50px;
    float: right;
    background-image: url('../images/map-it.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
}

.esriCTDetailsHeader
{
    width: calc(100% - 107px);
}

.esriCTVotesDetails
{
    line-height: 50px;
    float: right;
    width: 65px;
    margin-right: 12px;
}

.esriCTItemVotes
{
    margin-right: 3px;
    float: left;
    width: 49px;
    text-align: right;
    color: rgba(0, 0, 0, 0.30);
    font-size: 20px;
}

.esriCTDetailsFavDiv
{
    font-size: 12px;
    margin-left:1px;
    color: rgba(0, 0, 0, 0.30);
}

.esriCTDetailsPanelButton {
    width:23%;
}

.esriCTButtonSelected{
    background-color:#007ac2;
    color:#fff;
}

.esriCTMapItButton{
}

.esriCTDetailButtonContainer{
    display:inline;
}

.esriCTItemDescFooter{
    width: 100%;
    padding: 0 10px;
    margin-bottom: 10px;
    float:left;
}

.esriCTItemDetailHeader {
    font-weight:bold;
}

.esriCTItemComments {
    float: left;
    background-color: #F0F0F0;
    width: 100%;
}

.esriCTCommentsText {
    border-bottom: 1px solid #ccc;
    padding: 8px 0 8px 0;
}

.esriCTEnterComment
{
    width: 100%;
    padding: 0 10px;
}

.esriCTCountLabel
{
    text-align:right;
    padding: 0 15px;
}

.esriCTCommentButtons
{
      padding: 0 10px;
}

.esriCTPostCommentButton
{
    width:48%;
}

.esriCTCancelCommentButton
{
    width:48%;
    float:right;
}

.textAreaContent
{
    width: 100%;
    border: solid 1px #DFDFDF;
    resize: none;
    clear: both;
    height: 64px;
    border-radius: 0px;
}

.esriCTDetailsContainer
{
    width: 100% !important;
}

.esriCTListItemHeader
{
    margin-bottom: 5px;
}

.esriCTListData
{
    width: 100% !important;
    padding-bottom: 5px;
    word-break: break-all;
}

.esriCTIssueImgSpan
{
    margin: 0 5px 5px 0;
    float: left;
    max-width: 100px;
    max-height: 80px;
    overflow: hidden;
    border: 1px solid;
    border-color: #ddd;
}

.esriCTImageLoader
{
    cursor: default;
    display: block;
    background-position: center center;
    background-image: url(../images/list-loader.gif);
    background-repeat: no-repeat;
    height: 80px;
    width: 110px;
}

.esriCTIssueDetailImg
{
    float: left;
}

.esriCTAttachmentsSection .row {
    margin:0px !important;
    padding:5px 10px !important;
}

.esriCTDetailsPanel{
    background-color: #F0F0F0;
}

.esriCTMapItButtonVisibility
{
    display:none;
}

.esriCTAttachmentsSection {
    background-color:#fff;
}

.esriCTDetailsNoResult{
    padding:5px 0 5px 10px;
}

.esriCTCancelCommentButton, .esriCTPostCommentButton {
    height: 35px;
    line-height: 25px;
}

.esriCTDetailDescription
{
    color: #515151;
    padding:5px 10px !important;
    overflow-x: auto;
}
/* ---------- End Of ItemDetail ---------- */
/*-----------Mozilla-----------------*/

@-moz-document url-prefix()
{
    .esriCTReportButtonContainer
    {
        display: inline-flex;
    }

    .esriCTReportButtonText
    {
        max-width:calc(100% - 24px);
    }

    .esriCTMargin
    {
        margin-left: 3px;
    }
}

/*-----------Mozilla-----------------*/
