

.esriCTApplicationColor
{
    color: ${SelectedThemeColor};
}

.esriCTBGColor ,.esriCTMobileBurgerIcon span, .esriCTMobileBurgerIcon span:before, .esriCTMobileBurgerIcon span:after, .esriCTItemSummarySelected
{
    background-color: ${SelectedThemeColor};
}

.esriCTBorder, .esriCTBorderLeft, .esriCTBorderTop, .esriCTBorderRight, .esriCTBorderBottom
{
    border-color: ${SelectedThemeColor};
}

/* Overriden Styles */

.btn-default:hover, .btn-default:focus, .btn-default:focus {
     background-color: #fff;
     border-color: #ccc;
     color: ${SelectedThemeColor};
}

.btn-default:active
{
    background-color: ${SelectedThemeColor};
    color: #fff;
}

.esriCTSubmitButton, .esriCTDetailButtonSelected, .esriCTPostCommentButton {
  color: #FFF !important;
  background-color: ${SelectedThemeColor} !important;
}

.esriCTSubmitButton .btn-default:hover, .esriCTPostCommentButton .btn-default:hover{
  color: #FFF !important;
  background-color: ${SelectedThemeColor} !important;
}
/* End of Overriden Styles */