<div data-dojo-attach-point="divLocateContainer" class="esriCTLocateContainer">
    <div data-dojo-attach-point="location_tabs" class="tab-content">
        <div data-dojo-attach-point="address">
            <div class="form-group">
                <div class="input-group">
                    <input data-dojo-attach-point="txtSearch" type="text" class="form-control esriCTTxtSearch">
                    <div class="input-group-btn" data-dojo-attach-point="geocoder_buttons">
                        <button data-dojo-attach-point="searchSubmit" class="btn btn-default esriCTLocatorSearchButton"
                            type="button">
                            <span data-dojo-attach-point="geocoder_spinner" class="glyphicon glyphicon-search">
                            </span>
                        </button>
                    </div>
                    <div class="esriCTSearchClose" data-dojo-attach-point="clearhide">
                        <span class="esriCTClearInput" data-dojo-attach-point="close"></span><span data-dojo-attach-point="imgSearchLoader"
                            class="esriCTSearchLoader"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="divResultContainer" class="esriCTResultContainer esriCTHidden">
    </div>
</div>
