<div class="dialog-header padding-leader-1 padding-trailer-1">
	<h4 class="dialog-title">Create Story Not Available</h4>
</div>	
<div class="dialog-body leader-half">
	<p>Sorry, this is not supported in a small display. Please open in a larger display or device.</p>
	<a id="no-sign-in-redirect" href="/" class="btn modal-dismiss">Close</a>
	<button class="btn modal-dismiss close-dialog">Return</button>
</div>