
  
  .esriPopup.chrome .contentPane,
  .esriPopup.chrome .actionsPane {
    border-color: 1px solid #999999;
    background-color: #DAE4EF;
  }
  
  .esriPopup.chrome .titlePane,
  .dj_ie7 .esriPopup.chrome .titlePane .title {
    background-color: #666666;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .esriPopup.chrome .titlePane {
    border-bottom: 1px solid #666666;
  }
  .esriPopup.chrome a {
    color: #336699;
  }
  .esriPopup .outerPointer, .esriPopup .pointer.bottom{
    background-color: #DAE4EF;
  }
  .esriPopup .pointer.top{
    background-color: #666666;
  }
