html, body
{
    height: 100%;
    overflow: hidden;
}

.esriCTHeaderContainer
{
    height: 7%;
}

.esriCTMainContainer
{
    height: 94%;
}

.esriCTListHeader
{
    height: 6%;
}

.esriCTIssueListContainer
{
    height: 94.3%;
}

.esriCTSlidderButton
{
    top: 44%;
}

.esriCTGeoFormBody
{
    height: 95%;
}

.esriCTInfoLoader
{
    top: 1px;
}

.esriCTGeoFormParentContainer
{
    top: 5px;
    height: 97.8%;
}

.esriCTGeoFormBody
{
    height: 96.5%;
}
.form-control
{
    max-width: 100%;
}

.esriCTFullWidth, .col-xs-12 col-sm-12 col-md-8
{
    width: 100%;
}

.col-md-8
{
    width: 100% !important;
}

.esriCTHideMobileMenu
{
    display: none;
}

/* Issue Wall */
.esriCTDetailsData
{
   min-height: 500px;
   max-height:500px;
}
/* Issue Wall */
/* App Header Icons*/
.esriCTHeaderIcons
{
    height: 24px !important;
    width: 24px !important;
}
.esriCTSignInButton
{
    background-image: url(../images/sign-in-24.png);
}

.esriCTSignOutButton
{
    background-image: url(../images/sign-out-24.png);
}

.esriCTReportIssueButton
{
    background-image: url(../images/report-issue-24.png);
}

.esriCTMyIssuesButton
{
    background-image: url(../images/my-issues-24.png);
}
/* App Header Icons*/

/* Web map list Icons */

.esriCTRightArrow
{
    background-image: url('../images/right-arrow-24.png');
}

.esriCTInfoImg
{
    background-image: url('../images/info-24.png');
}

/* Web map list Icons */

.esriCTCloseButton
{
    background-image: url(../images/close-24.png  );
}
 /* Issue wall Icons */

    .esriCTCommentsIcon
    {
        background-image: url('../images/comment-24.png');
    }
    .esriCTMapIcon
    {
        background-image: url('../images/map-view-24.png');
    }

    .esriCTLikeIcon
    {
        background-image: url('../images/like-24.png');
    }

    .esriCTDownArrowIcon
    {
        background-image: url('../images/down-arrow-24.png');
    }

    .esriCTUpArrowIcon
    {
        background-image: url('../images/up-arrow-24.png');
    }
  /* Issue wall Icons */
  /* Sign In Icons */


    .esriCTSigninGuestBtn
    {
        background-image: url('../images/guest-user-24.png');
    }


    .esriCTSigninEsriButton
    {
        background-image: url('../images/esri-24.png');
    }

    .esriCTSigninFBButton
    {
        background-image: url('../images/facebook-24.png');
    }

    .esriCTSigninTwitterButton
    {
        background-image: url(../images/twitter-24.png);
    }

    .esriCTSigninGPlusButton
    {
        background-image: url('../images/googleplus-24.png');
    }

  /* Sign In Icons */