/* Main Layout*/

.esriCTLeftContainer
{
    height: 92%;
}

.esriCTRightContainer
{
    height: 92%;
}

/* End of Main Layout */

/* Data viewer */

.dataTables_scrollBody
{
    height: 81% !important;
}

.dataTables_splitViewHeight
{
    height: 83% !important;
}

.dataTables_listViewHeight
{
    height: 93% !important;
}

/* End of data viewer */

/* Header Icons */

.esriCTSearch
{
    background-image: url('../images/search-24.png');
}

.esriCTViewMode
{
    background-image: url('../images/mode-24.png');
}

.esriCTSettingsButton
{
    background-image: url('../images/settings-24.png');
}

.esriCTSearchDisable
{
    background-image: url('../images/search-disable-24.png');
}

.esriCTManualRefreshButton
{
    background-image: url('../images/refresh-24.png');
}

.esriCTSettingsButtonDisabled
{
    background-image: url('../images/settings-disable-24.png') !important;
}

/* Header Icons */

/* WebmapList */

.esriCTRightArrow
{
    background-image: url('../images/right-arrow-24.png');
}

.esriCTInfoImg
{
    background-image: url('../images/info-24.png');
}

/* WebmapList*/

/* Application Header Styles */

.esriCTMenuTabLeft
{
    max-width: 330px;
}

/* End of application header styles */
