html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 11px;
    font-family: Verdana;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.esriCTHeaderFont
{
    font-size: 13px;
}

#mapDiv
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.esriRTL label
{
    /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}

/* esri API Overridden Styles */
th
{
    font-weight: normal !important;
}
.esriSimpleSliderTL
{
    top: 10px;
    left: auto !important;
    right: 20px;
}

.esriSimpleSlider div
{
    font-weight: normal !important;
    width: 32px;
    height: 31px;
}

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton
{
    margin-bottom: 2px;
    margin-top: 2px;
    border: #fff solid 1 !important;
}

.esriSimpleSlider, .esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton
{
    border-radius: 0px !important;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton
{
    border: 0px !important;
}

.esriSimpleSlider
{
    background-color: transparent !important;
    color: #fff !important;
    border: #fff solid 0 !important;
}

/* esri API End of Overridden Styles */

/* Main Layout*/

.esriCTNoWebMapParentDiv
{
    display: table;
    height: calc(100% - 48px);
    width: 100%;
}

.esriCTNoWebMapChildDiv
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
}

.esriCTMainContainer
{
    height: calc(100% - 50px);
}

.esriCTLeftContainer
{
    float: left;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    padding: 5px;
    background: #EDEDED;
    -webkit-overflow-scrolling: touch;
}

.esriCTRightContainer
{
    float: left;
    width: 70%;
    height: 100%;
    overflow: auto;
}

.esriCTUpperContainer
{
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.esriCTLowerContainer
{
    width: 100%;
    height: 60%;
    overflow: auto;
}
.esriCTHeaderContainer
{
    height: 48px;
}

.esriCTHideWrapper
{
    display: none !important;
}

/* End of Main Layout*/

/* Loading Indicator */

.loading-indicator
{
    display: none;
    height: 100%;
    width: 100%;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: alpha(opacity = 40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    background-color: #000;
}

.app-loading .loading-indicator
{
    display: block;
    background-position: center center;
    background-image: url(../images/loading-indicator.gif);
    background-repeat: no-repeat;
}

.esriCTHideLoadingIndicatorImage
{
    background-image: none !important;
}

/* End of Loading Indicator */

/* MapViewer */

.esriCTMapViewerBody
{
    height: 100%;
}

.esriCTDetailsButton
{
    width: 32px;
    height: 31px;
    background-image: url(../images/details.png);
    background-size: 32px 31px;
}

.esriCTLocationButton
{
    width: 32px;
    height: 31px;
    background-size: 32px 31px;
    background-image: url(../images/location.png) !important;
    float: right;
    position: fixed;
    right: 20px;
    margin-top: 5px;
}

/* End of MapViewer*/

/* Web Map List */

.esriCTWebMapImg
{
    height: 80px;
}

.esriCTWebMapListParentDiv
{
    width: 100%;
    height: 100%;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate
{
    display: block;
    background: #fff;
}

.esriCTMediaBorder
{
    border-top: 1px solid #dfdfdf;
}
.esriCTRightArrow
{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    display: inline-block;
    background-image: url(../images/right-arrow.png);
    float: right;
}

.esriCTMediaBody
{
    display: table-cell !important;
    padding-top: 10px;
    background: #fff;
    width: 100%;
    word-wrap: break-word;
    position: relative;
}

.esriCTWebmaplistContents
{
    margin-left: 25px;
    height: 40px;
    padding: 10px 8px 0 0;
}

.esriCTMedia
{
    margin: 10px 0;
    border-bottom-width: 0px;
}

.esriCTWebMapBorder
{
    border: 1px solid #ddd;
}

.esriCTDisplayList
{
    padding: 0px;
}

.esriCTWebMapLayer
{
    border-bottom: 1px solid #dfdfdf;
}

.esriCTInfoImg
{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url('../images/info.png');
}

.esriCTInfoImgRight
{
    float: right;
    margin-right: 5px;
    background-position: right bottom;
    position: absolute;
    bottom: 5px;
    right: 0px;
}

.esriCTInfoImgLeft
{
    float: left;
    margin-left: 5px;
    position: absolute;
    bottom: 5px;
    left: 0px;
}

.esriCTDescription
{
    color: #515151;
    padding: 5px 0px 0px 15px;
    overflow-x: auto;
}

.esriCTMultiLineEllipsisdiv
{
    line-height: 18px;
    overflow: hidden;
    position: relative;
    max-height: 36px;
    max-width: 100%;
    word-break: break-word;
}

.esriCTMultiLineFill
{
    background: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
}

.esriCTMediaLeftText
{
    margin-left: 5px;
}

.esriCTInfoHeader
{
    margin-bottom: 5px;
}

.esriCTInfoDetails
{
    padding-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
}

/* End of Web Map List */

/* Data viewer */

.dataTables_wrapper.no-footer .dataTables_scrollBody
{
    border-bottom: 0px solid #111111;
}

.esriCTDataViewerBody
{
    height: 100%;
    overflow: hidden;
    color: #555;
}

.esriCTDataViewer
{
    width: 100%;
    cellspacing: 0;
    padding-left: 5px;
}

.esriCTDataViewerParentDiv, .dataTables_wrapper, .dataTables_wrapper .dataTables_scroll
{
    height: 99.6%;
}

.dataTables_scroll div.dataTables_scrollBody
{
    height: calc(100% - 40px) !important;
}

.sorting_1
{
    background: none !important;
}

.esriCTOperationalLayerName
{
    height: 25px;
    width: calc(100% - 350px);
    margin-top: 16px;
    margin-right: 5px;
    margin-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    color: #fff;
}

.esriCTNoFeature
{
    padding: 10px;
}

table.dataTable th, table.dataTable td
{
    white-space: nowrap;
}

.esriCTRowSelected
{
    background-color: #C8C8C8 !important;
}

table.dataTable thead .sorting
{
    background: url("../images/sort_both.png") no-repeat center right !important;
}

table.dataTable thead .sorting_asc
{
    background: url("../images/sort_asc.png") no-repeat center right !important;
}

table.dataTable thead .sorting_desc
{
    background: url("../images/sort_desc.png") no-repeat center right !important;
}

table.dataTable thead .sorting_asc_disabled
{
    background: url("../images/sort_asc_disabled.png") no-repeat center right !important;
}

table.dataTable thead .sorting_desc_disabled
{
    background: url("../images/sort_desc_disabled.png") no-repeat center right !important;
}

.esriCTNumberAlign
{
    text-align: right;
}

.esriCTHiddenColumn
{
    display: none !important;
}

.esriCTTextInput
{
    width: 100% !important;
    min-width: 200px !important;
    height: 34px;
}

.esriCTDetailsTab
{
    padding-left: 5px;
    padding-top: 5px;
    -webkit-overflow-scrolling: touch;
}

.esriCTDetailsTabImgSpan
{
    margin: 0 5px 5px 0;
    float: left;
    max-width: 110px;
    max-height: 80px;
    overflow: hidden;
}

.esriCTImageLoader
{
    cursor: default;
    display: block;
    background-position: center center;
    background-image: url(../images/list-loader.gif);
    background-repeat: no-repeat;
    width: 110px;
    height: 80px;
}

.esriCTDetailsTabImg
{
    float: left;
}

.row
{
    margin: 0 !important;
}

.esriCTDateTimePicker
{
    width: 200px !important;
}

.esriCTDataHeight
{
    height: 150px;
}

table.dataTable tbody tr
{
    height: 40px !important;
}

.esriCTCodedDomain
{
    height: 34px;
    width: 200px;
}

table.dataTable tbody td
{
    padding: 0px 8px 0px 0px;
}

.form-control
{
    font-size: 11px;
}

.esriCTDetailsContent
{
    padding: 5px 0px 0px 15px;
}

.esriCTDetailsFieldHeader
{
    margin-bottom: 5px;
    margin-top: 5px;
}

.esriCTDetailsFieldValue
{
    padding-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
}
/* End of data viewer */

/* Application Header Styles */
.esriCTHeaderIcons
{
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
    float: right;
    margin: 12px 24px;
    display: inline-block;
}
.esriCTViews:hover
{
    background: #EDEDED;
}

.esriCTSearch
{
    background-image: url('../images/search.png');
}

.esriCTViewMode
{
    background-image: url('../images/mode.png');
}

.esriCTSettingsButton
{
    background-image: url('../images/settings.png');
}

.esriCTOptions
{
    position: absolute;
    background-color: white;
    z-index: 100;
    cursor: pointer;
    width: auto;
    top: 49px;
}

.esriCTItems
{
    padding: 5px;
}

.esriCTItems:hover
{
    background: #EDEDED;
}

.esriCTOptionsSearchMode
{
    padding: 9px 5px 5px 6px;
    right: 60px;
}

.esriCTOptionsViewMode
{
    right: 126px;
    width: 100px;
}

.esriCTSettingsOptions
{
    display: none;
    right: 38px;
}
.esriCTApplicationHeader
{
    width: 100%;
    float: left;
    height: 50px;
    border-bottom: 1px solid;
    background: #d15706;
    color: #fff !important;
}

.esriCTheaderLeft
{
    width: 30%;
    float: left;
    border-right: 1px solid #fff;
}
.esriCTheaderRight
{
    width: 70%;
    float: left;
}

.esriCTHomeIcon
{
    float: left;
    width: 50px;
}

.esriCTMenuTabLeft
{
    font-size: 22px;
    text-shadow: 0px 0px 1px #AAA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 9px 0px 5px 10px;
    float: left;
    width: calc(100% - 50px);
    color: #fff;
}

.esriCTMenuTabRight
{
    float: right;
}

.esriCTMenuTabSecondRight
{
    float: right;
    width: 100%;
}

.esriCTApplicationIcon
{
    min-height: 48px;
    min-width: 48px;
    max-height: 48px;
    max-width: 48px;
}

.esriCTSignInButtonDiv
{
    display: block;
    float: right;
}

.esriCTUserControlContainer
{
    float: right;
}

.esriCTSettingIconContainer
{
    float: left;
}

.esriCTLoginDetailsDiv
{
    height: 40px;
    line-height: 20px !important;
    position: relative;
    right: 5px;
}

.esriCTLoginUserNameDiv
{
    cursor: pointer;
    max-width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    margin-top: 18px;
    float: left;
    margin-left: 10px;
    color: #fff;
}

.esriCTLoginOptionsDiv
{
    display: none;
    right: 0px;
}

.esriCTLogoutOption
{
    display: inline-block;
    border: 1px solid #b4b4b4;
    width: 100px;
    background: #fff;
}

.esriCTCaretIcon
{
    height: 18px;
    width: 18px;
    background-position: center;
    margin-top: 17px;
    display: inline-block;
    float: right;
    margin-left: 5px;
    font-size: 12px;
    color: #fff;
}

.esriCTLoginCredentialsDiv
{
    float: right;
}

.esriCTSearchBox
{
    float: left;
    height: 24px;
    width: 200px;
    border-radius: 0px;
    border: 1px solid grey;
    color: #555;
}

.esriCTSearchButton
{
    background-image: url('../images/data-search.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-right: 2px;
    display: inline-block;
    background-size: 24px;
}

.esriCTSignInButton
{
    background-image: url(../images/sign-in.png);
    height: 24px;
    width: 24px;
}

/* End of application header styles */