html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 11px;
    font-family: Verdana;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.esriCTHeaderFont
{
    font-size: 13px;
}

#mapDiv
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.esriRTL label
{
    /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}

/* esri API Overridden Styles */

.claro .dijitContentPane
{
    padding: 8px 0px 0px 8px;
}

th
{
    font-weight: normal !important;
}

.esriSimpleSliderTL
{
    top: 10px;
    left: auto !important;
    right: 20px;
}

.esriSimpleSlider div
{
    font-weight: normal !important;
    width: 32px;
    height: 31px;
}

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton
{
    margin-bottom: 2px;
    margin-top: 2px;
    border: #fff solid 1 !important;
}

.esriSimpleSlider, .esriSimpleSliderVertical .esriSimpleSliderIncrementButton, .esriSimpleSliderVertical .esriSimpleSliderDecrementButton
{
    border-radius: 0px !important;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton
{
    border: 0px !important;
}

.esriSimpleSlider
{
    background-color: transparent !important;
    color: #fff !important;
    border: #fff solid 0 !important;
}

::-ms-clear
{
    display: none;
}

.mediaSection
{
    padding-bottom: 10px;
}

/* esri API End of Overridden Styles */

/* Main Layout*/

.esriCTNoWebMapParentDiv
{
    display: table;
    height: calc(100% - 48px);
    width: 100%;
}

.esriCTNoWebMapChildDiv
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
}

.esriCTMainContainer
{
    height: calc(100% - 50px);
}

.esriCTLeftContainer
{
    float: left;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    background: #EDEDED;
    -webkit-overflow-scrolling: touch;
}

.esriCTRightContainer
{
    float: left;
    width: 70%;
    height: 100%;
    overflow: hidden;
}

.esriCTUpperContainer
{
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.esriCTDataViewerContainer
{
    height: 100%;
}

.esriCTLowerContainer
{
    width: 100%;
    height: 60%;
    overflow: auto;
}

.esriCTHeaderContainer
{
    height: 48px;
}

.esriCTHideWrapper
{
    display: none !important;
}

/* End of Main Layout*/

/* Loading Indicator */

.loading-indicator
{
    display: none;
    height: 100%;
    width: 100%;
    z-index: 949;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    filter: alpha(opacity = 40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    background-color: #000;
}

.app-loading .loading-indicator
{
    display: block;
    background-position: center center;
    background-image: url(../images/loading-indicator.gif);
    background-repeat: no-repeat;
}

.esriCTHideLoadingIndicatorImage
{
    background-image: none !important;
}

/* End of Loading Indicator */

/* MapViewer */

.esriCTMapViewerBody
{
    height: 100%;
    background: #f0f0f0;
}

.esriCTDetailsButton
{
    width: 32px;
    height: 31px;
    background-image: url(../images/details.png);
    background-size: 32px 31px;
}

.esriCTDetailsBtnDisabled
{
    width: 32px;
    height: 31px;
    background-image: url('../images/details-disabled.png');
    cursor: default !important;
    background-size: 32px 31px;
}

.esriCTLocationButton
{
    width: 32px;
    height: 31px;
    background-size: 32px 31px;
    background-image: url(../images/location.png) !important;
    float: right;
    position: fixed;
    right: 20px;
    margin-top: 10px;
    z-index: 948;
}

.esriCTIncrementButton
{
    width: 32px;
    height: 31px;
    background-image: url('../images/increment.png');
    background-size: 32px 31px;
}

.esriCTDecrementButton
{
    width: 32px;
    height: 31px;
    background-image: url('../images/decrement.png');
    background-size: 32px 31px;
}

.esriSimpleSliderIncrementButton.esriCTIncrementButton.esriCTPointerCursor.esriSimpleSliderDisabledButton
{
    width: 32px;
    height: 31px;
    background-image: url('../images/increment-disabled.png') !important;
    background-size: 32px 31px;
}

.esriSimpleSliderDecrementButton.esriCTDecrementButton.esriCTPointerCursor.esriSimpleSliderDisabledButton
{
    width: 32px;
    height: 31px;
    background-image: url('../images/decrement-disabled.png') !important;
    background-size: 32px 31px;
}

/* End of MapViewer*/

/* Web Map List */

.esriCTDisplayList, .esriCTDisplayWebMapTemplate:hover .esriCTWebMapbgColor
{
    background: #fff;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate:hover .esriCTMediaBody
{
    background: #fff;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate:hover .esriCTMultiLineFill
{
    background: #fff;
}

.esriCTWebMapbgColor
{
    background: #f0f0f0;
    padding-right: 0px;
}

.esriCTWebMapImg
{
    height: 80px;
    width: 120px;
    border: 1px solid #ccc;
}

.esriCTWebMapListParentDiv
{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.esriCTDisplayList, .esriCTDisplayWebMapTemplate
{
    display: block;
    background: #f0f0f0;
    padding: 5px;
}

.esriCTDisplayWebMapTemplate
{
    border-left: none !important;
}

.esriCTMediaBorder
{
    border-top: 1px solid #ccc;
}

.esriCTMediaBody
{
    display: table-cell !important;
    background: #f0f0f0;
    vertical-align: middle;
    width: 100%;
    word-wrap: break-word;
    position: relative;
}

.esriCTWebmaplistContents
{
    height: 40px;
    padding: 8px 0 0 0;
}

.esriCTWebMapLayerTitle
{
    margin-left: 25px;
    line-height: 24px;
}

.esriCTWebMapBorder
{
    border-bottom: 1px solid #ccc;
}

.esriCTDisplayList
{
    padding: 0px;
}

.esriCTWebMapLayer
{
    border-bottom: 1px solid #ccc;
}

.esriCTInfoImg
{
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    background-image: url('../images/info.png');
}

.esriCTInfoImgRight
{
    display: table-cell !important;
    float: right;
    width: 16px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}

.esriCTDescription
{
    color: #515151;
    padding: 3px 15px !important;
    overflow-x: auto;
}

.esriCTMultiLineEllipsisdiv
{
    line-height: 19px;
    overflow: hidden;
    position: relative;
    max-height: 38.3px;
    max-width: 100%;
    word-break: break-word;
    margin-left: 10px;
}

.esriCTMultiLineFill
{
    position: absolute;
    height: 100%;
    width: 100%;
}

.esriCTInfoHeader
{
    margin-bottom: 5px;
}

.esriCTInfoDetails
{
    padding-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
}

.esriCTSelectedItem
{
    font-weight: bold;
    background: #fff;
}

.esriCTDetailsContainerParent
{
    display: table;
    width: 100%;
}

.esriCTDetailsContainerRow
{
    display: table-row;
}

.esriCTDetailsContainerCell
{
    display: table-cell;
    width: 100%;
}

.esriCTWebMapLayer:hover
{
    background: #fff;
}

.esriCTRightArrow
{
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    display: inline-block;
    background-image: url(../images/right-arrow.png);
    float: right;
}

/* End of Web Map List */

/* Data viewer */

.dataTables_wrapper.no-footer .dataTables_scrollBody
{
    border-bottom: 0px solid #111111;
}

.esriCTDataViewerBody
{
    height: 100%;
    overflow: hidden;
    color: #555;
    padding-bottom: 1px;
}

.esriCTDataViewer
{
    width: 100%;
    cellspacing: 0;
    table-layout: fixed;
}

.esriCTDataViewerParentDiv, .dataTables_wrapper, .dataTables_wrapper .dataTables_scroll
{
    height: 100%;
}

.dataTables_scroll div.dataTables_scrollBody
{
    height: calc(100% - 37px) !important;
    cursor: default !important;
}

.sorting_1
{
    background: none !important;
}

.esriCTOperationalLayerName
{
    height: 25px;
    width: calc(100% - 425px);
    margin-top: 16px;
    margin-right: 5px;
    margin-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    color: #fff;
}

.esriCTNoFeature
{
    padding-left: 5px;
    padding-top: 10px;
    cursor: default;
}

table.dataTable thead > tr > th
{
    border-right: 1px solid #dddddd;
}

table.dataTable
{
    margin-top: 0px !important;
}

table.dataTable tbody > tr > td, table.dataTable thead > tr > th
{
    padding-left: 8px;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td
{
    border-right: 1px solid #dddddd;
    border-top: none;
    border-bottom: 1px solid #cccccc;
}

table.dataTable th, table.dataTable td
{
    white-space: nowrap;
}

table.dataTable thead .sorting
{
    background: url("../images/sort_both.png") no-repeat center right !important;
}

table.dataTable thead .sorting_asc
{
    background: url("../images/sort_asc.png") no-repeat center right !important;
}

table.dataTable thead .sorting_desc
{
    background: url("../images/sort_desc.png") no-repeat center right !important;
}

table.dataTable thead .sorting_asc_disabled
{
    background: url("../images/sort_asc_disabled.png") no-repeat center right !important;
}

table.dataTable thead .sorting_desc_disabled
{
    background: url("../images/sort_desc_disabled.png") no-repeat center right !important;
}

.esriCTHiddenColumn
{
    display: none !important;
}

.esriCTTextInput
{
    width: 100% !important;
    min-width: 200px !important;
    height: 34px;
    padding-left: 12px !important;
}

.esriCTDetailsTab
{
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.esriCTcommentsContainerDiv
{
    border-bottom: 1px solid #ccc;
}

.esriCTcommentsParentDiv
{
    background: #f0f0f0;
    border-top: 1px solid #ccc;
}

.esriCTNoCommentsAvailable
{
    border-bottom: 0px !important;
}

.esriCTDetailsTabImgSpan
{
    margin: 0 5px 5px 10px;
    float: left;
    max-width: 110px;
    max-height: 80px;
    overflow: hidden;
}

.esriCTImageLoader
{
    cursor: default;
    display: block;
    background-position: center center;
    background-image: url(../images/list-loader.gif);
    background-repeat: no-repeat;
    width: 110px;
    height: 80px;
}

.esriCTDetailsTabImg
{
    float: left;
}

.row
{
    margin: 0 !important;
}

.esriCTDateTimePicker
{
    min-width: 200px !important;
    width: 100%;
}

.esriCTDataHeight
{
    height: 150px;
}

table.dataTable tbody tr
{
    height: 40px !important;
}

.esriCTCodedDomain
{
    height: 34px;
    min-width: 200px;
    width: 100%;
}

table.dataTable tbody td
{
    padding: 0px 8px 0px 0px;
}

.form-control
{
    font-size: 11px;
}

.esriCTPopupContent
{
    background-color: #fff;
    overflow: visible;
    padding-bottom: 10px !important;
}

.esriCTDetailsContent
{
    padding-top: 15px;
    background: #fff;
}

.esriCTAttachmentsContainer
{
    border-top: 1px solid #ccc;
}
.esriCTDetailsFieldHeader
{
    font-weight: bold;
    margin: 10px 10px 5px 10px;
    word-wrap: break-word;
}

.esriCTDetailsFieldValue
{
    padding: 5px 0 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #ccc;
}

.ui-resizable-s
{
    cursor: row-resize;
}

.esriCTCustomPopupDiv
{
    margin: 5px 15px 5px 0px;
}

.esriCTDataViewerTableCellContent
{
    overflow: hidden;
    white-space: nowrap;
    min-width: 250px !important;
}

.esriCTDataViewerTableHeaderContent
{
    overflow: hidden;
    white-space: nowrap;
    min-width: 250px !important;
}

.esriCTDataViewerTableHeaderCheckbox
{
    width: 10px !important;
}

table.dataTable thead .esriCTDataViewerTableHeaderCheckbox
{
    background: none !important;
}

.esriCTInfoLink
{
    color: blue;
    text-decoration: underline;
    margin: 0 auto;
    cursor: pointer;
}

.esriCTCheckBoxColumn
{
    overflow: hidden;
    white-space: nowrap;
    width: 10px !important;
}

.attachmentsSection
{
    display: none;
}

/* End of data viewer */

/* Application Header Styles */

.esriCTHeaderIcons
{
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
    float: right;
    margin: 12px 24px;
    display: inline-block;
}

.esriCTViews:hover
{
    background: #EDEDED;
}

.esriCTSearch
{
    background-image: url('../images/search.png');
}

.esriCTSearchDisable
{
    background-image: url('../images/search-disable.png');
    cursor: default !important;
}

.esriCTViewMode
{
    background-image: url('../images/mode.png');
    float: left;
    margin-right: 0px;
}

.esriCTSettingsButton
{
    background-image: url('../images/settings.png');
    float: left;
    margin-right: 0px;
}

.esriCTManualRefreshButton
{
    background-image: url('../images/refresh.png');
}

.esriCTOptions
{
    position: absolute;
    background-color: white;
    z-index: 100;
    cursor: pointer;
    width: auto;
    top: 49px;
}

.esriCTItems
{
    padding: 5px;
}

.esriCTItems:hover
{
    background: #EDEDED;
}

.esriCTOptionsSearchMode
{
    padding: 9px 5px 5px 6px;
    right: 25px;
    cursor: default;
}

.esriCTOptionsViewMode
{
    right: 126px;
    min-width: 100px;
}

.esriCTSettingsOptions
{
    display: none;
    right: 38px;
}
.esriCTApplicationHeader
{
    width: 100%;
    float: left;
    height: 50px;
    border-bottom: 1px solid;
    color: #fff !important;
}

.esriCTheaderLeft
{
    width: 30%;
    float: left;
    border-right: 1px solid #fff;
    height: 100%;
}
.esriCTheaderRight
{
    width: 70%;
    float: left;
}

.esriCTHomeIcon
{
    float: left;
    height: 48px;
    max-width: 100%;
    overflow: hidden;
}

.esriCTMenuTabLeft
{
    font-size: 22px;
    text-shadow: 0px 0px 1px #AAA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 9px 0px 5px 10px;
    color: #fff;
}

.esriCTMenuTabRight
{
    float: right;
}

.esriCTMenuTabSecondRight
{
    float: right;
    width: 100%;
}

.esriCTApplicationIcon
{
    min-height: 48px;
    min-width: 48px;
    max-height: 48px;
}

.esriCTUserControlContainer
{
    float: right;
}

.esriCTSettingIconContainer
{
    float: left;
}

.esriCTLoginDetailsDiv
{
    height: 40px;
    line-height: 20px !important;
    position: relative;
    right: 5px;
}

.esriCTLoginUserNameDiv
{
    cursor: pointer;
    max-width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    margin-top: 18px;
    float: left;
    margin-left: 10px;
    color: #fff;
}

.esriCTLoginOptionsDiv
{
    display: none;
    right: 0px;
}

.esriCTLogoutOption
{
    display: inline-block;
    border: 1px solid #b4b4b4;
    min-width: 100px;
    background: #fff;
}

.esriCTCaretIcon
{
    height: 18px;
    width: 18px;
    background-position: center;
    margin-top: 17px;
    display: inline-block;
    float: right;
    margin-left: 5px;
    font-size: 12px;
    color: #fff;
}

.esriCTViewModeCaretIcon
{
    height: 18px;
    width: 18px;
    background-position: center;
    margin-top: 17px;
    display: inline-block;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    color: #fff;
}

.esriCTSettingsButtonCaretIcon
{
    height: 18px;
    width: 18px;
    background-position: center;
    margin-top: 17px;
    display: inline-block;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    color: #fff;
}

.esriCTSettingsButtonCaretIconDisabled
{
    height: 18px;
    width: 18px;
    background-position: center;
    margin-top: 17px;
    display: inline-block;
    float: left;
    margin-left: 5px;
    font-size: 12px;
    color: #CACACA;
    cursor: default !important;
}

.esriCTLoginCredentialsDiv
{
    float: right;
}

.esriCTSearchBox
{
    float: left;
    height: 24px;
    width: 200px;
    border-radius: 0px;
    border: 1px solid #ddd;
    color: #555;
    padding-left: 5px;
}

.esriCTClearBtn
{
    background: url('../images/clear-text-24.png') no-repeat center;
    height: 24px;
    width: 24px;
    background-size: 24px;
    cursor: pointer;
    position: inherit;
    background-color: #fff;
    float: left;
}

.esriCTClearDiv
{
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    cursor: pointer;
}

.esriCTSearchButton
{
    background-image: url('../images/data-search-24.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-right: 2px;
    display: inline-block;
    background-size: 24px;
    margin-left: 2px;
}

.esriCTNoResults
{
    color: #555;
}

.esriCTSettingsButtonDisabled
{
    background-image: url('../images/settings-disable.png') !important;
    cursor: default !important;
    float: left;
    margin-right: 0px;
}

.esriCTViewModeParentContainer
{
    float: right;
}

.esriCTSettingsButtonParentContainer
{
    float: right;
}

/* End of application header styles */

/* Sign out */

.esriCTSignOut
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.esriCTSignOutParentDiv
{
    display: table;
    height: 100%;
    width: 100%;
}

/* Sign out */

/* Checkbox styling */

.esriCTCheckBoxParentContainer
{
    margin: 0px 2px 18px !important;
}

/* Base for label styling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked
{
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label
{
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 1px solid #777;
    background: #f8f8f8;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after
{
    content: url('../images/check-mark-14.png');
    position: absolute;
    top: 2px;
    left: 3px;
    font-size: 14px;
    color: #09ad7e;
    transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after
{
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after
{
    opacity: 1;
    transform: scale(1);
}

/* hover style just for information */
label:hover:before
{
    border: 1px solid #4778d9 !important;
}

/* Checkbox styling */