.esriCTApplicationColor, .esriCTApplicationHeader
{
    color: ${SelectedThemeColor} !important;
}

.esriCTBGColor, .esriCTCustomButtonInner
{
    background-color: ${SelectedThemeColor} !important;
}

.esriCTBorder, .esriCTBorderLeft, .esriCTBorderTop, .esriCTBorderRight, .esriCTBorderBottom
{
    border-color: ${SelectedThemeColor} !important;
}

.esriCTheaderRight
{
    background-color: ${SelectedThemeColor} !important;
}

/* ESRI API Overridden Styles */

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton
{
    background-color: ${SelectedThemeColor} !important;
}

/* End of ESRI API Overridden Styles */

/* Data viewer */

.esriCTRowActivated
{
    background-color: ${ActivatedRowColor} !important;
}

/* End of Data viewer */