.esriCTApplicationColor, .esriCTApplicationHeader
{
    color: ${SelectedThemeColor} !important;
}

.esriCTBGColor, .esriCTCustomButtonInner
{
    background-color: ${SelectedThemeColor} !important;
}

.esriCTBorder, .esriCTBorderLeft, .esriCTBorderTop, .esriCTBorderRight, .esriCTBorderBottom
{
    border-color: ${SelectedThemeColor};
}

/* esri API Overriden Styles */

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton
{
    background-color:${SelectedThemeColor}  !important;
}

/* esri API End of Overriden Styles */

/* Data viewer */

.esriCTRowActivated
{
    background-color:${ActivatedRowColor}  !important;
}

/* End of data viewer */