/* Theme style CSS starts */

/** Application color starts **/

.esriCTApplicationColor
{
    color: ${SelectedThemeColor} !important;
}

/** Application color ends **/

/** Application header starts **/

.esriCTApplicationHeaderContainer
{
    background-color: ${SelectedThemeColor} !important;
}

/** Application header ends **/

/** Background starts **/

.esriCTBGColor
{
    background-color: ${SelectedThemeColor} !important;
}

.esriCTBGLightColor
{
    background-color : ${LighterShadeThemeColor} !important;
}

/** Background ends **/

/** Border starts **/

.esriCTBorder, .esriCTBorderLeft, .esriCTBorderTop, .esriCTBorderRight, .esriCTBorderBottom
{
    border-color: ${SelectedThemeColor} !important;
}

/** Border ends **/

/** Time Slider start **/

.claro .dijitSlider .dijitSliderProgressBarH
{
    background-color: ${SelectedThemeColor} !important;
}

/** Time Slider Ends **/

/* Data viewer */

.esriCTRowHighlighted
{
    background-color: ${HighlightedRowColor} !important;
}

/* Data viewer ends */

/* Details panel starts */

.esriCTDetailsPanelWrapperContainer .nav-tabs>li>a:hover
{
    border-top-color: ${SelectedThemeColor};
    background-color: ${LighterShadeThemeColor};
}

.esriCTPostPopupButton:hover, .esriCTPostPopupButton, .esriCTPostCommentButton, .esriCTPostCommentButton:hover
{
      background-color: ${SelectedThemeColor} !important;
}

.esriCTCancelPopupButton:hover,.esriCTCancelCommentButton:hover
{
    color: ${SelectedThemeColor} !important;
}

#commentsTotalCount.badge
{
    background-color: ${SelectedThemeColor} !important;
}

/* Details panel ends */

/* Theme style CSS ends */