html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body{
  font-size: 14px;
  overflow: hidden;
}
/*Header Fonts*/
@font-face {
  font-family: 'open_sanssemibold';
  src: url('../font/OpenSans-Semibold-webfont.eot');
  src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../font/OpenSans-Regular-webfont.eot');
  src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Regular-webfont.woff') format('woff'),
    url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Icon Fonts*/
@font-face {
  font-family: 'social';
  src:url('../font/social.eot?89188943');
  src:url('../font/social.eot?89188943#iefix') format('embedded-opentype'),
    url('../font/social.ttf?89188943') format('truetype'),
    url('../font/social.woff?89188943') format('woff'),
    url('../font/social.svg?89188943#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e801";
}
.icon-facebook:before {
  content: "\e800";
}
.icon-link:before {
  content: "\e802";
}
.icon-down:before {
  content: "\e804";
}
.icon-up:before {
  content: "\e803";
}

/*Esri widget style updates*/
#search{
  position: absolute;
  top:120px;
  left:20px;
  z-index: 40;
}
.arcgisSearch .searchGroup .searchInput {
  width: 200px;
  padding: 6px 17px 6px 18px;
  zoom: 1;
 }

 .arcgisSearch .searchCollapsed .searchSubmit{

  border-radius: 0;
 }
 .arcgisSearch .searchBtn{
  padding:6px 5px;
 }
.arcgisSearch .searchExpandContainer .searchBtn{
  padding:6px 12px;
}
.HomeButton {
  border-bottom: 1px solid #57585a;
  width: 30px;
  height: 30px;
}
.HomeButton .home {
  background-color: #6c6d70;
  background: url("../images/home_locate.png") no-repeat 0 0;
}
.HomeButton .home {
  padding: 0px !important;
  width: 30px;
  height: 30px;
}

.HomeButton .home:hover {
  background-color: #eee;
  width: 30px;
  height: 30px;
  padding: 0px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.esriSimpleSlider{
  border-radius: 2px !important;
}

/*Header styles (title, logo, subtitle, social links)*/
#header{
  margin:0;
  overflow: hidden;
}
#headerText{
  font-family: "open_sanssemibold", sans-serif;
  padding-top:10px;
  padding-left:16px;
  width:70%;
  float:left;
}
.esriRTL #headerText{
  float:right;
  padding-right:25px;
}
#title{
  height:45px;
  padding-left:4px;
  padding-top:3px;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
}
.esriRTL #title{
  text-align: right;
}
html, body, h1, h2, h3, h4, h5, h6, p, ul, form {
    margin: 0;
}
#subtitle{
  padding-left:4px;
  line-height: 18px;
  word-wrap:break-word;
  height:54px;
  font-size: 13px;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto !important;
}
@media (max-width: 600px){
  .socialArea{
    visibility: hidden;
  }
}
.esriRTL .socialArea{
  right:auto;
  left:0;
  text-align: left;
  padding-right: 0;
  padding-left:20px;
}
.socialArea{
  position: absolute;
  right:0;
  top:0;
  padding-top:22px;
  padding-right:20px;
  text-align: right;
}
.linkContainer{
  font-family: "open_sansregular",sans-serif;
  font-size: 14px;
  height:21px;
  line-height: 21px;
  text-align: right;
}
.linkContainer a{
  margin-right:8px;
  color: inherit !important;
  font-weight: 400;
}
.esriRTL .logoContainer{
  float:left;
}
.logoContainer{
  height:60px;
  float:right;
  margin-top:5px;
}
.logoWrapper{
  height:50px;
  vertical-align: middle;
}
.logoLink{
  outline:none;
}
a {
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
.logoImg{
  max-width: 250px;
  max-height: 50px;
}
img{
  border:none;
  vertical-align: middle;
}
.shareIcon {
  display: none;
  cursor: pointer;
  margin-left: 0;
  color: #CECECE;
  vertical-align: 0px;
}

.shareIcon.active {
  display: inline-block;
}

.shareBtns > .shareIcon ~ .shareIcon {
  margin-left: 4px;
}

.shareIcon:hover {
  color: #ACACAC;
}

.share_bitly {
  vertical-align: 1px;
  margin-left: 2px;
}
.shareIcon[class^="icon-"]:before, .shareIcon[class*=" icon-"]:before {
  font-size: 120%;
  margin: 0 !important;
}

.social .popover-title {
  display: none;
}

#bitlyInput {
  font-family: sans-serif !important;
}

#bitlyInput::-ms-clear {
  display: none;
}

.dijitTooltipContainer{
  font-family: Arial, sans-serif;
}
#mapDiv {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#legendCon{
  position: absolute;
  width:300px !important;
  margin-left:100px;
  border:none;
  z-index: 100;
}
#legendDiv{
  font-family: "open_sansregular", sans-serif;
  background: #fff;
  max-height: 410px;
  overflow: auto;
  padding:10px;
}
@media only screen and (max-device-width:480px){
  #legendDiv{
    max-height:300px;
  }
}
#legendToggle{
  position: relative;
  margin-top:-1px;
  width:100%;
  height:28px;
  cursor:pointer;
  z-index: 100;
}
.toggle-icon{
  font-family: "social";
  font-weight: 900;
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  top:2px;
  left:5px;
}
#legTogText{
  font-size: 14px;
  line-height: 18px;
  font-family: "open_sansregular", sans-serif;
  position: relative;
  margin:auto;
  margin-left:30px;
  margin-top:0px;
  padding:5px;
}

.esriRTL label {
  /*Example of a rule that will be applied if the app is viewed in a browser with a RTL locale like Hebrew or Arabic.*/
}
.esriPopup .pointer.bottom{
  background:#f7f7f7 !important;
}
.loading-indicator {
  /* Loading status */
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
}
.app-loading .loading-indicator,
.app-error .loading-indicator {
  /* Show this class when loading or error */
  display: block;
}
.app-loading .loading-indicator {
  /* Loading image */
  background-position: center center;
  background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
}
.app-error .loading-message {
  /* Error status */
  background-position: top center;
  background-image: url(../images/error.png);
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 0;
  text-align: center;
}