<div data-dojo-attach-point="divLocateContainer" class="esriCTLocateContainer esriCTMapSearchContainer">
    <div data-dojo-attach-point="location_tabs" class="tab-content">
        <div data-dojo-attach-point="address">
            <div class="form-group">
                <div class="input-group">
                    <input data-dojo-attach-point="txtSearch" type="text" class="form-control esriCTTxtSearch esriCTTxtMapSearch">
                    <div class="input-group-btn" data-dojo-attach-point="geocoder_buttons">
                        <div class="esriCTSearchButton esriCTPointerCursor esriCTLocatorSearchButton "
                            data-dojo-attach-point="searchSubmit">
                        </div>
                    </div>
                    <div class="esriCTSearchClose" data-dojo-attach-point="clearhide">
                        <span class="esriCTClearInput" data-dojo-attach-point="close"></span><span data-dojo-attach-point="imgSearchLoader"
                            class="esriCTSearchLoader"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="divResultContainer" class="esriCTResultContainer esriCTHidden">
    </div>
</div>
