<div data-dojo-attach-point="galleryandPannels" class="esriCTGalleryContent">
    <div class="esriCTLeftPanel">
        <div data-dojo-attach-point="groupPanel" class="esriCTInnerLeftPanelTop displayNone">
            <div data-dojo-attach-point="groupDescPanelHeader" class="esriCTGalleryNameSample">
            </div>
            <div class="esriCTLogo">
                <img data-dojo-attach-point="groupLogo" alt="${nls.groupLogoText}" class="esriCTGroupLogo" /></div>
            <div data-dojo-attach-point="groupName" class="esriCTLeftPanelHeader">
            </div>
            <div class="esriCTLeftText">
                <div class="esriCTLeftPanelDesc">
                    <div data-dojo-attach-point="groupDesc" class="esriCTPanelDesc">
                    </div>
                </div>
                <span class="esriCTExpand" data-dojo-attach-point="expandGroupDescription"></span>
            </div>
        </div>
        <div class="esriCTInnerLeftPanelBottom displayNone">
            <div data-dojo-attach-point="sortByLabelMbl" class="esriCTTopPanel sortByLabelMbl">
                <div data-dojo-attach-point="leftPanelHeader" class="esriCTGalleryNameCategories">
                </div>
                <div class="esriCTSortByContainer">
                </div>
            </div>
            <div data-dojo-attach-point="tagsCategoriesContent" style="display: none;">
                <div class="esriCTCategoriesHeader esriCTTopPanel">
                    <div data-dojo-attach-point="tagsCategories" class="esriCTCategoriesMedia">
                    </div>
                </div>
                <div class="esriCTPadding">
                    <div data-dojo-attach-point="tagsCategoriesCloud" class="esriCTCategories">
                    </div>
                </div>
            </div>
            <div data-dojo-attach-point="geographicTagsContent" style="display: none;">
                <div class="esriCTCategoriesHeader esriCTTopPanel">
                    <div data-dojo-attach-point="geoTagsCloudHeader" class="esriCTCategoriesMedia">
                    </div>
                </div>
                <div class="esriCTPadding">
                    <div data-dojo-attach-point="geoTagsCloud" class="esriCTCategories">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
